#jbrowser                               { font-size:1em; display:none; height:100%; }
#jbrowser .tab                          { font-size:1em; height:3.8em; float:left; border-radius:.2em; overflow:hidden; margin:.05em 0 .05em .05em; background-color: #DDD;}
#jbrowser .tab div.icon.s               { background-color:#222; }
#jbrowser .tab div.elt                  { font-size:1em; float:left; }
#jbrowser .tab div.icon                 { padding:.06em; border-radius:.2em; width:1em; height:1em; overflow:hidden; cursor:pointer; float:left; }
#jbrowser .brtoggle						{ text-align:center; cursor:pointer; background-color:black; color:white; opacity:0.2; }
#jbrowser .brtoggle.s					{ background-color:red; opacity:1; }
#jbrowser #brargs                       { width:72%; font-size:.4em; height:9.6em; position:relative; }
#jbrowser .brinput                      { width:45%; height:1.2em; background-color:#888;  margin:.1em 0 0 2%; color:white; border:0; border-radius:.2em; padding-left:2%; float:left; font-size:1em;}
#jbrowser input.brinput					{ width:40%; border-radius:.2em 0 0 .2em; }
#jbrowser input.brinput.brlarge         { width:89%; }
#jbrowser .brdel						{ width:5%; height:1.2em; background-color:#333; float:left; border-radius:0 .2em .2em 0; margin-top:.1em; cursor:pointer; }
#jbrowser #bractivities					{ width:47%; }

#jbrowser #brargs #brcount				{ float:right; margin-right:25%; margin-top:12%; font-size:2.5em; }

#jbrowser #brargs .brparam				{ margin-top:.2em; }
#jbrowser #brargs .brparam>*			{ float:left; }
#jbrowser #brargs .brparam .brpalabel	{ width: 4.4em; margin-left:.5em; }
#jbrowser #brargs .brparam .brtoggle	{ width:1.2em; height:1.2em; margin-left:.1em; }
#jbrowser #brargs .brarg				{ font-size:.8em; width:47%; margin-left:2%; border-radius:.2em; margin-top:.2em; cursor:pointer; }

#jbrowser #brargs #brnumber				{ text-align:center; background-color:gray; color:white; }
#jbrowser #brargs #brnumber.s0:after    { content:"500"; }
#jbrowser #brargs #brnumber.s1:after    { content:"100"; }
#jbrowser #brargs #brnumber.s2:after    { content:"025"; }
#jbrowser #brargs #brnumber.s3:after    { content:"005"; }

#jbrowser #jsubmit                      { font-size:4em; width:1em; height:1em; position:absolute; top:59%; left:83%; opacity:0.1; }
.upd #jbrowser #jsubmit                 { cursor:pointer; opacity: 1; }
#jbrowser #brview						{ font-size:2em; cursor:pointer; float:right; margin-right:.5em;}


/* CLASSIFICATION */
#jbrowser #ontab                        { width:25%; position:relative; }
#jbrowser #ontab #onmask				{ position:absolute; top:0; left:0; width:100%; height:100%; background-color:gray; display:none;  }
#jbrowser #ontab .content               { width:100%; }
#jbrowser #ontab .content .elt     	    { float:none; font-size:.4em; width:105%; cursor:pointer; }
#jbrowser #ontab .content .elt .l       { float:left; margin-left:.5em; font-size:.6em; margin-top:.25em; }
#jbrowser #ontab .jheader               { font-size:.2em; font-weight:bold; color:white; width:100%; height:2em; white-space:nowrap; background-color:gray; }
#jbrowser #ontab .jheader #onlabel		{ margin-left:.5em; margin-top:.2em; }
#jbrowser #ontab .jheader #ontoggle		{ font-size:1.4em; width:1.4em; height:1.4em; margin-right:.5em; float:right;   }
		
		
#jbrowser #jhstab                       { clear:both; margin-left:.5em; width:62.5em; text-align:center; color:white;
                                          height:1.4em; background-color:gray; font-size:.2em; font-weight:bold; cursor:pointer;
                                          border-radius:.5em; }
#jbrowser #jhstab:after                 { content:"-"; }
#jbrowser #patab .small div             { height:1.2em; margin-top:0.1em; font-size:0.8em;}



#jbrowser #jresults                     { width:31.4em; height:9.5em; margin:.2em .15em; font-size:.4em;
                                          background-color:#EEE; clear:both; border-radius:.5em; overflow:auto;
                                          position:relative; }
#jbrowser #jresults #orderby            { padding-left:1em; font-size:.5em; border:1px solid gray; border-width:0 0 1px 0; }
#jbrowser #jresults #orderby span		{ float: left; font-size:1.5em;}
#jbrowser #jresults #orderby select     { float:left; border:0; background: transparent; width:7em; cursor:pointer; color:black;}

#jbrowser #jdata>div.elt      { padding:.1em; }
#jbrowser #jdata>div.elt.s    { background-color:#555; }
#jbrowser #jdata>div.elt>*    { float:left; margin-right:.1em; }
#jbrowser #jdata .title              { width:4em; height:3em; background-color:gray; position:relative; cursor:pointer;
                                          background-image:url('../res/img/background/asset/nosnapshot01.svg');background-repeat:no-repeat; }
#jbrowser #jdata .title>img          { width:4em; height:3em; }
#jbrowser #jdata .title .id          { position:absolute; color:black; width:5.5em; background-color:white; top:.3em; left:-0.1em;
                                          padding-left:.5em; border-radius:0 .5em .5em 0;border:1px solid black; font-size:.4em; }
#jbrowser #jdata .title .nb          { position:absolute; color:black; width:1.5em; background-color:white; top:5.8em; left:-0.1em;
                                          padding-left:.5em; border-radius:0 .5em .5em 0;border:1px solid black; font-size:.4em; }
#jbrowser #jdata .activity           { width:3em; height:3em; cursor:pointer; }
#jbrowser #jdata .parameter          { width:3.1em; height:3em; }
#jbrowser #jdata .parameter>div      { font-size:1.4em; float:left; width:1em; height:1em; margin:0.03em; text-align:center;
                                          background-image:url("../res/img/icon/icon.svg"); }
#jbrowser #jdata .parameter>div.time { background-image:url("../res/img/icon/duration.svg"); }
#jbrowser #jdata .label              { background-color:white; height:3em; width:15em; }
#jbrowser #jdata .label>div          { font-size:.5em; }
#jbrowser #jdata .label div.m        { height:4.6em; }
#jbrowser #jdata .label div.ref      { margin-right:.2em; float:right; font-weight:bold; cursor:pointer; }
#jbrowser #jdata .label div.variant  { margin-left:.2em; float:left; font-style:italic; cursor:pointer; }
#jbrowser #jdata .label .tag         { color:blue; cursor:pointer; }
#jbrowser #jdata .context            { width:3em; height:3em; }
#jbrowser #jdata .context>div        { font-size:1.4em; float:left; width:1em; height:1em; margin:0.03em; background-color:gray;
                                          cursor:pointer; border-radius:.2em; }
                                          
#jbrowser #jdata.brsnap .label			{ display:none; }
#jbrowser #jdata.brsnap .context		{ display:none; }
#jbrowser #jdata.brsnap .parameter		{ display:none; }
#jbrowser #jdata.brsnap .activity		{ display:none; }
#jbrowser #jdata>div.elt				{ float:left; }






#jbrowser #jbrmenu                      { width:31.5em;  height:1.4em; background-color:gray; color:white;
                                          border-radius:.4em; font-size:.4em; margin-left:.15em;}

#jbrowser #jbrmenu>div                  { margin:.1em; cursor:pointer; font-size:.8em; border:1px solid white; color:white;
                                          width:4em; height:1.2em; float:left; text-align:center; border-radius:.2em;}
#jbrowser.reduce #jhstab:after          { content:"+"; }
#jbrowser.reduce #jtab                  { display:none; }
#jbrowser.reduce #jresults              { height:19.3em; }

