@keyframes anim                 {  0% {margin-top:0;    }  8% {margin-top:-1em; } 17% {margin-top:-2em; }
                                  25% {margin-top:-3em; } 33% {margin-top:-4em; } 42% {margin-top:-5em; }
                                  50% {margin-top:-6em; } 58% {margin-top:-7em; } 67% {margin-top:-8em; }
                                  75% {margin-top:-9em; } 83% {margin-top:-10em;} 92% {margin-top:-11em;} }
@-webkit-keyframes anim         {  0% {margin-top:0;    }  8% {margin-top:-1em; } 17% {margin-top:-2em; }
                                  25% {margin-top:-3em; } 33% {margin-top:-4em; } 42% {margin-top:-5em; }
                                  50% {margin-top:-6em; } 58% {margin-top:-7em; } 67% {margin-top:-8em; }
                                  75% {margin-top:-9em; } 83% {margin-top:-10em;} 92% {margin-top:-11em;} }
/*---------------------------------------------------------------------------------------------------------------------------*/
*                               { margin:0; padding:0; overflow:hidden; outline:none;
                                  -webkit-touch-callout: none;
                                  -webkit-tap-highlight-color: rgba(0,0,0,0);
                                  -webkit-text-size-adjust: none; }
body                            { font-size:14px; background-color:black; overflow:hidden;
                                  font-family:"Times New Roman", Times, serif;}
a                               { color:inherit; text-decoration:none; border:none; outline:none; }
img                             { border:none; outline: none; }
body>div                        { background-color: black; margin:0 auto; width:16em; height:12em; position:relative; display:none;}
select                          { appearance:none; -webkit-appearance:none; -moz-appearance:none; }
textarea                        { resize:none; }
math                            { display: block; text-align: center; }

.icon                           { width:1em; height:1em; }
/*---------------------------------------------------------------------------------------------------------------------------*/
.anim12                         { width:1em; height:1em; position:absolute; display:none; }
.anim12 div                     { position:relative; width:1em; height:12em;
                                  animation-duration: 1s; animation-name:anim;
                                  animation-timing-function:step-start; animation-iteration-count:infinite;
                                  animation-play-state:paused;
                                  -webkit-animation-duration: 1s; -webkit-animation-name:anim;
                                  -webkit-animation-timing-function:step-start; -webkit-animation-iteration-count:infinite;
                                  -webkit-animation-play-state:paused; }
.anim12 div.running             { animation-play-state:running; -webkit-animation-play-state:running; }

#touch01                        { position:absolute; width:1em; height:1em; font-size:4em; display:none; }
#touch01 div                    { position:relative; width:1em; height:12em; margin-top:1em;
                                  animation-duration: 0.5s; animation-name:anim;
                                  animation-play-state:paused; animation-timing-function:step-start;
                                  -webkit-animation-duration: 0.5s; -webkit-animation-name:anim;
                                  -webkit-animation-timing-function:step-start; -webkit-animation-play-state:paused; }
#touch01 div.running            { animation-play-state:running; -webkit-animation-play-state:running; }

/*---------------------------------------------------------------------------------------------------------------------------*/
#launcher                       { width:100%; height:100%; background-color:black; position:absolute; top:0; left:0; display:none;
                                  z-index:2000;}
#launcher #quit                 { font-size:.8em; width:1em; height:1em; position:absolute; top:0; left:0; cursor:pointer; z-index:2001;}
#launcher #activity             { width:100%; height:100%; position:relative;
                                  -webkit-touch-callout: none;  -webkit-user-select: none;  -khtml-user-select: none;
                                  -moz-user-select: none;       -ms-user-select: none;      user-select: none;
                                }
#score                          { width:100%; height:100%; position:absolute; top:0; left:0;
                                  z-index:2002; background-image:url("../res/img/banners/score.svg");display:none; }
#score .value                   { width:1em; height:1em; text-align:center; position:absolute; font-weight:bold; overflow:visible;
                                  font-size:3em; opacity:1; top:8%; left:25%; }


#score.s5 .value:before         { content:"A"; color:red;}
#score.s4 .value:before         { content:"B"; color:orange;}
#score.s3 .value:before         { content:"C"; color:green;}
#score.s2 .value:before         { content:"D"; color:blue;}
#score.s1 .value:before         { content:"E"; color:purple;}
#score.s0 .value:before         { content:"F"; color:rgb(64,64,64);}
#score .stars                   { width:100%; height:100%; position:absolute; top:0; left:0; }
#score.s5 .stars         { background-image:url("../res/img/banners/score3.svg"); }
#score.s4 .stars         { background-image:url("../res/img/banners/score2.svg"); }
#score.s3 .stars         { background-image:url("../res/img/banners/score1.svg"); }
#score .icon                    { width:1em; height:1em; font-size:1.6em; position:absolute; cursor:pointer; top:49.5%;}
#score #reload                  { left:6.6em; }
#score #menu                    { left:7.7em; }
#score #next                    { left:8.8em; }
/*---------------------------------------------------------------------------------------------------------------------------*/
div#splashex                    { height:100%; width:100%; top:0; left:0; position:absolute; z-index:2000; cursor: pointer;
                                  font-size:.5em; }
.nosplash div#splashex          { display:none; }
div#splash                      { font-size:.5em; height:40%; width:80%; top:25%; left:10%; position:absolute; z-index:2000;
                                  background-color:rgba(255,255,255,0.9); text-align:justify; overflow:hidden;
                                  cursor: pointer; padding:1%; border-radius:.2em; color:#003366; }
div#splash>div                  { background-color:rgb(180,220,235); border-radius:.1em; height:100%;
                                  background-size:100%; font-family: Times, serif; }
div#splash .text h1             { border:1px solid white; border-width:0 0 1px 0; }
.nosplash div#splash            { display:none; }
#appsplash                      { position:absolute; top:0; left:0; width:100%; height:100%;
                                  background-color:rgba(0,0,0,0.8); z-index:10;}
#appsplash>div                  { width:16em; height:6em; margin-top:15%; background-color:rgb(160,240,255); cursor:pointer;
                                  background-size:100%; background-repeat:no-repeat;}
/*---------------------------------------------------------------------------------------------------------------------------*/
.jmenu                          { position:relative; height:100%; overflow:hidden;}
.jmenu .slider                  { font-size:.6em; width:1em; height:96%; background-color:rgba(0,0,0,0.5); float:right;
                                  border-radius:.5em; position:relative; z-index:3; margin-top:1%; margin-right:1%;}
.jmenu .slider .cursor          { width:1em; height:1em; background-color:white; border-radius:.5em; cursor:move;}
.jmenu .menu                    { margin:.1em; position:relative;}
.jmenu .menu.large              { font-size:2.4em; }
.jmenu .menu .icon.gtc          { letter-spacing:-.1em;}
.jmenu .menu .icon              { background-image:url("../res/img/icon/menu01bg.svg"); background-size:100%; font-weight:bold;
                                  margin:.01em; float:left; cursor:pointer; width:1em; height:1em; }
.jmenu .menu .icon.gtc .legend  { text-align:left; margin-left:.1em; }
.jmenu .menu .icon .legend      { position:relative; color:white; font-size:.66em; width:1.5em; text-align:center;}
.jmenu .menu .icon .legend.s    { font-size:.5em; width:2em;}
.jmenu .menu .icon .state       { position:relative; top:-.8em;  background-size:100%; height:1em; width:1em; }
.jmenu .icon .state.sl          { background-image:url("../res/img/icon/menu01lock.svg"); }
.jmenu .icon .state.s2          { background-image:url("../res/img/icon/menu01st0.svg"); }
.jmenu .icon .state.s3          { background-image:url("../res/img/icon/menu01st1.svg"); }
.jmenu .icon .state.s4          { background-image:url("../res/img/icon/menu01st2.svg"); }
.jmenu .icon .state.s5          { background-image:url("../res/img/icon/menu01st3.svg"); }
.jmenu .header                  { width:100%; height:10%; background-color:rgba(0,0,0,0.5); position:absolute;top:0;
                                  z-index:2; display:none;}
.jmenu .footer                  { width:100%; height:10%; background-color:rgba(0,0,0,0.5); position:absolute;top:90%;
                                  z-index:2; display:none;}


