.boilerplate                            { background-image:url("../../res/img/default/pattern/line02.svg"); 
										  background-repeat:repeat;}
.boilerplate div#splashex               { background-image:url("../../res/img/banners/it.svg"); }
.boilerplate div#splashex h1            { position:absolute; top:12%; left:55%; font-size:2em; background-color:red;
										  width:55%; color:white; text-align:center; border-radius:0 .5em .5em 0;
										  border:.3em solid white; -ms-transform: rotate(45deg);
										  -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.boilerplate div#exercice               { width:100%; height:20%; background-repeat:repeat; font-size:.5em;
										  background-image:url("../../res/img/default/pattern/line01.svg"); 
										  text-align:justify; }
.boilerplate div#exercice .strong       { color:red; font-weight:bold; border: 1px solid red; border-width:1px 0; }
.boilerplate div#board                  { height:70%; font-size:.6em; }
