.zzz                   	{ background-image:url("../../res/img/default/pattern/line02.svg");  background-repeat:repeat;}
.zzz #g_splash          { background-image:url("../../res/img/background/banners/impress.svg"); }
.zzz #zzboard           { height:70%; font-size:.6em; }
