.sorting                                { background-image:url("../../res/img/background/landscape/redcarpet01.svg"); background-repeat:repeat; background-size:100%; width:100%; height:100%; }
.sorting div#splashex                   { background-image:url("../../res/img/banners/sorting.svg"); }
.sorting div#splashex h1                { position:absolute; top:46%; left:27%; font-size:1.5em; white-space:nowrap;}
.sorting div#splashex .guide            { position:absolute; top:56%; left:45%; font-size:0.9em; width:48%; font-style:italic;
                                          text-align:justify; }
.sorting div#splashex .icon     { position:absolute; top:56%; left:29%; font-size:5em; }
.sorting div#splashex .move     { display:none; }
.sorting div#splashex.move .move    { display:inherit; }
.sorting div#splashex.move .swap    { display:none; }
.sorting div#board .icon                { float:left; }
.sorting div#board .char                { float:left; }
.sorting div#interactive                { width:200%; }
.sorting div#interactive>div            { float:left; }
.sorting div#interactive #response      { width:50%; }
.sorting div#exercice                   { padding:.1em .5em .1em 2em; font-size:.8em; text-align:justify; min-height:1.2em;
                                          font-style:italic; background-image:url("../../res/img/default/pattern/line01.svg"); }

.sorting .response                              { height:1em;  cursor:move; white-space:nowrap; margin:.1em 0; width:100%; }
.sorting .response.switch>div                   { background-color:rgba(255,255,0,0.5) !important; }
.sorting .response>div                          { padding-left:.2em; }
.sorting .response.ui-draggable-dragging        { border:5px solid gold; margin-top:2px; }
.sorting .response.ui-draggable-dragging>div    { display:none; }
.sorting .response.wrong>div                    { background-color:rgba(255,80,65,1.0) !important;
                                                  color:rgb(256, 240, 240) !important; background-image:none !important;}
.sorting .response.good>div                     { background-color:rgba(80,255,65,1.0) !important;
                                                  color:rgb(0, 80, 20) !important; background-image:none !important; }

.sorting .question                      { height:1em; padding-right:.2em; white-space:nowrap; text-align:right;
                                          margin:.1em .05em .1em 0; }


.sorting div#submit                     { font-size:1.5em; height:1em;width:1em; cursor:pointer; position:absolute;
                                          top:7em; left:0em; z-index:3; }
.sorting div#submit>img                 { display:none;     }
.sorting div#submit #subvalid           { display:inline; }
.sorting div#submit.good #subvalid      { display:none; }
.sorting div#submit.wrong #subvalid     { display:none; }
.sorting div#submit.good #subgood       { display:inline; }
.sorting div#submit.wrong #subwrong     { display:inline; }

.sorting.h12 .response      { height:1.2em; }
.sorting.h12 .response>div  { height:1.2em; }
.sorting.h12 .question      { height:1.2em; }

.sorting.h20 .response      { height:2em; }
.sorting.h20 .response>div  { height:2em; }
.sorting.h20 .question      { height:2em; }


.sorting.noquestion .question           { display:none; }
.sorting.sym div#board .question .icon  { float:right; }
.sorting.sym div#board .question .char  { float:right; }
