.sorting                                    { background-image:url("../../res/img/background/landscape/c_red02.svg"); background-repeat:repeat; background-size:100%; width:100%; height:100%; }
.sorting #g_splash                          { background-image:url("../../res/img/background/banners/sorting.svg"); }
.sorting #sgmask				            { width:16em; height:12em; position:absolute; display:none; z-index:20; }
.sorting #sgboard .icon                     { float:left; }
.sorting #sgboard .char                     { float:left; }
.sorting #sginteractive                     { width:200%; }
.sorting #sginteractive>div                 { float:left; }
.sorting #sgresponse                        { width:50%; }
.sorting #sgexercice                        { padding:.1em .5em .1em 2em; font-size:.8em; text-align:justify; min-height:1.2em; font-style:italic; background-image:url("../../res/img/default/pattern/line01.svg"); }
.sorting .sgr                               { height:1em;  cursor:move; white-space:nowrap; margin:.1em 0; width:100%; position:relative; }
.sorting .sgr.switch>div                    { background-color:rgba(255,255,0,0.5) !important; }
.sorting .sgr>div                           { padding-left:.2em; }
.sorting .sgr.ui-draggable-dragging         { border:5px solid gold; margin-top:2px; }
.sorting .sgr.ui-draggable-dragging>div     { display:none; }
.sorting .sgr.light>div					    { background-color:rgba(255,255,255,1.0) !important; }
.sorting .sgr .sgmask						{ position:absolute; top:0; left:0; background-color:yellow;height:100%; width:100%; display:none;  }
.sorting .sgr.wrong>div                     { background-color:rgba(255,80,65,1.0) !important; color:rgb(256, 240, 240) !important; background-image:none !important;}
.sorting .sgr.good>div                      { background-color:rgba(80,255,65,1.0) !important; color:rgb(0, 80, 20) !important; background-image:none !important; }
.sorting .sgq                               { height:1em; padding-right:.2em; white-space:nowrap; text-align:right; margin:.1em .05em .1em 0; }
.sorting.h12 .sgr                           { height:1.2em; }
.sorting.h12 .sgr>div                       { height:1.2em; }
.sorting.h12 .sgq                           { height:1.2em; }
.sorting.h20 .sgr                           { height:2em; }
.sorting.h20 .sgr>div                       { height:2em; }
.sorting.h20 .sgq                           { height:2em; }
.sorting.noquestion .sgq                    { display:none; }
.sorting.sym #sgboard .sgq .icon            { float:right; }
.sorting.sym #sgboard .sgq .char            { float:right; }
.sorting .small                             { font-size:.6em; }


/*============ EDITOR PANEL =============*/

.sorting_editor #e_editor>div			{ height:94%; }
.sorting_editor #e_control 			{ display:none; }
.sorting_editor #e_editor textarea		{ font-size:0.5em; background-color:white; color:#444; height:10%; margin-top:1%; border:0; width:93%; padding-left:5%; }
.sorting_editor #e_editor .eph_value { margin-top:.2em; border: 0; width: 98%; height: 1.6em; font-size: 0.5em; text-align: center; background-color:#FEC; }
.sorting_editor #e_editor select.eph_value { background-color:#CEF; }
.sorting_editor #e_tabs>div { float:left; width:1.2em; height:1.2em; text-align:center; background-color:gray; color:white; border-radius:.2em; margin:.1em; cursor:pointer; }
.sorting_editor #e_tabs>div.s { background-color:red; }
.sorting_editor #e_editor #e_pages { height:50%; }
.sorting_editor #e_editor #e_pages textarea { display:none; height:100%; }

