<div class="template keyboard">
    <div id="values"><div id="exercice"><div></div></div><ul></ul></div>
    <div id="board">
        <div id="time" class="time"><div id="timeslider"></div><div id="timeval">00:00:00</div></div>
        <div id="screen"><div ontouchstart="$(this).closest('.sequence').sequence('key', '*', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', '*', this);"></div></div>
        <div id="keypad">
            <div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'a', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'a', this);">a</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'z', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'z', this);">z</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'e', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'e', this);">e</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'r', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'r', this);">r</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 't', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 't', this);">t</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'y', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'y', this);">y</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'u', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'u', this);">u</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'i', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'i', this);">i</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'o', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'o', this);">o</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'p', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'p', this);">p</div>
            </div>
            <div style="margin-left:.5em;">
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'q', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'q', this);">q</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 's', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 's', this);">s</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'd', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'd', this);">d</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'f', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'f', this);">f</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'g', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'g', this);">g</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'h', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'h', this);">h</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'j', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'j', this);">j</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'k', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'k', this);">k</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'l', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'l', this);">l</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'm', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'm', this);">m</div>
            </div>
            <div style="margin-left:1em;">
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'w', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'w', this);">w</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'x', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'x', this);">x</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'c', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'c', this);">c</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'v', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'v', this);">v</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'b', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'b', this);">b</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'n', this);event.preventdefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'n', this);">n</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', '*', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', '*', this);" style="width:2em;">&lArr;</div>
            </div>
        </div>
    </div>
    <div id="effects">
        <div id="good1"><img src="res/img/default/popup/good01.svg" alt=""/></div>
        <div id="good2"><img src="res/img/default/popup/combo02x01.svg" alt=""/></div>
        <div id="good5"><img src="res/img/default/popup/combo05x01.svg" alt=""/></div>
        <div id="good10"><img src="res/img/default/popup/combo10x01.svg" alt=""/></div>
        <div id="good20"><img src="res/img/default/popup/combo20x01.svg" alt=""/></div>
        <div id="wrong"><img src="res/img/default/popup/wrong01.svg" alt=""/></div>
    </div>
    <div id="splashex" ontouchstart="$(this).hide().closest('.sequence').sequence('next');event.preventDefault();"
                     onclick="$(this).hide().closest('.sequence').sequence('next');"><div>
        <h1 id="label">sequence</h1>
        <div id="guide_keypad" class="guide"></div>
        <p id="guide_time"></p>
        <p id="guide_number"></p>
    </div></div>
</div>
