<div class="template keyboard">
    <div id="values"><div id="comment"></div><ul></ul></div>
    <div id="board">
        <div id="time" class="time">00:00:00</div>
        <div id="screen"></div>
        <div id="keypad">
            <div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'a', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'a', this);">A</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'z', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'z', this);">Z</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'e', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'e', this);">E</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'r', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'r', this);">R</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 't', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 't', this);">T</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'y', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'y', this);">Y</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'u', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'u', this);">U</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'i', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'i', this);">I</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'o', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'o', this);">O</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'p', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'p', this);">P</div>
            </div>
            <div style="margin-left:.5em;">
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'q', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'q', this);">Q</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 's', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 's', this);">S</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'd', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'd', this);">D</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'f', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'f', this);">F</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'g', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'g', this);">G</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'h', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'h', this);">H</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'j', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'j', this);">J</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'k', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'k', this);">K</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'l', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'l', this);">L</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'm', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'm', this);">M</div>
            </div>
            <div style="margin-left:1em;">
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'w', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'w', this);">W</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'x', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'x', this);">X</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'c', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'c', this);">C</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'v', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'v', this);">V</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'b', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'b', this);">B</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'n', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'n', this);">N</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', '.', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', '.', this);" style="width:2em;">&lArr;</div>
            </div>
        </div>
    </div>
    <div id="effects">
        <div id="good1"><img src="res/img/effects/alert02.svg"/></div>
        <div id="good2"><img src="res/img/effects/alert03.svg"/></div>
        <div id="good5"><img src="res/img/effects/alert04.svg"/></div>
        <div id="good10"><img src="res/img/effects/alert05.svg"/></div>
        <div id="good20"><img src="res/img/effects/alert06.svg"/></div>
        <div id="wrong"><img src="res/img/effects/alert01.svg"/></div>
    </div>
    <div id="splashex" ontouchstart="$(this).hide().closest('.sequence').sequence('next');event.preventDefault();"
                     onclick="$(this).hide().closest('.sequence').sequence('next');"><div>
        <h1 id="label"></h1>
        <div id="guide_keypad" class="guide"></div>
        <p id="guide_time"></p>
        <p id="guide_number"></p>
    </div></div>
</div>
