<div class="template keyboard">
    <div id="values"><div id="exercice"><div></div></div><ul></ul></div>
    <div id="board">
        <div id="time" class="time"><div id="timeslider"></div><div id="timeval">00:00:00</div></div>
        <div id="screen"><div ontouchstart="$(this).closest('.sequence').sequence('key', '*', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', '*', this);"></div></div>
        <div id="keypad">
            <div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'A', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'A', this);">A</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'Z', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'Z', this);">Z</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'E', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'E', this);">E</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'R', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'R', this);">R</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'T', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'T', this);">T</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'Y', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'Y', this);">Y</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'U', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'U', this);">U</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'I', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'I', this);">I</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'O', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'O', this);">O</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'P', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'P', this);">P</div>
            </div>
            <div style="margin-left:.5em;">
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'Q', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'Q', this);">Q</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'S', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'S', this);">S</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'D', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'D', this);">D</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'F', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'F', this);">F</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'G', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'G', this);">G</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'H', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'H', this);">H</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'J', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'J', this);">J</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'K', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'K', this);">K</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'L', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'L', this);">L</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'M', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'M', this);">M</div>
            </div>
            <div style="margin-left:1em;">
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'W', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'W', this);">W</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', '*', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', '*', this);">X</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'C', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'C', this);">C</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'V', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'V', this);">V</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'B', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'B', this);">B</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'N', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', 'N', this);">N</div>
                <div class="input bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', '*', this);event.preventDefault();"
                                   onclick="$(this).closest('.sequence').sequence('key', '*', this);" style="width:2em;">&lArr;</div>
            </div>
        </div>
    </div>
    <div id="effects">
        <div id="good1"><img src="res/img/default/popup/good01.svg" alt=""/></div>
        <div id="good2"><img src="res/img/default/popup/combo02x01.svg" alt=""/></div>
        <div id="good5"><img src="res/img/default/popup/combo05x01.svg" alt=""/></div>
        <div id="good10"><img src="res/img/default/popup/combo10x01.svg" alt=""/></div>
        <div id="good20"><img src="res/img/default/popup/combo20x01.svg" alt=""/></div>
        <div id="wrong"><img src="res/img/default/popup/wrong01.svg" alt=""/></div>
    </div>
    <div id="splashex" ontouchstart="$(this).hide().closest('.sequence').sequence('next');event.preventDefault();"
                     onclick="$(this).hide().closest('.sequence').sequence('next');"><div>
        <h1 id="label">sequence</h1>
        <div id="guide_keypad" class="guide"></div>
        <p id="guide_time"></p>
        <p id="guide_number"></p>
    </div></div>
</div>
