<div class="keypad">
    <div id="values"><div id="exercice"><div></div></div><ul></ul></div>
    <div id="board">
        <div id="time" class="time"><div id="timeslider"></div><div id="timeval">00:00:00</div></div>
        <div id="keypad" class="tiny">
            <table>
                <tr><td colspan="3" id="screen" ><div ontouchstart="$(this).closest('.sequence').sequence('key', '*', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', '*', this);">00</div></td></tr>
                <tr>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'd', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 'd', this);"><div>D</div></td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'e', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 'e', this);"><div>E</div></td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'f', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 'f', this);"><div>F</div></td>
                </tr>
                <tr>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'a', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 'a', this);"><div>A</div></td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'b', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 'b', this);"><div>B</div></td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'c', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 'c', this);"><div>C</div></td>
                </tr>
                <tr>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 7, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 7, this);"><div>7</div></td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 8, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 8, this);"><div>8</div></td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 9, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 9, this);"><div>9</div></td>
                </tr>
                <tr>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 4, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 4, this);"><div>4</div></td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 5, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 5, this);"><div>5</div></td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 6, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 6, this);"><div>6</div></td>
                </tr>
                <tr>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 1, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 1, this);"><div>1</div></td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 2, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 2, this);"><div>2</div></td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 3, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 3, this);"><div>3</div></td>
                </tr>
                <tr>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 0, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 0, this);"><div>0</div></td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', '*', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', '*', this);" colspan="2">
                            <div class="icon" style="margin:0 auto;"><img src="res/img/default/white/cancel02.svg" alt=""/></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="effects">
        <div id="good1"><img src="res/img/default/popup/good01.svg" alt=""/></div>
        <div id="good2"><img src="res/img/default/popup/combo02x01.svg" alt=""/></div>
        <div id="good5"><img src="res/img/default/popup/combo05x01.svg" alt=""/></div>
        <div id="good10"><img src="res/img/default/popup/combo10x01.svg" alt=""/></div>
        <div id="good20"><img src="res/img/default/popup/combo20x01.svg" alt=""/></div>
        <div id="wrong"><img src="res/img/default/popup/wrong01.svg" alt=""/></div>
    </div>
    <div id="splashex" ontouchstart="$(this).hide().closest('.sequence').sequence('next');event.preventDefault();"
                     onclick="$(this).hide().closest('.sequence').sequence('next');"><div>
        <h1 id="label">sequence</h1>
        <div id="guide_keypad" class="guide"></div>
        <p id="guide_time"></p>
        <p id="guide_number"></p>
    </div></div>
</div>
