<div class="keypad">
    <div id="sevalues"><div id="seexercice"><div></div></div><ul></ul></div>
    <div id="seboard">
        <div id="setime" class="time"><div id="setimeslider"></div><div id="setimeval">00:00:00</div></div>
        <div id="sekeypad">
            <table>
                <tr><td colspan="3" id="sescreen"><div ontouchstart="$(this).closest('.sequence').sequence('key', '*', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', '*', this);">00</div></td></tr>
                <tr>
                    <td class="g_bluekey" ontouchstart="$(this).closest('.sequence').sequence('key', 0, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 0, this);"><div>0</div></td>
                    <td class="g_bluekey" ontouchstart="$(this).closest('.sequence').sequence('key', 1, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 1, this);"><div>1</div></td>
                    <td class="g_bluekey" ontouchstart="$(this).closest('.sequence').sequence('key', '*', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', '*', this);">
                            <div class="icon" style="margin:0 auto;"><img src="res/img/default/white/cancel02.svg" alt=""/></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="seeffects">
        <div id="good1"><img src="res/img/default/popup/good01.svg" alt=""/></div>
        <div id="good2"><img src="res/img/default/popup/combo02x01.svg" alt=""/></div>
        <div id="good5"><img src="res/img/default/popup/combo05x01.svg" alt=""/></div>
        <div id="good10"><img src="res/img/default/popup/combo10x01.svg" alt=""/></div>
        <div id="good20"><img src="res/img/default/popup/combo20x01.svg" alt=""/></div>
        <div id="wrong"><img src="res/img/default/popup/wrong01.svg" alt=""/></div>
    </div>
    <div id="splashex" ontouchstart="$(this).hide().closest('.sequence').sequence('next');event.preventDefault();"
                     onclick="$(this).hide().closest('.sequence').sequence('next');"><div>
        <h1 id="label"></h1>
        <div id="guide_time"><img src="res/img/asset/misc/pocketwatch01.svg" alt=""/></div>
        <div id="guide_number"></div>
    </div></div>
</div>

