<div class="keypad">
    <div id="values"><div id="comment"></div><ul></ul></div>
    <div id="board">
        <div id="time" class="time">00:00:00</div>
        <div id="keypad" class="tiny">
            <table>
                <tr><td colspan="3" id="screen" >00</td></tr>
                <tr>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'd', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 'd', this);">D</td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'e', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 'e', this);">E</td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'f', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 'f', this);">F</td>
                </tr>
                <tr>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'a', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 'a', this);">A</td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'b', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 'b', this);">B</td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 'c', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 'c', this);">C</td>
                </tr>
                <tr>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 7, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 7, this);">7</td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 8, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 8, this);">8</td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 9, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 9, this);">9</td>
                </tr>
                <tr>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 4, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 4, this);">4</td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 5, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 5, this);">5</td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 6, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 6, this);">6</td>
                </tr>
                <tr>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 1, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 1, this);">1</td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 2, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 2, this);">2</td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 3, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 3, this);">3</td>
                </tr>
                <tr>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', 0, this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', 0, this);">0</td>
                    <td class="bluekeypad" ontouchstart="$(this).closest('.sequence').sequence('key', '.', this);event.preventDefault();"
                        onclick="$(this).closest('.sequence').sequence('key', '.', this);" colspan="2">
                            <div class="icon" style="margin:0 auto;"><img src="res/img/icon/cancel2.svg"/></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="effects">
        <div id="good1"><img src="res/img/effects/alert02.svg"/></div>
        <div id="good2"><img src="res/img/effects/alert03.svg"/></div>
        <div id="good5"><img src="res/img/effects/alert04.svg"/></div>
        <div id="good10"><img src="res/img/effects/alert05.svg"/></div>
        <div id="good20"><img src="res/img/effects/alert06.svg"/></div>
        <div id="wrong"><img src="res/img/effects/alert01.svg"/></div>
    </div>
    <div id="splashex" ontouchstart="$(this).hide().closest('.sequence').sequence('next');event.preventDefault();"
                     onclick="$(this).hide().closest('.sequence').sequence('next');"><div>
            <h1 id="label"></h1>
            <p id="guide_keypad" class="guide"></div>
        <p id="guide_time"></p>
        <p id="guide_number"></p>
    </div></div>
</div>