<div class="svg">
    <div id="keypad"></div>
    <div id="exercice"><div></div></div>
    <div id="values"><ul></ul></div>
    <div id="board"><div id="time" class="time"><div id="timeslider"></div><div id="timeval">00:00:00</div></div></div>
    <div id="splashex" ontouchstart="$(this).hide().closest('.sequence').sequence('next');event.preventDefault();"
                     onclick="$(this).hide().closest('.sequence').sequence('next');"><div>
        <h1 id="label">sequence</h1>
        <div id="guide_svg" class="guide"></div>
        <p id="guide_time"></p>
        <p id="guide_number"></p>
    </div></div>
</div>
