<div class="svg">
    <div id="keypad"></div>
    <div id="comment"></div>
    <div id="values"><ul></ul></div>
    <div id="board"><div id="time" class="time">00:00:00</div></div>
    <div id="splash" ontouchstart="$(this).hide().closest('.sequence').sequence('next');event.preventDefault();"
                     onclick="$(this).hide().closest('.sequence').sequence('next');"><div>
        <div class="text">
            <h1 id="label">Sequence</h1>
            <p id="guide_svg"></p>
        </div>
    </div></div>
</div>
