<div class="svg">
    <div id="keypad"></div>
    <div id="exercice"><div></div></div>
    <div id="values"><ul></ul></div>
    <div id="board"><div id="time" class="time"><div id="timeslider"></div><div id="timeval">00:00:00</div></div></div>
    <div id="splashex" ontouchstart="$(this).hide().closest('.sequence').sequence('next');event.preventDefault();"
                     onclick="$(this).hide().closest('.sequence').sequence('next');">
        <h1 id="label"></h1>
        <div id="guide_time"><img src="res/img/asset/misc/pocketwatch01.svg" alt=""/></div>
        <div id="guide_number"></div>
    </div>
</div>
