<div class="template">
    <div id="values"><div id="exercice"><div></div></div><ul></ul></div>
    <div id="board">
        <div id="time" class="time"><div id="timeslider"></div><div id="timeval">00:00:00</div></div>
        <div id="keypad">
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
        </div>
    </div>
    <div id="effects">
        <div id="good1"><img src="res/img/default/popup/good01.svg" alt=""/></div>
        <div id="good2"><img src="res/img/default/popup/combo02x01.svg" alt=""/></div>
        <div id="good5"><img src="res/img/default/popup/combo05x01.svg" alt=""/></div>
        <div id="good10"><img src="res/img/default/popup/combo10x01.svg" alt=""/></div>
        <div id="good20"><img src="res/img/default/popup/combo20x01.svg" alt=""/></div>
        <div id="wrong"><img src="res/img/default/popup/wrong01.svg" alt=""/></div>
    </div>
    <div id="splashex" ontouchstart="$(this).hide().closest('.sequence').sequence('next');event.preventDefault();"
                     onclick="$(this).hide().closest('.sequence').sequence('next');"><div>
        <h1 id="label">sequence</h1>
        <div id="guide_template" class="guide"></div>
        <p id="guide_time"></p>
        <p id="guide_number"></p>
    </div></div>
</div> 
