<div class="template2">
    <div id="values"><div id="comment"></div><ul></ul></div>
    <div id="board">
        <div id="time" class="time">00:00:00</div>
        <div id="keypad">
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
            <div class="input"></div>
        </div>
    </div>
    <div id="effects">
        <div id="good1"><img src="res/img/effects/alert02.svg"/></div>
        <div id="good2"><img src="res/img/effects/alert03.svg"/></div>
        <div id="good5"><img src="res/img/effects/alert04.svg"/></div>
        <div id="good10"><img src="res/img/effects/alert05.svg"/></div>
        <div id="good20"><img src="res/img/effects/alert06.svg"/></div>
        <div id="wrong"><img src="res/img/effects/alert01.svg"/></div>
    </div>
    <div id="splash" ontouchstart="$(this).hide().closest('.sequence').sequence('next');event.preventDefault();"
                     onclick="$(this).hide().closest('.sequence').sequence('next');"><div>
        <div class="text">
            <h1 id="label">Sequence</h1>
            <p id="guide_template"></p>
        </div>
    </div></div>
</div> 
