[submodule "res/img/svginventoryicons"]
	path = res/img/svginventoryicons
	url = https://github.com/PoufPoufProduction/SVG-Inventory-Icons.git
[submodule "res/img/clipart"]
	path = res/img/clipart
	url = https://github.com/PoufPoufProduction/SVG-BW-Cliparts.git
