.sudoku                             { font-family: "Courier New" Courier monospace;
                                      background-image:url("../../res/img/background/book04.svg"); background-repeat:repeat;}
.sudoku table                       { border-spacing:0;  font-size:1em; }
.sudoku td                          { margin:0; padding:0; }
.sudoku td.grid3x3                  { border: 1px solid rgb(53,34,34); }
.sudoku #menu                       { float:left; padding:.1em; margin-top:10em; }
.sudoku #menu #toggle               { width:6em; height:6em; cursor:pointer; margin-bottom:.1em; border-radius:.5em .5em 0 0;
                                      background-color:rgba(255,255,255,0.5); overflow:hidden; text-align:center; }
.sudoku #time                       { font-size: 1em; border-radius:0 0 .5em .5em;  width:6em; height:1em;
                                      text-align:center; cursor:pointer; background-color:rgba(255,255,255,0.5);
                                      font-weight:bold; color:rgb(53,34,34); }
.sudoku #grid                       { padding-top:2px; }
.sudoku #keypad                     { position:absolute; width:4.1em; height:4.1em; display:none; font-weight:bold; }
.sudoku #keypad>div                 { width:1em; height:1em; overflow:hidden; text-align:center;
                                      background-image:url("../../res/img/icon/round.svg");
                                      background-size:100%; color:#115588; background-position:0 0; cursor:pointer;
                                      position:absolute; }
.sudoku #keypad div#key0            { top:0.05em; left:1.55em;}
.sudoku #keypad div#key1            { top:0.33em; left:2.47em; }
.sudoku #keypad div#key2            { top:1.065em; left:3.1em; }
.sudoku #keypad div#key3            { top:2.035em; left:3.1em; }
.sudoku #keypad div#key4            { top:2.77em; left:2.47em; }
.sudoku #keypad div#key5            { top:3.05em; left:1.55em; }
.sudoku #keypad div#key6            { top:2.77em; left:0.63em; }
.sudoku #keypad div#key7            { top:2.035em; left:0em; }
.sudoku #keypad div#key8            { top:1.065em; left:0em; }
.sudoku #keypad div#key9            { top:0.33em; left:0.63em; }
.sudoku td.cell                     { width:3em; height:3em; overflow:hidden;}
.sudoku td.cell div.border          { width:3em; height:3em; overflow:hidden; position:relative; }
.sudoku td.cell div.fill            { width:1em; height:1em; font-size:3em; text-align:center; cursor:pointer; position:absolute; }
.sudoku td.cell table.hint          { position:absolute; display:none; }
.sudoku td.cell div.final           { cursor:default; color:rgb(53,34,34); }
.sudoku table.hint div              { width:1em; height:1em; overflow:hidden; text-align:center; cursor:pointer;}
.sudoku #grid9x9                    { font-size: 1em; collapse-border:collapse; border: 1px solid rgb(53,34,34);
                                      background-color:rgba(255,252,246,0.8); display:none; }
.sudoku #grid.f td.cell.level1      { background-color:rgba(255,231,184,0.8); }
.sudoku #grid.f td.cell.level2      { background-color:rgba(255,220,162,0.8); }
.sudoku #grid.f td.cell.level3      { background-color:rgba(255,210,140,0.8); }
.sudoku div.icon                    { width:3em; height:3em; border:1px solid black;
                                      background-color:rgba(255,255,255,0.8); margin:.1em; }
.sudoku div#splash                  { font-size:1.5em; }
.sudoku div#splash>div              { background-image:url("../../res/img/banners/sudoku.svg"); }
.sudoku div#splash .text            { font-size:.5em; width:65%; }
.sudoku div#splash .text h1         { padding-left:.5em; }
.sudoku div#splash .text p          { margin:.5em; }
.sudoku div#splash div.icon         { border:0; border-radius:.5em;}
