.asm .both *                        { overflow:visible; }
.asm                                { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.asm div#splashex                  { background-image:url("../../res/img/banners/it.svg"); color:lime; }
.asm div#splashex h1               { position:absolute; top:45%; left:60%; font-size:1.3em; white-space:nowrap;}
.asm div#splashex #guide           { position:absolute; top:54%; left:45%; font-size:.75em; width:48%;
                                          text-align:justify; }
.asm div#board                      { font-size:.5em; width:105%; }
.asm div#board>div                  { float:left; }
/*---------------------------------------------------------------------------------------------------------------------------*/
.asm div#board #screens>*           { font-size:.75em; margin-left:.2em; }
.asm #screens #output               { width:11.6em; height:5.6em; background-color:#030; color:#0F0; font-weight:bold;
                                      padding:.2em; line-height:.8em; margin-top:.1em;
                                      background-image:url("../../res/img/default/pattern/line03.svg"); background-repeat:repeat;}
.asm #screens #output pre           { overflow:visible; font-family: "Courier New",Courier,monospace; }
.asm #screens #canvas               { width:12em; height:12em; background-color:black; }
.asm #screens #canvas>div           { width:12em; height:12em; }
.asm #screens.s2 #canvas            { height:8em; }
.asm #screens.s3 #canvas            { height:10.8em; }
.asm #screens #keypad               { width:12em; height:8em; background-color:white; position:relative; background-image:url("../../res/img/default/control/bg02.svg");  }
.asm #screens #keypad>div           { position:absolute; z-index:1; width:1em; height:1em; cursor:pointer; font-size:2em; }
.asm #screens #keypad #left         { top:1.5em; left:0.5em; }
.asm #screens #keypad #down         { top:2.5em; left:1.5em; }
.asm #screens #keypad #right        { top:1.5em; left:2.5em; }
.asm #screens #keypad #up           { top:0.5em; left:1.5em; }
.asm #screens #keypad #a            { top:1em; left:4.5em; }
.asm #screens #keypad #b            { top:2.5em; left:4.5em; }
.asm #screens #keypad .down         { display:none; }
.asm #screens #keypad .s .up        { display:none; }
.asm #screens #keypad .s .down      { display:inherit; }

.asm #screens #controls             { width:12em; height:5.5em; background-color:#AAA; position:relative;
                                      background-image:url("../../res/img/default/pattern/steel01.svg"); background-repeat:repeat; }
.asm #screens #controls #running    { top:.09em; left:.02em; font-size:15em;opacity:0.2; }
.asm #screens #controls.running     { background-color:#5BB; }
.asm #screens.s2 #controls          { height:9.5em; }
.asm #screens.s3 #controls          { height:6.7em; }
.asm #screens #buttons              { position:absolute; top:0; left:.5em; }
.asm #screens #buttons>div          { font-size:3em; width:1em; height:1em; margin:.1em; float:left; cursor:pointer;}
/*---------------------------------------------------------------------------------------------------------------------------*/
.asm div#board #central             { margin-left:.2em; width:45%; }
.asm div#board #central>*           { font-size:.75em; width:100%;  }
.asm #central #code                 { height:25em; background-color:black; overflow:auto; margin-top:.1em;
                                      background-image:url("../../res/img/background/asset/it01.svg"); background-repeat:no-repeat; }
.asm #central #code #lines          { font-size:1.5em; }
.asm #central #code #lines .line.i  { background-color:rgba(100,200,100,0.1); }
.asm #central #code #lines .line    { position:relative; height:1.5em; background-color:rgba(180,255,180,0.12); }
.asm #central #code #lines .line.c  { background-color:yellow !important; }
.asm #central #code #lines .filler  { background-image:url("../../res/img/background/border01.svg"); background-repeat:repeat-x; }
.asm #central #lines .code          { margin:.1em; background-color:#da5; border-radius:.25em; width:12.25em;
                                      color:#fea; font-weight:bold; position:absolute; top:0; left:0; background-image:none; }
.asm #central #lines .code>div      { float:left; }
.asm #central #lines .codelabel     { width:3.7em; text-align:center; }
.asm #central #lines .codevalue     { margin-left:1em; font-size:.3em; width:22em; font-family: "Courier New",Courier,monospace;}
.asm #central #exercice             { width:29.1em !important; height:9.4em; background-repeat:repeat; padding:.2em .5em;
                                      background-image:url("../../res/img/default/pattern/line01.svg"); text-align:justify;
                                      font-size:.5em !important;}
.asm.large #central #exercice       { height:16.8em; }
.asm.large #central #code           { height:20em; }
.asm.huge #central #exercice        { height:21.4em; }
.asm.huge #central #code            { height:17em; }

.asm #central #exercice .svg         { background-color:rgba(0,0,0,0.2); font-size:6em; }
.asm #central #exercice .svg>div     { width:1em; height:1em; margin:.1em auto; }
.asm #central #exercice .cc          { background-color:rgba(0,40,0,0.9); color:lime; padding:.5em; margin:.4em 0; }
.asm #central #exercice .strong      { color:red; font-weight:bold; border: 1px solid red; border-width:1px 0; }

/*---------------------------------------------------------------------------------------------------------------------------*/
.asm div#board #detail				{ width:22%; }
.asm div#board #detail>*            { font-size:.75em; margin-left:.1em; width:100%; }
.asm #detail #source                { height:25em; background-color:#112211; margin-top:.1em; 
                                      background-image:url("../../res/img/default/pattern/line03.svg"); background-repeat:repeat;}
.asm #detail #source>div            { clear:both; }
.asm #detail #source .a             { float:left; }
.asm #detail #source #header        { font-size:2em; height:1em;}
.asm #detail #source #header .icon  { float:right; cursor:pointer; margin:.1em; font-size:.8em; }
.asm #detail #source #ops           { background-color:#90cce0; width:10.5em; }
.asm #detail #source #args          { background-color:#828282; }
.asm #detail #source .a             { padding:0;  }
.asm #detail #source #ops  .a       { font-size:.8em; width:2.5em; margin:.2em 0; color:black; font-weight:normal; }
.asm.hide #detail #source #ops .a.d { display:none; }
.asm #detail #source #ops  .a.d     { cursor:default; opacity:0.3; }

.asm #detail #source #args .a       { width:5.0em; }


.asm #central #code #lines .label       { margin:.1em; background-color:#f88; border-radius:.25em; width:3.8em;
                                          color:#fee; font-weight:bold; position:absolute; top:0; left:0;}
.asm #central #code #lines .label.arg   { background-color:#f88; width:5em; color:#fee; left:7.3em;}
.asm #central #code #lines .op          { margin:.1em; background-color:#90cce0; border-radius:.25em; width:3em;
                                          color:#eff; font-weight:bold; position:absolute; top:0; left:4em;
                                          /* text-transform:lowercase; */}
.asm #central #code #lines .arg         { margin:.1em; background-color:#82ca82; border-radius:.25em; width:5em;
                                          color:#efe; font-weight:bold; position:absolute; top:0; left:7.3em; }
.asm .a                                 { text-align:center; font-size:1em; cursor:move; }

.asm .a.arg                         { background-color:#82ca82; color:#efe; font-weight:bold; }
.asm .a.arg:before                  { content:'0x'; }
.asm .a.arg.v:before                { content:'#0x'; }
.asm .a.arg.x:after                 { content:',X'; }
.asm .a.arg.y:after                 { content:',Y'; }
.asm .a.arg.i:before                { content:'(0x'; }
.asm .a.arg.i:after                 { content:')'; }
.asm .a.arg.ix:before               { content:'(0x'; }
.asm .a.arg.ix:after                { content:',X)'; }
.asm .a.arg.iy:before               { content:'(0x'; }
.asm .a.arg.iy:after                { content:'),Y'; }
.asm .a.arg.label                   { background-color:#f88; color:#fee;}
.asm .a.arg.label:before            { content:''; }
.asm .a.arg.label.i:before          { content:'('; }
.asm .a.arg.label.ix:before         { content:'('; }
.asm .a.arg.label.iy:before         { content:'('; }


.asm .ui-draggable-dragging         { cursor:none !important; z-index:2; }


.asm #detail #register              { height:6.5em; background-color:gray; font-weight:bold; cursor:pointer; position:relative;}
.asm #detail #register .label       { font-size:.6em; text-align:center; width:100%; }
.asm #detail #register .value       { background-color:#030; color:#0f0; text-align:center; height:1.4em;}
.asm #detail #abcs                  { margin:.2em .5em; }
.asm #detail #abcs>div              { width:2.1em; height:2em; background-color:yellow; border-radius:.5em;
                                      float:left; margin-right:.1em; }
.asm #detail #regpc                 { margin-left:.5em; width:8.7em; height:1.2em; background-color:yellow; border-radius:.25em;}
.asm #detail #regpc .label          { width:2em; margin-top:.5em; float:left; }
.asm #detail #flags                 { margin:.2em .5em;}
.asm #detail #flags>div             { width:1em; height:2em; background-color:yellow; border-radius:.25em; float:left;
                                      margin-right:.1em; }
.asm #detail #check                 { position:absolute; top:0; height:6.5em; width:10em; display:none;}
.asm #detail #check>div             { position:absolute; width:1em; height:1em; font-size:2em; display:none; }
.asm #detail #check .a              { left:.26em;  top:.24em; }
.asm #detail #check .x              { left:1.34em; top:.24em;  }
.asm #detail #check .y              { left:2.42em; top:.24em;  }
.asm #detail #check .n              { left:0em; top:2em; }
.asm #detail #check .v              { left:0.5em; top:2em; }
.asm #detail #check .d              { left:2em; top:2em; }
.asm #detail #check .z              { left:3em; top:2em; }
.asm #detail #check .c              { left:3.5em; top:2em; }

/*---------------------------------------------------------------------------------------------------------------------------*/
.asm #effects                       { position:absolute; top:45%; left:10%; display:none; z-index:2;  }
.asm #effects>div                   { font-size:5em; width:1em; height:1em; display:none; }


.asm .mask                          { position:absolute; top:0; background-color:rgba(0,0,0,0); }
.asm #m1.mask                       { width:24%; height:78%; position:absolute; left:0;  }
.asm #m2.mask                       { width:47%; height:100%; position:absolute; left:24%;  }

.asm #binary                        { width:100%; height:100%; position:absolute; top:0; left:0; background-color:rgba(0,0,0,0.8);
                                      display:none; z-index:2002;}
.asm #binary>div                    { width:82%; height:80%; margin:5% 10%; background-color:rgba(0,50,10,0.8); color:#0F0;
                                      font-weight:bold; font-size:.35em;
                          font-family: "Courier New",Courier,monospace; border-radius:.5em;
                                      overflow:auto; cursor:pointer;  }
.asm #binary p                      { white-space:nowrap; margin:0 .5em;}

.asm #touch01                          { top:0; left:0; font-size:2em; }

.asm #it                            { position:absolute; width:12em; height:4em; top:60%; left:30%; display:none; z-index:2;  }
.asm #continue                      { position:absolute; width:16em; height:16em; top:0; left:0; display:none; z-index:2;  }
.asm #continue>div                  { font-size:3em; position:absolute; top:55%; left:70%; cursor:pointer; border-radius:.5em;}


