.info                               { background-image:url("../../res/img/background/book04.svg"); background-repeat:repeat;}
.info #board                        { width:100%; height:100%; }
.info #comment                      { position:absolute; top:0; font-size:.5em; }
.info #comment.underconstruction    { top:80%; left:25%; font-size:.6em; width:45%;  }