.memory2                              { font-family: "Courier New" Courier monospace;
                                        background-image:url("../../res/img/background/book04.svg"); background-repeat:repeat;}
.memory2>div                          { width:100%; height:100%; }
.memory2 #mem2                        { width:100%; height:100%; }
.memory2 div#splash                   { font-size:.3em; }
.memory2 div#splash>div               { background-image:url("../../res/img/banners/memory2.svg"); }
.memory2 div#splash .text             { font-size:.5em; width:60%; }
.memory2 div#splash .text h1          { padding-left:.5em; }
.memory2 div#splash .text p           { margin:.5em; }