.memory2                { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.memory2>div            { width:100%; height:100%; }
.memory2 #m2board       { width:100%; height:100%; }
.memory2 #splashex      { background-image:url("../../res/img/banners/memory.svg"); }