.launch                                            { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.launch div#splashex                     { background-image:url("../../res/img/banners/launch.svg"); }
.launch div#splashex h1              { position:absolute; top:7%; left:48%; font-size:1.1em; color:#222;}
.launch div#splashex #guide          { position:absolute; top:15%; left:47%; font-size:.6em; width:50%; text-align:justify; font-style:italic; }
.launch div#board                           { width:16em; height:12em; }
