.launch             { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.launch #g_splash   { background-image:url("../../res/img/background/banners/launch.svg"); }
.launch #lhboard    { width:16em; height:12em; }
