.launch                                            { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.launch div#splashex                     { background-image:url("../../res/img/banners/launch.svg"); }
.launch div#splashex h1              { position:absolute; top:12%; left:35%; font-size:2em; background-color:red;
                                          width:90%; color:white; text-align:center; border-radius:0 .5em .5em 0;
                                          border:.3em solid white;
                                          -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.launch div#board                           { width:16em; height:12em; }
