.balance                                { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.balance #g_splash                      { background-image:url("../../res/img/banners/balance.svg");  }
.balance .bebutton                      { width:1em; height:1em; position:absolute; font-size:2em; top:80%; overflow:visible; background-image:url("../../res/img/icon/tab/tab00.svg"); border-radius:.5em; background-color:white; cursor:pointer; display:none; }
.balance .bebutton.s                    { background-color:red; }
.balance .bebutton#becalc               { left:3.5%; opacity:0.2; cursor:inherit; }
.balance .bebutton#becalc.available     { opacity:1; cursor:pointer; }
.balance .bebutton#befill               { left:84%; }
.balance #besvg                         { position:relative;width:16em;height:12em; }
.balance #becalculator                  { height:auto; display:none; background-color:rgba(0,0,0,0.8); font-size:.6em; border-radius:.25em; overflow:visible; padding:.03em; position:absolute; top:5%; left:5%; }
.balance #becalculator #bescreen        { font-size:1.2em; width:4.5em; border-radius:.25em; cursor:move; text-align:center; color:#0F0; font-weight:bold; padding:.2em 0; background-color:#030; background-image:url("../../res/img/default/pattern/line03.svg"); background-repeat:repeat;}
.balance #becalculator #bescreen:after  { content:"g"; }
.balance #becalculator td               { width:1.2em; overflow:hidden; cursor:pointer; text-align:center; font-weight:bold; color:rgb(220,231,241); border-radius:.25em; }
.balance .g_anim12					    { top:0;font-size:3em;margin-top:-0.5em;margin-left:-0.5em; }

