@keyframes animfooter           {  0%  {margin-left:20em;  }  10% {margin-left:0.5em; }
                                   15% {margin-left:0.5em; } 100% {margin-left:-40em; } }
@-webkit-keyframes animfooter   {  0%  {margin-left:20em;  }  10% {margin-left:0.5em; }
                                   15% {margin-left:0.5em; } 100% {margin-left:-40em; } }
@keyframes dbl-blink            {  0%  {visibility:visible;}  10% {visibility:hidden; }  15% {visibility:visible; }
                                   20% {visibility:hidden; }  25% {visibility:visible;} 100% {visibility:visible; } }
@-webkit-keyframes dbl-blink    {  0%  {visibility:visible;}  10% {visibility:hidden; }  15% {visibility:visible; }
                                   20% {visibility:hidden; }  25% {visibility:visible;} 100% {visibility:visible; } }


.mask                           { top:0; left:0; position:absolute; width:16em; height:12em; background-color:rgba(0,0,0,0);
                                  display:none; z-index:10; }
.icon.del                       { background-color:#222233; border-radius:.25em;}
.icon.del.s                     { background-color:red;}
.mask.filler                    { width:6.5em; height:1em; }
.nodeln                         { cursor:pointer; font-weight:bold;}
.nodeln:before                  { content:"["; }
.nodeln:after                   { content:"]"; }

.blink        { -webkit-animation: dbl-blink 5s step-start infinite;
                                  animation: dbl-blink 5s step-start infinite; }
.blink1       { -webkit-animation: dbl-blink 5s step-start infinite 1s;
                                  animation: dbl-blink 5s step-start infinite 1s; }
.blink2       { -webkit-animation: dbl-blink 5s step-start infinite 2s;
                                  animation: dbl-blink 5s step-start infinite 2s; }
.blink3       { -webkit-animation: dbl-blink 5s step-start infinite 3s;
                                  animation: dbl-blink 5s step-start infinite 3s; }
.blink4       { -webkit-animation: dbl-blink 5s step-start infinite 4s;
                                  animation: dbl-blink 5s step-start infinite 4s; }

#checkKO                        { width:100%; height:100%; display:none; color:white; }

#footer #cancel                 { float:left; margin-left:.2em; }
#footer #valid                  { float:right; margin-right:.2em; }

#main #score .splash01          { top:5%;left:16%; font-size:3em; }
#main #score .splash02          { top:25%;left:40%; font-size:2em; }
#main #score #newreward         { font-size:4em; position:absolute; top:10%; left:70%; }

#finish>div #label>div          { width: 40em; margin-left: 20em; }
#finish>div #label>div.s        { animation: animfooter 20s infinite 2s;
                                  -webkit-animation: animfooter 20s infinite 2s; }

#genius>#waiting                { top:4%; left:3%; font-size:2em; z-index:100;}

#genius #boardmask #quit        { font-size:1em; width:1em; height:1em; position:absolute; top:0; left:0; cursor:pointer; }
#genius #boardmask>div          { position:relative; top:9.5em; left:2.4em; width:7.5em; height:1.7em;
                                  background-color:rgba(120,100,80,0.6);}
#genius #boardmask h1           { font-size:.3em; color:white; padding-left:4em; background-color:rgba(255,220,200,0.1);
                                   border:1px solid white; border-width:0 0 1px 0; }
#genius #boardmask #example     { width:1em; height:1em; font-size:1.3em; color:white;
                                  background-image:url("../../res/img/icon/menu01bg.svg"); background-size:100%;
                                  font-weight:bold; float:right; cursor:pointer;}
#genius #boardmask #example>div { font-size:.5em;width:2em; text-align:center; margin-top:.2em; }
#genius #boardmask #source>div  { padding-left:3.5em; border:1px solid #FF5555; font-size:.3em;color:#FF5555; cursor:pointer;
                                  margin:.2em; background-color:rgba(0,0,0,0.2);}
#main.theme2 #boardmask>div   { background-color:rgba(255,255,255,0.8); border:.05em solid black; left:2.25em; }
#main.theme2 #boardmask h1    { color:black; border:1px solid black; border-width:0 0 1px 0; background-color:none; }
#main.theme2 #boardmask #source>div  { border:1px solid #A22; color:#A22; cursor:pointer;
                                  margin:.2em; background-color:rgba(255,0,0,0.2);}

#main.theme2 #boardmask #example { background-image:url("../../res/img/icon/menu02bg.svg"); }

#genius #boardfooter            { position:absolute; font-size:.5em; color:white; top:93%; left:14%; width:49%; }
#genius #boardfooter>div        { width:40em; margin-left:20em; color:#FDA; }
#genius #boardfooter>div.s      { animation: animfooter 17s infinite 5s;
                                  -webkit-animation: animfooter 17s infinite 5s; }
#main.theme2 #boardfooter     { top:94%; left:13.5%; }
#main.theme2 #boardfooter>div { color:black;  }

.avatar                     { position:relative; overflow:visible; }
.avatar .gonz               { width:100%; height:100%; overflow:hidden;}
.avatar .badge              { font-size:0.5em; width:1em; height:1em; position:absolute; top:-0.05em; left:1.7em;
                              background-color:rgba(80,75,60,1); border-radius:.5em; display:none; }
.theme2 .avatar .badge      { background-color:white; }

#genius>#user                   { position:absolute; top:9.5em; left:10em; width:5.9em; height:2.3em;
                                  background-color:rgba(120,100,80,0.6); }
#genius>#user #avatar           { float:left;font-size:2.1em; width:1em;height:1em;margin:.05em;background-color:black;cursor:pointer;}
#genius>#user #details          { font-size:.2em; color:white; }
#genius>#user h1                { font-weight:bold; width:8.7em; height:1.4em; background-color:rgba(255,255,255,0.1);
                                  margin-top:.3em; text-align:center; color:#FFDDAA; cursor:pointer; }
#genius>#user #usertag          { float:left; margin-left:3.5em; color:#FFDDAA; }
#genius>#user #usertag:before   { content:"#"; }
#genius>#user .stars            { font-size:2em; padding-right:0.5em; }
#genius>#user .stars>div        { float:right;
                                  -webkit-animation: dbl-blink 5s step-start infinite 10s;
                                  animation: dbl-blink 5s step-start infinite 10s; }
#genius>#user #stars            { color:yellow; font-weight:bold; }
#genius>#user #buttons          { margin-top:.1em; font-size:3em; width:6.4em; }
#genius>#user #buttons>div      { float:left; margin:.1em; cursor:pointer; overflow:visible;}
#genius>#user #buttons .l       { background-color:red;color:white; position:relative; border-radius:.5em; display:none;
                                  font-size:.5em; top:-1.5em; left:1em; width:1em; height:1em; text-align:center; opacity:0.9; }
#main.theme2 #user              { background-color:rgba(255,255,255,0.75); border:.05em solid black; left:9.9em;  }
#main.theme2 #user h1           { background-color:white; color:black; }
#main.theme2 #user #usertag     { color:black; background-color:gray; }
#main.theme2 #user #h2          { background-color:gray; }
#main.theme2 #user #buttons     { background-color:gray; }

#main>#awards>div                 { position:relative; font-size:.5em; width:24em; height:22em; top:0.5em; left:7.5em; 
                                  background-color:rgba(128,120,100,0.9);
                                  border-radius:.5em; background-image:url("../../res/img/background/book06.svg"); background-repeat:repeat; }
#main>#awards #header             { font-size:1.5em; height:1.1em; border:1px solid white; border-width:0 0 .1em 0; }
#main>#awards #header #quit       { width:1em; height:1em; float:left; cursor:pointer; }
#main>#awards #header #awardstitle  { text-align:center; width:12em; color:white; }
#main>#awards #menu             { font-size:.8em; float:left; width:13em; background-color:rgba(0,0,0,0.2); color:#fda; height:30em; }
#main>#awards #menu .title      { margin:.1em; border:1px solid #fda; padding-left:.5em; background-color:rgba(0,0,0,0.5);
                                  position:relative; cursor:pointer; }
#main>#awards #menu .lv2        { display:none; font-size:.8em; cursor:pointer;
                                  margin:.1em; margin-left:.5em; border:1px solid #fda; padding-left:.5em;
                                  background-color:rgba(0,0,0,0.3); position:relative;}
#main>#awards #menu .n          { position:absolute; top:.2em; left:18em; background-color:red; border-radius:0.5em; color:white;
                                  overflow:visible; width:1.2em; height:1.2em; text-align:center; font-weight:bold; font-size:.8em;
                                  display:none; }
#main>#awards #menu .title .n  { left:14em; }
#main>#awards #menu .lv2.s      { background-color:rgba(255,0,0,0.3); }
#main>#awards #menu .na .n      { display:inline; }
#main>#awards #thumbnails       { font-size:4em; height:4.4em;}
#main>#awards #thumbnails>div   { float:left; padding:.05em; cursor:pointer; border-radius:.5em; overflow:visible; position:relative;}
#main>#awards #thumbnails>div.s { background-color:red; }
#main>#awards #thumbnails>div .nn { position:absolute; font-size:.4em; background-color:red; border-radius:.5em; color:white;
                                  width:1em; height:1em; top:1.8em; left:1.8em; }
#main>#awards #text             { height:4.1em; background-color:rgba(255,255,255,0.2); border:.1em solid white; border-width:0.1em 0 0 0;
                                  font-size:.6em; color:#241F1C; padding:.1em; padding-left:.5em; cursor:pointer; }
#main>#awards #text.pinned      { background-color:rgba(0,0,0,0.5); color:#fda; }

#main.theme2 #awards>div        { border-radius:0; border:.1em solid black; background-color:rgba(128,128,128,0.9); }
#main.theme2 #awards #menu      { background-color:rgba(255,255,255,0.5); color:white; }
#main.theme2 #awards #menu .title      { border:1px solid white; background-color:rgba(0,0,0,0.6); }
#main.theme2 #awards #menu .lv2        { border:1px solid white; background-color:rgba(0,0,0,0.4); }
#main.theme2 #awards #menu .lv2.s   { background-color:rgba(128,0,0,0.8); }
#main.theme2 #awards #thumbnails { background-color:white; background-image:url("../../res/img/background/book03.svg");
                                  background-repeat:repeat; }
#main.theme2 #awards #text      { background-color:rgba(255,255,255,0.8); color:black; }
#main.theme2 #awards #text.pinned   { background-color:rgba(0,0,0,0.5); color:white; }

#main>#news>div                 { position:relative; font-size:.5em; width:20em; height:18em; top:0.5em; left:11.5em; 
                                  background-color:rgba(128,120,100,0.9);
                                  border-radius:.5em; background-image:url("../../res/img/background/book06.svg"); background-repeat:repeat; }
#main>#news #header             { font-size:1.5em; height:1.1em; border:1px solid white; border-width:0 0 .1em 0; }
#main>#news #header #quit       { width:1em; height:1em; float:left; cursor:pointer; }
#main>#news #header #newstitle  { text-align:center; width:12em; color:white; }
#main>#news .news               { font-size:0.8em; height:4.5em; margin:.2em; background-color:#FDA; }
#main>#news .news .date         { width:10em; margin:0 .2em; text-align:right; float:left; color:red; font-weight:bold; }
#main>#news .news .title        { margin-left:.2em; float:left; font-weight:bold; }
#main>#news .news .newsstory    { margin:.2em; text-align:justify; font-size:.8em; }
#main>#news .news .blue         { color:blue; }
#main>#news .news .red          { color:red; }
#main>#news .news .green        { color:green; }

#main.theme2 #news>div          { border-radius:0; border:.1em solid black; background-color:rgba(128,128,128,0.9); }
#main.theme2 #news .news        { background-color:white; background-image:url("../../res/img/background/book03.svg");
                                  background-repeat:repeat;}

#main>#edit>div                 { position:relative; font-size:.5em; width:20em; height:18em; top:2em; left:6em; 
                                  background-color:rgba(128,120,100,0.9);
                                  border-radius:.5em; background-image:url("../../res/img/background/book06.svg"); background-repeat:repeat; }
#main>#edit .icon               { cursor:pointer; margin:.1em; }
#main>#edit input               { border:0; width:13.8em; height:1.2em; margin:.1em; border-radius:0 .5em .5em 0; font-size:.8em; }
#main>#edit select              { border:0; width:13.8em; height:1.2em; margin:.1em; border-radius:0 .5em .5em 0; font-size:.8em; }
#main>#edit input.empty         { color:#BBBBBB; }
#main>#edit #header             { height:13.2em; }
#main>#edit #misc               { height:2em; clear:both;}
#main>#edit #misc .label        { float:left;width:8.3em; margin:.05em .2em; text-align:right; color:white; }
#main>#edit #footer             { font-size:4em; }
#main>#edit #settings           { margin:.1em; }
#main>#edit #error              { clear:both;color:red;margin-right:1em;text-align:right;font-weight:bold;font-style:italic;font-size:.8em;}
#main>#edit #avatar             { float:left;width:8.3em;height:8.3em;margin:.25em .2em;background-color:black;border-radius:1em 0 0 1em;}
#main>#edit #gonz               { background-color:rgba(255,240,200,0.9); width:100%; height:63%; margin-top:2em; padding:.5em;}

#main.theme2>#edit>div         { border-radius:0; border:.1em solid black; background-color:rgba(128,128,128,0.9); }

#board #node                    { z-index:50; }
#board #finish                  { z-index:50; }

#main>#friend>div               { position:relative; font-size:.5em; width:30em; height:20em; top:1em; left:1em;
                                  background-color:rgba(128,120,100,0.9); border-radius:.5em;
                                  background-image:url("../../res/img/background/book06.svg"); background-repeat:repeat; }
#main>#friend #popup            { z-index:11; }
#main>#friend #popup>div        { font-size:.8em; width:15em; background-color:#555; border-radius:.75em; padding:.5em;
                                  margin-top:3em; margin-left:2em; }
#main>#friend #popup>div>div    { width:16em; }
#main>#friend #popup input      { float:left; font-size:1em; height:1.19em; width:13.3em; border:0;
                                  padding-left:.5em; background-color:#AAA; color:white; border-radius:.5em 0 0 .5em;}
#main>#friend #popup .icon      { padding:.1em; margin-left:1em; background-color:#333;  border-radius:0 .5em .5em 0;}


#main>#friend #menu             { width:6em; height:20em; float:left; background-color:rgba(0,0,0,0.1); }
#main>#friend #menu #quit       { font-size:2em; width:1em; height:1em; cursor:pointer; }
#main>#friend #group            { height:17em; color:#fda; }
#main>#friend #group>.e         { margin:.25em;border:1px solid #fda; background-color:rgba(0,0,0,0.5);padding:.4em .25em;cursor:pointer;
                                  font-size:.8em;height:1.2em; }
#main>#friend #group>.e.o       { background-color:blue;  }
#main>#friend #group>.e.s       { background-color:red; }
#main>#friend .popup            { height:19em; overflow:auto; display:none; }
#main>#friend #list             { height:19em; overflow:auto; }
#main>#friend .mask             { opacity:0.98; font-size:2em;}
#main>#friend .mask #quit       { font-size:1em; width:1em; height:1em; position:absolute; top:0; left:0; cursor:pointer; }
#main>#friend #genius>div       { font-size:.8em; width:16em; height:12em; margin:.2em auto; position:relative; border-radius:.25em;}
#main>#friend #genius #board    { width:100%; height:100%; }
#main>#friend #genius #avatar   { font-size:.4em; width:11.5em;text-align:right;color:#FDA;
                                  font-weight:bold;position:absolute;left:70%;top:94%; }
#main>#friend #course>div       { font-size:.8em; width:10em; height:9.5em; margin:1em 5em; position:relative; border-radius:.25em;
                                  background-color:#444466; }
#main>#friend #course .h1       { border:1px solid white; border-width:0 0 1px 0; font-size:1.2em; text-align:center; color:white; }
#main>#friend #course #select   { margin:.5em 0 .5em .5em;  }
#main>#friend #course select    { float:left;height:1.2em;width:7.5em;border:0;background-color:#222233;color:white;font-size:1em;
                                  margin-right:.5em;}
#main>#friend #course .icon     { cursor:pointer; }
#main>#friend #course select.s  { width:9em; }
#main>#friend #course textarea  { margin:0 0 .3em 1em;border:0;background-color:#222233;color:white;font-size:.5em;width:18em; height:6em; }
#main>#friend #course #footer   {font-size:2em; }

#main>#friend #menu #footer       { background-color:#444466; color:white; height:1.2em;}
#main>#friend #menu #footer>div   { float:right; cursor:pointer; opacity:0.1; }
#main>#friend #menu #footer.s>div { opacity:1; }
#main>#friend #menu #addgroup     { opacity:1 !important; }
#main>#friend #menu #delgroup     { display:none; border-radius:.5em;}
#main>#friend #menu #delgroup.s   { background-color:red; }
#main>#friend.del #menu #delgroup { display:inherit; }
#main>#friend.del #menu #addgroup { display:none; }
#main>#friend #view #input      { background-color:#444466; padding:.1em; width:24em; height:1em; }
#main>#friend #view #input>*    { float:right; margin:0 .2em;}
#main>#friend #view #search     { margin:0 .5em 0 .2em; }
#main>#friend #view select      { font-size:0.75em; color:#444466; border:0; width:4em; height:1.2em; margin:.1em; }
#main>#friend #view input       { font-size:0.75em; color:#444466; border:0; width:9.8em; height:1.2em; margin:.1em; }
#main>#friend #view .icon       { cursor:pointer;  }
#main>#friend #view #ask        { background-color:#222233; color:white; text-align:center; border-radius:.25em; }
#main>#friend #view #ask.s      { background-color:red; }
#main>#friend #view             { float:left; width:24em; }

#main>#friend .user                       { font-size:1.1em; width:10em; height:4em; margin:.1em; padding:.1em; background-color:#444466;
                                            color:white; float:left; position:relative; }
#main>#friend .user.small                 { font-size:.9em; width:6em; height:3em; }
#main>#friend .user .legend               { float:left; width:6em; }
#main>#friend .user .avatar               { width:4em; height:4em; border-radius:.5em; float:left; }
#main>#friend .user .id                   { text-align:right; width:10em; padding-right:.1em; height:1.2em; cursor:move;
                                            border:1px solid white; border-width:0 0 1px 0; font-size:0.6em;}
#main>#friend .user .key                  { display:none; }
#main>#friend .user .name                 { float:right; clear:both; font-size:.4em; font-style:italic; height:1.2em; overflow:visible;}
#main>#friend .user .icon                 { float:right; cursor:pointer; }
#main>#friend .user .icon.s               { background-color:red; border-radius:.5em; }
#main>#friend .user .friendstar           { font-size:.6em; margin-right:.25em; clear:both;}
#main>#friend .user .friendstar>div       { float:right; }
#main>#friend .user .friendstar .icon     { font-size:1em; }
#main>#friend .user .friendstar>.tag      { float:right; font-size:.5em; margin-left:2em; }
#main>#friend .user .tag:before           { content:"#"; }
#main>#friend .user .nbstars              { color:yellow; }
#main>#friend .user .badge                { position:absolute; top:0; left:1.7em; font-size:2em;
                                            border-radius:.5em; background-color:#446; }
#main>#friend .user .fdel                 { display:none; }
#main>#friend.del .user .fdel             { display:inherit; }
#main>#friend .user.ui-draggable-dragging             { background-color:rgba(255,0,0,0.3) !important;  height:1em; width:6em;
                                                        border:1px solid red; margin:0 2em;}
#main>#friend .user.ui-draggable-dragging .avatar     { display:none; }
#main>#friend .user.ui-draggable-dragging .icon       { display:none; }
#main>#friend .user.ui-draggable-dragging .friendstar { display:none; }
#main>#friend .user.ui-draggable-dragging .nbstars    { display:none; }
#main>#friend .user.ui-draggable-dragging .name       { display:none; }

#main.theme2>#friend>div         { border-radius:0; border:.1em solid black; background-color:rgba(128,128,128,0.9); }
#main.theme2>#friend #menu       { background-color:rgba(255,255,255,0.4); }
#main.theme2>#friend #group      { color:white; }
#main.theme2>#friend #group>.e   { border:1px solid white; }
#main.theme2>#friend #list       { background-color:white; background-image:url("../../res/img/background/book03.svg");
                                   background-repeat:repeat; }
#main.theme2>#friend #genius #avatar { color:black; }
#main.theme2>#friend #genius>div    { border:1px solid black; border-radius:0;}

#main>#tibibi>div               { font-size:.5em; width:22em; height:20em; margin:1em 5em; background-color:rgba(255,240,200,0.8);
                                  border-radius:.5em;}
#tibibi #header                 { height:2em; position:relative; }
#tibibi #header #menu           { height:1.1em; background-color:#444466; padding:.1em 0 0 3em; }
#tibibi #menu>div               { float:left; }
#tibibi #recv                   { overflow:auto; height:18em; }
#tibibi #send                   { display:none; overflow:auto; height:18em;}
#tibibi .icon                   { cursor:pointer; }
#tibibi .filler                 { width:2em; }
#tibibi #menu #toggle .icon     { border-radius:.25em; float:left; }
#tibibi #menu #toggle .icon.s   { background-color:#222233; }
#tibibi #r.icon                 { margin:0 .1em; }
#tibibi #s.icon                 { margin:0 .1em; }
#tibibi #quit                   { font-size:2em; width:1em; height:1em; position:absolute; top:0; left:0; cursor:pointer; }
#tibibi .course                 { background-color:#444466; width:20em; height:5em; border-radius:.5em; color:white; margin:.5em; }
#tibibi .course .h1             { border:1px solid white; border-width:0 0 1px 0; font-size:1.2em; text-align:center; color:white; }
#tibibi .course .h1 .state      { float:left; font-size:.5em; border:1px solid white; border-radius:.5em; margin:.5em .4em; padding:0 .5em;
                                  width:5em; text-align:center; }
#tibibi .course .h1 #del        { margin-top:.1em; border-radius:.5em; display:none; }
#tibibi.del .course .h1 #del    { display:inherit; }
#tibibi .course .h1 #del.s      { background-color:red; }
#tibibi .course .state.none     { border:0; }
#tibibi .course .value          { float:left; width:12em; }
#tibibi .course .avatar         { font-size:3em; float:left; width:1em; height:1em; border-radius:.1em; margin:.1em; }
#tibibi .course .legend         { font-size:.8em; font-style:italic; float:left; width:15em; height:4.5em; margin-left:.25em; }
#tibibi .course .target         { height:1em; }
#tibibi .course .group          { float:left; margin-left:.5em;  }
#tibibi .course .nb             { background-color:#222233; width:1em; height:1em; text-align:center; border-radius:.25em; float:left;}
#tibibi .course .action         { font-size:3.5em; }
#tibibi #details                { font-size:2em; }
#tibibi #details>div            { font-size:.5em; width:30em; height:22em; margin:1em 1em; background-color:rgba(0,0,0,0.8); color:Lime;
                                  border-radius:.5em; font-family: "Courier New", Courier, mono; font-weight:bold;}
#tibibi #details tr.done        { background-color:lime; color:black; }
#tibibi #details td .id         { width:5em; display:none; }
#tibibi #details td .first      { width:7em; }
#tibibi #details td .last       { width:7em; }
#tibibi #details td .nb         { width:1.5em; }
#tibibi #details td .done       { width:1.5em; }
#tibibi #details td .lA         { opacity:1; }
#tibibi #details td .lB         { opacity:0.8; }
#tibibi #details td .lC         { opacity:0.5; }
#tibibi #details td .lD         { opacity:0.2; }
 
