<div class='abs f40'>
    <div class='t r data icon' style='top:14%; left:10%;'></div>
    <div class='t r data icon' style='top:14%; left:30%;'></div>
    <div class='t r data icon' style='top:14%; left:50%;'></div>
    <div class='t r data icon' style='top:14%; left:70%;'></div>
    <div class='t r data icon' style='top:40%; left:10%;'></div>
    <div class='t r data icon' style='top:40%; left:30%;'></div>
    <div class='t r data icon' style='top:40%; left:50%;'></div>
    <div class='t r data icon' style='top:40%; left:70%;'></div>
    <div class='t r data icon' style='top:66%; left:10%;'></div>
    <div class='t r data icon' style='top:66%; left:30%;'></div>
    <div class='t r data icon' style='top:66%; left:50%;'></div>
    <div class='t r data icon' style='top:66%; left:70%;'></div>
</div> 
