<div class='abs f30'>
    <div class='t r data w20 h12' style='top:14%; left:6%;'></div>
    <div class='t r data w20 h12' style='top:14%; left:36%;'></div>
    <div class='t r data w20 h12' style='top:14%; left:66%;'></div>
    <div class='t r data w20 h12' style='top:39%; left:6%;'></div>
    <div class='t r data w20 h12' style='top:39%; left:36%;'></div>
    <div class='t r data w20 h12' style='top:39%; left:66%;'></div>
    <div class='t r data w20 h12' style='top:64%; left:6%;'></div>
    <div class='t r data w20 h12' style='top:64%; left:36%;'></div>
    <div class='t r data w20 h12' style='top:64%; left:66%;'></div>
</div> 
