body>div        { background-color:white; display:inherit; }
#aapage         { width:100%;height:100%; }
#aamenu         { position:absolute; font-size:0.9em; width:60%; height:100%; top:0; left:40%; background-color:gray;}
#aamenu .jmenu .slider { display:none; }
#aacontent      { position:relative; font-size:.5em; width:40%; height:24em; float:left; top:0; left:0; }
#aatemplate     { height:100%; font-size:.75em; }
#aanav          { background-color:rgba(0,0,0,0.5);border:.1em solid white; border-width:.1em 0; font-size:3em; position:absolute; top:80%; width:100%; height:1.2em; }
#aanav>div      { width:1em; height:1em; cursor:pointer; position:absolute; border-radius:.5em; }
#aanav #abprev  { top:0.1em; left:.3em; }
#aanav #abmenu  { top:0.1em; left:1.7em; }
#aanav #abnext  { top:0.1em; left:3.1em; }

.default #aacontent     { width:100%; height:100%; }
.toc #aatemplate        { font-size:.5em; background-color:gray; height:24em; color:white; }
.toc #aatemplate h1     { font-size:1em; padding:0 0 0 .5em; text-align:left; cursor:pointer; }
.toc #aatemplate h2     { font-size:.7em; text-align:left; margin-left:1em; cursor:pointer; }
.toc #aatemplate .h2    { display:none; }

#aatemplate h1 { font-size:1.2em; color:white; background-color:red; padding:.1em 0; text-align:center; margin-top:.1em; }
#aatemplate h2 { font-size:1em; color:white; background-color:gray; padding:.1em .5em; text-align:right; font-weight:normal;}
#aatemplate div { padding:.1em .2em 0 .5em; text-align:justify; }

#aatoc .icon.s { background-color:yellow; border-color:red; }

#aausers .icon { font-size:3.6em; float:left; margin:.01em; padding:.03em; cursor:pointer; border:.04em solid gray; text-align:center; background-color:white; border-radius:.1em; }

#aalangs        { margin-bottom:.5em; }
#aalangs .icon { font-size:1.8em; float:left; margin:.02em; padding:.06em; cursor:pointer; border:.08em solid gray; text-align:center; background-color:gray; border-radius:.1em; }
