.wargames                                { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.wargames div#splashex                  { background-image:url("../../res/img/banners/it.svg"); color:lime; }
.wargames div#splashex h1               { position:absolute; top:45%; left:60%; font-size:1.5em; }
.wargames div#splashex #guide           { position:absolute; top:52%; left:45%; font-size:.75em; width:48%;;
                                          text-align:justify; }

.wargames #main                          { width:16.5em; }
.wargames #main>#menu                    { margin:.1em; width:5.2em; height:11.8em; float:left; }
.wargames #main>#menu #header            { height:1em; font-size:.8em; padding:.1em; background-color:#AAA; 
                                           background-image:url("../../res/img/default/pattern/steel01.svg"); background-repeat:repeat; }
.wargames #main>#menu #header>.icon      { float:right; margin:0 0 0 .1em; cursor:help; }
.wargames #main>#menu #nav               { background-color:white; height:10em; width:5.2em;  }
.wargames #main>#menu #nav>div           { margin:.1em; height:9.8em; background-color:gray; }
.wargames #main>#menu #nav #detail       { height:3.9em; background-color:white; }
.wargames #detail #stats                 { height:2.6em; background-color:#90cce0; }
.wargames #detail #stats>div             { float:left; }
.wargames #detail #stats #portrait       { margin:.05em; font-size:2em; width:1em; height:1em; border-radius:.2em;
                                           background-image:url("../../res/img/default/pattern/line01.svg"); background-repeat:repeat;
                                           border:.05em solid white; position:relative; overflow:visible;}
.wargames #portrait>#ptype				{ position:absolute;font-size:.3em;width:1em;height:1em;top:0;left:0;display:none;}
.wargames #portrait>#ptransport			{ position:absolute;font-size:.4em;height:1em;width:2.5em;top:1.5em;left:0; display:none;}
.wargames #portrait>#ptransport>div		{ width:1em;height:1em;float:left; margin:0 .07em; border:0.05em solid white; background-color:#EEE;
										  cursor:pointer; }
.wargames #portrait>#ptransport>div.s	{ background-color:red; }
.wargames #detail #stats #data           { margin-top:.05em; width:2.6em; }
.wargames #detail #stats .skill          { font-size:.5em; width:2.4em;height:1em; background-color:#222; border-radius:.5em;
                                           margin:.1em; float:left; cursor:help; }
.wargames #detail #stats .skill>div      { float:left;  }
.wargames #detail #stats .skill .label   { text-align:right; width:1.2em; margin-right:.2em; color:#DD9933; }
.wargames #detail #stats .skill .label.bonus    { color:limegreen; }
.wargames #detail #stats .skill .label.malus    { color:red; }
.wargames #detail #option               { padding:.1em; font-size:0.9em; }
.wargames #detail #option>div           { float:left; margin:0 .05em; padding:0.1em; border-radius:.2em; background-color:#CCC;
                                          cursor:pointer; }
.wargames #detail #option>div.s         { background-color:red; }
.wargames #main>#menu #nav #other        { height:5em; background-color:#333; }
.wargames #main>#menu #nav #submit       { font-size:0.8em; height:1em;width:1em; cursor:pointer; }
.wargames #main>#action                  { float:left; width:10.6em; height:12em; }
.wargames #action>#board                 { margin:.1em .1em 0 .1em; width:10.2em; height:10.2em; background-color:white; }
.wargames #action>#board>div             { margin:.1em; width:10em; height:10em; position:relative;}
.wargames #action>#board #grounds        { position:absolute; }
.wargames #action>#board .tileset        { position:absolute; width:100%; height:100%; top:0; left:0;}
.wargames #action>#board .tileset>div    { position:absolute; width:1em; height:1em; }
.wargames #action>#board #bg>div         { background-image:url("../../res/img/tileset/ortho/set1/tileset.svg");
                                           background-repeat:no-repeat; background-size:1000%; }

.wargames #action>#board #bg>div.t         { cursor:move; }

.wargames #action>#board #fogg>div          { background-color:rgba(200,200,200,0.8); display:none; }
.wargames #action>#board #fg>div            { background-color:rgba(0,20,40,0.1); display:none;}
.wargames #action>#board #fg>div.s          { background-color:rgba(0,20,40,0.3); }
.wargames #action>#board #fg>div.t          { background-color:rgba(255,0,0,0.6) !important; }
.wargames #action>#board #fg>div.c          { background-color:rgba(255,255,0,0.3) !important; }
.wargames #action>#board #fg>div>.tt         { width:1em; height:1em; opacity:0.7; 
                                             background-image:url("../../res/img/asset/fx/target03.svg"); position:relative; }
.wargames #action>#board #fg>div>.a         { width:2em; height:7em; opacity:0.7;
                                             background-image:url("../../res/img/tileset/fx/arrow01.svg"); position:relative; }
.wargames #action>#board #fg>div>.a.a10   { top:-3em; left:0; }
.wargames #action>#board #fg>div>.a.a20   { top:-4em; left:0; }
.wargames #action>#board #fg>div>.a.a30   { top:-4em; left:-1em; }
.wargames #action>#board #fg>div>.a.a40   { top:-3em; left:-1em; }
.wargames #action>#board #fg>div>.a.a11   { top:0; left:0; }
.wargames #action>#board #fg>div>.a.a22   { top:0; left:-1em; }
.wargames #action>#board #fg>div>.a.a33   { top:0; left:0; }
.wargames #action>#board #fg>div>.a.a44   { top:0; left:-1em; }
.wargames #action>#board #fg>div>.a.a12   { top:-1em; left:0; }
.wargames #action>#board #fg>div>.a.a23   { top:-1em; left:-1em; }
.wargames #action>#board #fg>div>.a.a34   { top:-2em; left:0; }
.wargames #action>#board #fg>div>.a.a41   { top:-2em; left:-1em; }
.wargames #action>#board #fg>div>.a.a14   { top:-1em; left:-1em; }
.wargames #action>#board #fg>div>.a.a21   { top:-2em; left:0; }
.wargames #action>#board #fg>div>.a.a32   { top:-2em; left:-1em; }
.wargames #action>#board #fg>div>.a.a43   { top:-1em; left:0; }
.wargames #action>#board #fg>div>.a.a01   { top:-6em; left:-1em; }
.wargames #action>#board #fg>div>.a.a02   { top:-6em; left:0; }
.wargames #action>#board #fg>div>.a.a03   { top:-5em; left:0; }
.wargames #action>#board #fg>div>.a.a04   { top:-5em; left:-1em; }

.wargames #action>#board #people          { position:absolute; width:100%; height:100%;  top:0; left:0;}
.wargames #action>#board #people>div      { position:absolute; width:1em; height:1em; cursor:pointer; }
.wargames #action>#board #people>div.d    { display:none; }
.wargames #action>#board #people>div.a    { background-image:url("../../res/img/asset/fx/target01.svg"); }
.wargames #action>#board #people>div.s    { background-color:rgba(0,0,128,0.2); }
.wargames #action>#board #people>div.t    { background-color:rgba(255,0,0,0.2); background-image:url("../../res/img/asset/fx/target03.svg"); }
.wargames #action>#board #people>div>div  { position:relative;}

.wargames #action>#board .fx                { position:absolute; display:none; }
.wargames #action>#board .fx.point>div      { font-size:0.5em; width:1.2em; height:1.2em; text-align:center; border-radius:.2em;
                                              background-color:rgba(200,240,240,0.7); color:#125; margin-left:.3em; margin-top:.1em; }

.wargames #action>#footer #zoom           { margin-left:.2em; font-size:.5em; width:20.4em; height:1em;  }
.wargames #action>#footer #zoom #cursor   { width:1em; height:1em; background-color:white; border-radius:0  0 .5em .5em;
                                            cursor:move; display:none;}

.wargames #action>#board .border           { background-color:rgba(255,255,255,0.5); position:absolute; top:0; left:0; display:none; }
.wargames #action>#board #eleft            { width:0.4em; height:11em; }
.wargames #action>#board #eright           { width:0.4em; height:11em; left:9.6em;}
.wargames #action>#board #etop             { width:11em; height:0.4em; }
.wargames #action>#board #ebottom          { width:11em; height:0.4em; top:9.6em;}

.wargames #popups>div                       { position:absolute; font-size:.3em; width:15em; padding:.5em;
                                              border-radius:.5em; background-color:rgba(0,80,40,0.9); color:#5F6;
                                              border:2px solid #5F6; text-align:justify; display:none; left:2%;}
.wargames #popups>div.mode                  { top:8.5%; }
.wargames #popups>div.fog                   { top:8.5%; }
.wargames #popups>div#plife                 { top:15%; }
.wargames #popups>div#pmunition             { top:15%; }
.wargames #popups>div#parmor                { top:20%; }
.wargames #popups>div#pattack               { top:20%; }
.wargames #popups>div#pmove                 { top:25%; }
.wargames #popups>div#pvision               { top:25%; }
.wargames #popups>div#pluck                 { top:30%; }
.wargames #popups>div#pspeed                { top:30%; }
