.mathcraft                                  { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.mathcraft table.zz                         { font-size:1em; border-collapse:collapse; border-spacing:0;}
.mathcraft .z                               { width:1em; height:1em; background-image:url("../../res/img/icon/cell/cell01.svg"); background-size:100%; }
.mathcraft .ea.tree                         { background-image:url("../../res/img/action/nothing3.svg"); }
.mathcraft .ea.action                       { background-image:url("../../res/img/action/nothing4.svg"); color:#A00; }
.mathcraft .ea.move                         { opacity:0.7; }
.mathcraft .ea>div                          { font-size:.8em;cursor:move; }
.mathcraft div#g_splash                     { background-image:url("../../res/img/banners/mathematics.svg"); color:black; }
.mathcraft>div                              { width:16.2em;height:12em; }
.mathcraft #mtleft                          { margin:.1em;width:7em;height:11.8em;float:left; }
.mathcraft #mtleft>#figure                  { width:7em;height:5.25em;background-color:white; border-radius:.25em .25em 0 0; overflow:hidden; }
.mathcraft #mtleft>#figure .user            { font-size:2em; width:100%; text-align:center;}
.mathcraft #mtleft>#exercice                { width:7em;height:3.5em; background-repeat:repeat; background-image:url("../../res/img/default/pattern/line01.svg"); text-align:justify; }
.mathcraft #mtleft>#exercice>div            { font-size:.3em; margin:.2em;}
.mathcraft #mtleft>#exercice .img           { border:1px solid black; border-width:1px 0 1px 0; margin-top:.5em; }
.mathcraft #mtleft>#exercice .icon          { font-size:12em; margin:0 auto;}
.mathcraft.nofig #mtleft>#figure            { display:none; }
.mathcraft.nofig #mtleft>#exercice          { padding-top:1em;height:7.75em;  border-radius:.25em .25em 0 0; }
.mathcraft.nofig #mtleft>#exercice>div      { margin:.5em; }
.mathcraft #mtleft>#exercice .strong        { color:red; font-weight:bold; border: 1px solid red; border-width:1px 0; }
.mathcraft #mtleft>#exercice .math          { font-size:3em; width:100%; background-color:rgba(0,0,0,0.2); margin:.2em 0; }
.mathcraft #mtleft>#exercice .maths         { font-size:2em; width:100%; background-color:rgba(0,0,0,0.2); margin:.2em 0; }
.mathcraft #mtleft>#exercice .mathxl        { font-size:3em; width:100%; background-color:rgba(0,0,0,0.2); margin:.2em 0; }
.mathcraft #mtleft>#exercice .mtdata.mthl   { background-color:orange; border-radius:.5em; overflow:visible; }
.mathcraft #mtleft>#inventory               { width:7em;height:3em;border-radius:0 0 .25em .25em; background-color:#90cce0; background-image:url("../../res/img/default/pattern/line03.svg"); background-repeat:repeat;}
.mathcraft #mtright                         { margin:.1em .1em .1em 0;width:8.7em;height:12em;float:left;position:relative; }
.mathcraft #mtright>#mtboard                { width:8.7em;height:8em;}
.mathcraft #mtright #mteditor               { width:100%;height:8em; position:absolute; }
.mathcraft #mtright>#mtboard .d             { width:1.2em;height:1.2em; background-color:rgba(0,32,0,0.5); border-radius:.1em; border:.1em solid #106410; position:absolute; }
.mathcraft #mtright>#mtboard .d.over        { border:.1em solid #20AA20; background-color:rgba(50,128,50,0.5); }
.mathcraft #mtright>#mtboard .d>.ea         { margin:.1em; }
.mathcraft #mtright>#mtboard .l             { position:absolute; height:0.3em; border:1em solid #106410; border-width:.05em 0 0 .05em; border-radius:.15em 0 0 0; }
.mathcraft #mtright>#mtboard .l.l0          { border-width:0 0 0 .05em; height:0.25em; border-radius:0; }
.mathcraft #mtright>#mtboard .l.l1          { border-width:0 0 0 .05em; border-radius:0; }
.mathcraft #mtright>#mtboard .l.l2          { border-width:.05em .05em 0 0; border-radius:0 .15em 0 0; }
.mathcraft #mtscreen                        { width:8.7em;height:2em;background-color:white; cursor:pointer; }
.mathcraft #mtscreen>div                    { width:100%; margin:0 auto; }
.mathcraft #mtscreen.s *                    { color:gray !important; }
.mathcraft #mtscreen.s0                     { background-color:limegreen; }
.mathcraft #mtscreen.s1                     { background-color:greenyellow; }
.mathcraft #mtscreen.s2                     { background-color:yellow; }
.mathcraft #mtscreen.s3                     { background-color:orange; }
.mathcraft #mtscreen.s4                     { background-color:red; }
.mathcraft #mtscreen.s5                     { background-color:purple; }
.mathcraft #mtright>#mtmenu                   { width:8.7em;height:1.8em;background-color:gray; border-radius:0 0 .25em .25em; background-image:url("../../res/img/default/pattern/steel01.svg"); background-repeat:repeat; }
.mathcraft #mtright>#mtmenu>div               { float:left;}
.mathcraft #mtright>#mtmenu .bar              { width:.1em;height:1.8em;background-color:rgba(255,255,255,0.2); }
.mathcraft #mtright>#mtmenu #bar1             { margin:0 .3em 0 2em; }
.mathcraft #mtright>#mtmenu #bar2             { margin:0 1em 0 .3em; }
.mathcraft #mtright>#mtmenu #result           { margin-top:.4em; }
.mathcraft #mtsubmit                        { float:right; width:1em; height:1em; font-size:1.4em; margin:.15em .2em; opacity:0.2; }
.mathcraft #mtsubmit.s                      { cursor:pointer; opacity:1; }
.mathcraft #mtright>#mtmenu #toinventory      { float:left; width:1em; height:1em; font-size:1.4em; margin:.15em .2em; display:none; opacity:0.2; }
.mathcraft.in #mtright>#mtmenu #toinventory   { display:block; }
.mathcraft #mtright>#mtmenu #toinventory.s    { opacity:1; cursor:pointer; }
.mathcraft #mtright>#mtmenu #mtexec             { float:left; width:1em; height:1em; font-size:1.4em; margin:.15em .2em; display:none; opacity:0.2; }
.mathcraft.ex #mtright>#mtmenu #mtexec          { display:block; }
.mathcraft #mtright>#mtmenu #mtexec.s           { opacity:1; cursor:pointer; }
.mathcraft .nedita.neditde                  { background-image:url("../../res/img/action/nothing4.svg"); color:#A00; }
