.futoshiki                                { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat; }
.futoshiki #main                          { width:16.2em;}



.futoshiki div#submit                     { font-size:1.5em; height:1em;width:1em; cursor:pointer;
                                            position:absolute; top:7em; left:0em; z-index:3; }
.futoshiki div#board                      { width:12em; height:12em; float:left;}

.futoshiki div#board table#t                { background-color:rgb(53,34,34); border: 1px solid rgb(53,34,34);
                                            border-spacing:0; margin:1% auto; }
.futoshiki div#board table td.t>div       { background-color:rgb(255,252,246); color:rgb(53,34,34); }

.futoshiki div#board table td.t>div.l1    { background-color:rgb(255,231,184); }
.futoshiki div#board table td.t>div.l2    { background-color:rgb(255,210,140); }
.futoshiki div#board table td.t>div.wrong { background-color:rgb(200,100,100); color:red; }


.futoshiki div#board td.t.blue div.fill         { background-color:rgba(0,0,200,0.3); }
.futoshiki div#board td.t.red div.fill          { background-color:rgba(200,0,0,0.3); }
.futoshiki div#board td.t.green div.fill        { background-color:rgba(0,200,0,0.3); }
.futoshiki div#board td.t.blue.red div.fill     { background-color:rgba(200,0,200,0.3); }
.futoshiki div#board td.t.red.green div.fill    { background-color:rgba(200,200,0,0.3); }
.futoshiki div#board td.t.green.blue div.fill   { background-color:rgba(0,200,200,0.3); }

.futoshiki div#board td.t.blue table.hint       { background-color:rgba(0,0,200,0.3); }
.futoshiki div#board td.t.red table.hint        { background-color:rgba(200,0,0,0.3); }
.futoshiki div#board td.t.green table.hint      { background-color:rgba(0,200,0,0.3); }
.futoshiki div#board td.t.blue.red table.hint   { background-color:rgba(200,0,200,0.3); }
.futoshiki div#board td.t.red.green table.hint  { background-color:rgba(200,200,0,0.3); }
.futoshiki div#board td.t.green.blue table.hint { background-color:rgba(0,200,200,0.3); }

.futoshiki div#board .f00               { width:3em; height:3em;  text-align:center; cursor:pointer;
                                          background-image:url("../../res/img/svginventoryicons/background/border/square01.svg"); }
.futoshiki div#board .f00 v2            { background-image:url("../../res/img/svginventoryicons/background/border/square02.svg"); }
.futoshiki div#board .f00>div           { width:1em; height:1em; font-size:3em;}
.futoshiki div#board .f01               { width:3em; height:.75em; background-image:url("../../res/img/icon/cell/futoshiki01.svg"); }
.futoshiki div#board .f02               { width:3em; height:.75em; background-image:url("../../res/img/icon/cell/futoshiki02.svg"); }
.futoshiki div#board .f03               { width:3em; height:.75em; background-image:url("../../res/img/icon/cell/futoshiki03.svg"); }
.futoshiki div#board .f04               { width:.75em; height:3em; background-image:url("../../res/img/icon/cell/futoshiki04.svg"); }
.futoshiki div#board .f05               { width:.75em; height:3em; background-image:url("../../res/img/icon/cell/futoshiki05.svg"); }
.futoshiki div#board .f06               { width:.75em; height:3em; background-image:url("../../res/img/icon/cell/futoshiki06.svg"); }
.futoshiki div#board .f07               { width:.75em; height:.75em; background-image:url("../../res/img/icon/cell/futoshiki07.svg"); }

.futoshiki div#board .hint              { font-size:1em; border-spacing:0; background-color:none;}
.futoshiki div#board .hint div          { width:1em; height:1em; background-color:none; border-radius:.3em; }
.futoshiki div#board .hint div.s        { background-color:rgba(53,34,34,0.2); }


.futoshiki #keypad                 { position:absolute; overflow:visible; display:none; font-weight:bold; }
.futoshiki #keypad div.k           { width:1em; height:1em; overflow:hidden; text-align:center;
                                  background-image:url("../../res/img/asset/fx/target01.svg"); border-radius:0.5em;
                                  background-size:100%; color:rgb(17,95,130); background-position:0 0; cursor:pointer;
                                  position:absolute; display:none; background-color:rgba(200,235,235,0.8);}
.futoshiki #keypad div.k.s         { background-color:rgba(17,95,130,0.8); color:rgb(200,235,235); }
.futoshiki #keypad #bg1                 { background-image:url("../../res/img/asset/fx/target02.svg");
                                         font-size:3em; position:absolute; width:1em; height:1em;
                                         top:-0.5em; left:-0.5em; font-size:2.4em; }

.futoshiki div#menu .bg                   { font-size:3em; width:1em; border-radius:.3em; margin:.05em .1em; padding:.05em; opacity:0.6; }
.futoshiki div#menu .bg.s                 { background-color:black; opacity:1; }
.futoshiki div#menu .icon                 { background-color:white; border-radius:.25em; cursor:pointer; }


.futoshiki div#splashex                 { background-color:rgba(0,0,0,0.3); background-image:url("../../res/img/banners/futoshiki.svg");
                                       font-size:.2em; }
.futoshiki div#splashex  h1             { position:absolute; top:75%; left:0; font-size:5em; background-color:rgba(70,40,20,0.8);
                                      width:100%; color:white; text-align:center;  text-transform:uppercase;
                                      border:.5em solid white; border-width:.2em 0;}

.futoshiki div#splashex #guide          { position:absolute; font-size:1.8em; top:2%; left:2%; width:40%;text-align:justify;
                                       border:.5em solid white; padding:.5em;
                                    background-image:url("../../res/img/default/pattern/line01.svg"); background-repeat:repeat; }