.correcter                          { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.correcter #g_splash                { background-image:url("../../res/img/banners/correcter.svg"); }
.correcter #g_instructions          { font-size:.45em; }
.correcter #crfig                   { position:absolute; border:1px solid black; top:-0.2em; left: 0.2em; font-size:1.3em; width:9em; height:12em; display:none; }
.correcter #crboard                 { margin-top:1em; height:23.5em; font-size:.5em; position:relative; overflow:visible; }
.correcter #crdata                  { width:90%; overflow:hidden; background-repeat:repeat; text-align:justify; padding:2px 5% 2px 5%; display:none; background-color:rgba(255,255,255,0.9); background-image:url("../../res/img/default/pattern/blackgrid01.svg"); border:.2em solid white; border-width:.1em 0;}
.correcter #crdata.fig              { padding:2px 5% 2px 43%; width:52%; }
.correcter #crdata p                { margin:.2em 0; overflow:visible; line-height:1.3em; }
.correcter #crdata span             { cursor:pointer; }
.correcter #crdata span.blank       { border:1px solid gray; padding:0 2px 0 2px; }
.correcter #crdata span.bold        { font-weight:bold; }
.correcter #crdata span.wrong       { background-color:rgba(255,80,65,1.0); color:rgb(220, 240, 256); }
.correcter #crdata span.highlight   { background-color:yellow; }
.correcter #crdata span.light		{ color: #888; }
.correcter #crpopup                 { position:absolute; top:0; left:0; font-size:.5em; background-color:rgba(255,255,255,1); border:1px solid black; display:none; padding:5px; z-index:2;}
.correcter #crpopup .current        { background-color:rgba(255,231,184,0.8); }
.correcter #crpopup div             { cursor:pointer; }
.correcter #crpopup div.s           { background-color:rgba(255,0,0,0.8); }
.correcter .g_anim12					{ top:0;font-size:3em;margin-top:-0.5em;margin-left:-0.5em; }


/*============ EDITOR PANEL =============*/

.correcter_editor #e_editor>div			{ height:94%; }
.correcter_editor #e_editor textarea		{ font-size:0.5em; background-color:white; color:#444; height:10%; margin-top:1%; border:0; width:93%; padding-left:5%; }
.correcter_editor #e_editor #eph_text { height:40% }

.correcter_editor #e_editor .eph_value { border: 0; width: 98%; height: 3.2em; font-size: 0.5em; text-align: center; background-color:#FEC; }
.correcter_editor #e_editor #eph_style { background-color:#CEF; }
.correcter_editor #e_control 				{ display:none; }
.correcter_editor #e_word				{ background-color:#444; margin-top:.3em;padding:.1em 0;padding-bottom:.2em; display:none; }
.correcter_editor #e_editor #eph_word				{ width:80%; font-size:1em; height:1.2em; float:left; }
.correcter_editor #e_editor #eph_local { font-size:0.6em; width:18%; border:0; height:2em; margin:0; background-color:gray; color:white;  }