.robot .both *                      { overflow:visible; }
.robot                              { background-image:url("../../res/img/background/book04.svg"); background-repeat:repeat;}

.robot div#splashex                  { background-image:url("../../res/img/banners/it.svg"); color:lime; }
.robot div#splashex h1               { position:absolute; top:45%; left:80%; font-size:1.5em; }
.robot div#splashex #guide           { position:absolute; top:52%; left:45%; font-size:.75em; width:48%;;
                                          text-align:justify; }

.robot #board                       { background-image:url("../../res/img/background/book02.svg"); background-repeat:repeat;
                                      width:11em; height:11em; border-radius:.1em; margin:0.5em 0 0 .25em;
                                      position:relative; float:left; }
.robot #board>div                   { position:absolute; top:0; left:0; }
.robot #board #effects              { width:3em; height:3em; left:8em; z-index:2000; }
.robot #board #effects>div          { display:none; }
.robot #board #tiles                { width:100%; height:100%; }
.robot #board #tiles .tile          { width:4em; height:3em; position:absolute; }
.robot #board #tiles .tile.s1       { height:11em; margin-top:-8em;}
.robot #board #tiles .engine        { position:absolute; overflow:visible; }
.robot #board #tiles .engine #invert{ width:1em; height:1em; font-size:1.5em; margin-top:-2.7em;margin-left:0.9em;
                                      position:relative; z-index:20; display:none; }
.robot #board #tiles .engine #img   { width:1em; height:1em; font-size:3.2em; margin-top:-.4em;margin-left:.1em; position:relative; }
.robot .code                        { background-image:none; }
.robot #board #fg                   { z-index:1000; font-size:.3em; font-family:Courier New, Courier, monospace;}
.robot #board #bg                   {  width:11em; height:11em; 
                                       background-image:linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0)); }
.robot #cache                       { width:6.4em; height:11em; position:absolute; top:1.75em; left:.25em; z-index:1999;
                                      background-color:rgba(0,0,0,0.5); display:none; }

.robot #menu                        { font-size:.7em; width:6.7em; height:18em; float:left; position:relative; }
.robot #menu #action                { width:6.4em; height:12em; border-radius:.5em .5em 0 0; margin:.75em 0 0 .25em;
                                      background-color:rgba(255,255,255,0.5); }
.robot #menu #buttons               { width:6.4em; height:2.1em; margin:0 0 0 .25em; background-color:gray;
                                      border-radius:0 0 .25em .25em;
                                      background-image:url("../../res/img/background/steel01.svg"); background-repeat:repeat; }
.robot #menu #buttons>div           { width:1em; height:1em; float:left; font-size:1.75em; cursor:pointer; margin:.1em; }
.robot #menu #buttons #speed        { margin-left:.15em; }

.robot #menu #exercice              { font-size:.5em; background-color:rgba(255,255,255,0.5); border-radius:.35em; padding:.1em .5em;
                                      margin:.25em .2em 0 .5em; height:2.7em; color:gray; text-align:justify; }
.robot #action #tab                 { width:100%; height:1em;}
.robot #action #tab>div             { width:25%; height:1em; float:left; cursor:pointer; border-radius:.5em .5em 0 0;
                                      text-align:center; font-weight:bold; }
.robot #action #tab #r1             { background-color:#90cce0; color:#cdf4f9;}
.robot #action #tab #r2             { background-color:#e09090; color:#f9cdcd;}
.robot #action #tab #r3             { background-color:#82ca82; color:#cae7ca;}
.robot #action #tab #r4             { background-color:#ca82ca; color:#e7cae7;}

.robot #action #tabs .both          { position:relative; }
.robot #action #tabs .target        { width:1.4em; height:1.4em; position:absolute; display:none; z-index:100; }

.robot #action #tabs>div            { display:none; font-family: "Courier New" Courier monospace; color:white; font-weight:bold;
                                      text-align:right;}
.robot #action #tabs #t1            { display:block; width:100%; height:11em; background-color:#90cce0;}
.robot #action #tabs #t2            { width:100%; height:11em; background-color:#e09090; }
.robot #action #tabs #t3            { width:100%; height:11em; background-color:#82ca82; }
.robot #action #tabs #t4            { width:100%; height:11em; background-color:#ca82ca; }

.robot #action #tabs .source        { width:6em; height:3em; background-color:rgba(255,255,255,0.2); margin:.2em;
                                      background-image:url("../../res/img/background/book05.svg"); background-repeat:repeat;}
.robot #action #tabs .f0            { width:6em; height:3em; background-color:rgba(255,255,255,0.5); margin:0 .2em .2em .2em;
                                      background-image:url("../../res/img/background/book05.svg"); background-repeat:repeat;}
.robot #action #tabs .f1            { width:6em; height:2em; background-color:rgba(255,255,255,0.5); margin:0 .2em .2em .2em;
                                      background-image:url("../../res/img/background/book05.svg"); background-repeat:repeat;}
.robot #action #tabs .f2            { width:6em; height:2em; background-color:rgba(255,255,255,0.5); margin:0 .2em .2em .2em;
                                      background-image:url("../../res/img/background/book05.svg"); background-repeat:repeat;}

.robot #action #tabs table          { font-size:1em; border-collapse:collapse; border-spacing:0;}
.robot #action #tabs .z             { width:1em; height:1em; background-image:url("../../res/img/generic/cell01.svg");
                                      background-size:100%; }

.robot .source .slider              { width:0.9em; height:3em; float:right; background-color:rgba(255,255,255,0.5); border-radius:.5em; }
.robot .source .slider>div          { width:0.9em; height:0.9em; background-color:rgba(255,255,255,0.5); color:gray; border-radius:.5em;
                                      text-align:center; cursor:pointer;}
.robot .source .slider .down        { margin-top:1.2em; }
.robot .a                           { width:1em; height:1em; cursor:crosshair; }


.robot #touch01                          { top:0; left:0; font-size:2em; z-index:100;}
