.sokoban .both *                        { overflow:visible; }
.sokoban                                { background-image:url("../../res/img/background/book04.svg"); background-repeat:repeat;}

.sokoban div#splashex                  { background-image:url("../../res/img/banners/sokoban.svg"); color:lime; }
.sokoban div#splashex h1               { position:absolute; top:45%; left:60%; font-size:1.5em; }
.sokoban div#splashex #guide           { position:absolute; top:54%; left:45%; font-size:.75em; width:48%;;
                                          text-align:justify; }
.sokoban #board                         { background-image:url("../../res/img/background/book02.svg"); background-repeat:repeat;
                                          width:11em; height:11em; border-radius:.5em; margin:0.5em 0 0 .25em;
                                          position:relative; float:left; }
.sokoban #board #tiles                  { width:100%; height:100%; }
.sokoban #board #tiles .tile            { width:4em; height:3em; position:absolute; }
.sokoban #board #tiles .tile.s1         { height:11em; margin-top:-8em;}
.sokoban #board #tiles .box             { width:4em; height:5.33em; position:absolute; }
.sokoban #board #tiles .engine          { position:absolute; overflow:visible; }
.sokoban #board #tiles .engine #invert  { width:1em; height:1em; font-size:1.5em; margin-top:-2.7em;margin-left:0.9em;
                                          position:relative; z-index:20;}
.sokoban #board #tiles .engine #img     { width:1em; height:1em; font-size:3.2em; margin-top:-.4em;margin-left:.1em;
                                          position:relative; }
.sokoban #menu                          { width:4.3em; height:12em; float:left; position:relative; margin:0.5em 0 0 .25em; }
.sokoban #menu #banner                  { height:7.7em; background-color:rgba(255,255,255,0.5); border-radius:.5em;
                                          position:relative; color:#444444;}
.sokoban #menu #banner #reset           { position:absolute; width:1em; height:1em; cursor:pointer; font-size:1.5em;
                                          top:.1em; left:1.8em; }
.sokoban #menu #banner #art             { margin-top:1.2em; }
.sokoban #menu #banner #sokoscore       { font-size:.4em;
                                          background-color:rgba(255,255,255,0.5); }
.sokoban #menu #banner .label           { clear:both; float:left; width:7em; text-align:right; margin-right:.5em; }
.sokoban #menu #banner .value           { float:left; }
.sokoban #menu #keypad                  { margin-top:.25em; border-radius:.5em; }
.sokoban #menu #keypad.r0               { background-color:#90cce0; }
.sokoban #menu #keypad.r1               { background-color:#e09090; }
.sokoban #menu #keypad.r2               { background-color:#82ca82; }
.sokoban #menu #keypad.r3               { background-color:#ca82ca; }
.sokoban #menu table                    { margin:.2em auto; }
.sokoban #menu table div                { width:1em; height:1em; overflow:hidden; text-align:center; background-size: 1em;
                                          font-size:1.3em; background-repeat:no-repeat; cursor:pointer; }

