.geometry                                       { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.geometry table                                 { border-collapse:collapse; border-spacing:0;  font-size:1em; }
.geometry td                                    { margin:0; padding:0; }
.geometry div#key                               { width:5em; height:5em; margin:0 auto; cursor:pointer; }
.geometry div#buttons                           { background-color:rgb(53,34,34);overflow:hidden;
                                                  float:left; margin:.1em; padding:.05em; margin-top:3.8em; font-size:.8em; }
.geometry div#actions table                     { }
.geometry div#actions td                        { width:1em; height:1em; overflow:hidden; background-color:white;}
.geometry div#actions div.action                { width:1em; height:1em; cursor:pointer;
                                                  background-image:url('../../res/img/svginventoryicons/background/border/square01.svg'); }
.geometry div#actions div.action.a2             { background-image:url('../../res/img/svginventoryicons/background/border/square02.svg'); }
.geometry div#actions div.action.disable img    { opacity:.3; cursor:default; }
.geometry div#actions div.action.s              { background-color:rgba(196,184,255,1); }
.geometry div#actions div.simple                { width:1em; height:1em; cursor:pointer;
                                                  background-image:url('../../res/img/svginventoryicons/background/border/square01.svg'); }
.geometry div#actions div.simple.disable *      { opacity:.3; }
.geometry div#actions div.simple#color div      { width:1em; height:1em; background-color:black; }
.geometry div#actions #nbelts                   { font-size:.25em; width:4em; text-align:center;}
.geometry div#actions #cancel                   { margin-left:.4em; font-size:.5em; width:1.3em; text-align:center; }
.geometry div#actions #cancel img               { opacity:1; }
.geometry #cancel2                              { position:absolute; top:87%; left:89%; font-size:1.5em; width:1em; height:1em; cursor:pointer; display:none; }
.geometry div#actions #info                     { background-color:white;
                                                    -webkit-transition: background-color 1000ms ease-in;
                                                    -moz-transition: background-color 1000ms ease-in;
                                                    -o-transition: background-color 1000ms ease-in;
                                                    -ms-transition: background-color 1000ms ease-in;
                                                    transition: background-color 1000ms ease-in; }
.geometry div#actions #info.wrong               { background-color:rgb(128,50,50); color:rgb(255,200,200);}

.geometry div#actions #info.touch               { background-color:rgba(100,200,255,0.8);
                                                    -webkit-transition: none;
                                                    -moz-transition: none;
                                                    -o-transition: none;
                                                    -ms-transition: none;
                                                    transition: none;}
.geometry div#actions #info.wrong.touch         { background-color:rgba(40,0,0,1);
                                                    -webkit-transition: none;
                                                    -moz-transition: none;
                                                    -o-transition: none;
                                                    -ms-transition: none;
                                                    transition: none;}
.geometry div#buttons div#log                   { font-size:.2em; color:#555555; height:1em; width:10em; overflow:hidden;
                                                  white-space: nowrap; opacity:1; }
.geometry div#boardframe                        { width:13.8em; height:8em; overflow:hidden; float:right; margin:.08em;
                                                  border-radius:.5em; background-image:url("../../res/img/background/book01a.svg");
                                                  background-repeat:repeat;}
.geometry div#board                             { width:13.8em; height:10.35em; overflow:hidden;   }
.geometry div#text                              { width:45.2em; height:10.5em; overflow:hidden;
                                  margin:.2em; border-radius:.25em; font-size:.35em; clear:both;
                                  background-image:url("../../res/img/default/pattern/line01.svg");
                                  background-repeat:repeat; text-align:justify;  }

.geometry div#text .strong                      { color:red; font-size:.9em; font-weight:bold; border: 1px solid red; border-width:1px 0; }
.geometry div#text .small                       {font-size:.7em;  }

.geometry div#text #statement                   { margin:0 .5em; }
.geometry table#objectives                      { margin-left:1em; }
.geometry table#objectives div.icon             { width:1em; height:1em; }
.geometry div#splashex                          { background-image:url("../../res/img/banners/geometry.svg"); color:#432;}
.geometry div#splashex #splash_dots             { display:none; }
.geometry div#splashex h1                       { position:absolute; top:28%; left:10%; font-size:1.5em; }
.geometry div#splashex .guide                   { position:absolute; font-size:.7em; font-weight:bold; font-style:italic; text-align:justify; }
.geometry div#splashex #guide                   { top:36%; left:8%; width:40%; }
.geometry div#splashex #guide2                  { top:48%; left:8%; width:32%; }
.geometry div#splashex #gnote                   { position:absolute; top:73%; left:77%; color:white; font-size:4em; font-weight:bold;
                                       width:2em; text-align:center; }

.geometry #zoom  { position:absolute; top:83%; left:1%; width:1.2em; height:1.2em; font-size:1.8em; text-align:center; color:white; font-weight:bold; overflow:visible; display:none; }
.geometry.nezoom #zoom { top:0; left:83%; }

.geometry.blank div#boardframe                  { background-image:none; background-color:#dcf9f5; }
.geometry.white div#boardframe                  { background-image:none; background-color:white; }
.geometry.black div#boardframe                  { background-image:none; background-color:black; }
.geometry.large div#boardframe                  { height:10.35em; }
.geometry.hide  div#buttons                     { display:none; }
.geometry.large div#text                        { height:3.2em; }

.geometry.full  div#buttons                     { display:none; }
.geometry.full  div#text                        { display:none; }
.geometry.full  div#boardframe                  { width:100%; height:100%; margin:0; border-radius:0; background-image:none; }
.geometry.full  div#board                       { width:100%; height:100%; overflow:hidden;}
.geometry.full                                  { background-image:none; }

.geometry.dots  div#splashex                    { background-color:rgba(0,0,0,0.3);
                                                  background-image:url("../../res/img/banners/dots.svg"); color:#432;}
.geometry.dots  div#splashex #splash_dots       { display:inline; }
.geometry.dots  div#splashex #splash_default    { display:none; }
.geometry.dots  div#splashex #label_dots        { position:absolute; top:75%; left:0; font-size:2em; background-color:rgba(70,40,20,0.8);
                                                  width:100%; color:white; text-align:center;  text-transform:uppercase;
                                                  border:.5em solid white; border-width:.2em 0;}
.geometry.dots  div#splashex #guide_dots        { position:absolute; font-size:0.8em; top:2%; left:2%; width:35%;text-align:justify;
                                                  border:.5em solid white; padding:.5em; font-style: italic;
                                                  background-image:url("../../res/img/default/pattern/line01.svg"); background-repeat:repeat; }

