.mahjong                            { background-image:url("../../res/img/background/landscape/greenboard01.svg");}
.mahjong div#splashex               { background-image:url("../../res/img/banners/mahjong.svg"); }
.mahjong div#splashex h1            { position:absolute; top:5%; left:45%; font-size:1.5em;  white-space:nowrap; }
.mahjong div#splashex #guide        { position:absolute; top:15%; left:50%; font-size:.75em; width:48%; text-align:justify; }

.mahjong #board                     { font-size:0.5em;}
.mahjong #board>div                 { position:relative; width:32em; height:24em; }
.mahjong #board .mjtile             { position:absolute; cursor:pointer; }
.mahjong #board .mjtile.s           { border:2px solid red; margin-top:-2px; margin-left:-2px;}
