.abacus                          { background-image:url("../../res/img/background/landscape/b_brown01.svg"); background-repeat:repeat;}
.abacus #g_splash                { background-image:url("../../res/img/background/banners/abacus.svg"); }
.abacus #asboard                 { width:16em; height:9em; }
.abacus #g_effects.division        { top:5em;}
.abacus #asfx                    { font-size:3em;  }
