.abacus                          { background-image:url("../../res/img/background/landscape/brownboard03.svg"); background-repeat:repeat;}
.abacus #splashex                { background-image:url("../../res/img/banners/abacus.svg"); }
.abacus #asboard                 { width:16em; height:9em; }
.abacus #effects.division        { top:5em;}
.abacus #asfx                    { font-size:3em;  }
