.novel                                { background-color:black;}
.novel #nlboard #dialog               { position:absolute; top:70%; left:0; height:30%; width:100%; z-index:200; color:white; background-color:rgba(0,0,0,0.7); font-size:.5em; }
.novel #nlboard #dialog .label        { margin-left:.5em; }
.novel #nlboard #dialog .content      { margin: 0 1em; }
.novel .nlboard                       { position:relative; width:16em; height:12em; }
.novel .nlboard>div                   { position: absolute; top:0; left:0; width:16em; height:12em; }
.novel .nlboard .char                 { width:16em; height:16em; top:10%; left:0; }
.novel .nlboard .ppvc                 { width:16em; height:16em; top:-2em; left:0; }
.novel .nlboard .tinyppvc             { width:20em; height:20em; top:-6em; left:0; }
.novel .nlboard .portrait             { width:11em; height:11em; top:1em; left:0; }
.novel .nlboard .sprite               { width:1em; height:1em;  }
.novel .nlboard .sprite.round         { border-radius:.5em;  }
.novel #nlboard #menu                 { position:absolute; width:auto; height:auto; z-index:201; top:10%; left:60%; font-size:.5em; background-color:rgba(0,0,0,0.5); padding:.1em; }
.novel #nlboard #menu.left            { left:5%; }
.novel #nlboard #menu>div             { width:10em; padding:.1em .5em; margin:.1em; color:white; border:2px solid white; border-radius:.1em; cursor:pointer;}
                                     
.novel .g_bluekey                   { background-color:rgba(84,137,184,0.9);
                                  -webkit-transition: background-color 1000ms ease-in;
                                  -moz-transition: background-color 1000ms ease-in;
                                  -o-transition: background-color 1000ms ease-in;
                                  -ms-transition: background-color 1000ms ease-in;
                                  transition: background-color 1000ms ease-in; }
.novel .g_bluekey.touch             { background-color:rgba(256,220,50,0.9);
                                  -webkit-transition: none;
                                  -moz-transition: none;
                                  -o-transition: none;
                                  -ms-transition: none;
                                  transition: none; }
                                  

