.novel                              { background-image:url("../../res/img/background/book03.svg"); background-repeat:repeat;}
.novel div#splashex                 { background-image:url("../../res/img/banners/correcter.svg"); }
.novel div#splashex h1              { display:none; position:absolute; top:45%; left:50%; font-size:1.5em; }
.novel div#splashex #guide          { position:absolute; top:52%; left:45%; font-size:.75em; width:48%;;
                                          text-align:justify; }
.novel div#board                    { position:relative; width:16em; height:12em; }

.novel div#board #dialog            { position:absolute; top:70%; left:0; height:30%; width:100%; z-index:200;
                                      color:white; background-color:rgba(0,0,0,0.7); font-size:.5em; }
.novel div#board #dialog .label     { margin-left:.5em; }
.novel div#board #dialog .content   { margin: 0 1em; }

.novel div#board .char              { position:absolute; width:16em; height:16em; top:10%; left:0; z-index:10; }

.novel div#menu                     { position:absolute; z-index:12;
                                      top:10%; left:60%; font-size:.5em; background-color:rgba(0,0,0,0.5); padding:.1em; }
.novel div#menu>div                 { width:10em; padding:.1em .5em; margin:.1em; color:white; border:2px solid white;
                                      border-radius:.1em; cursor:pointer;}

.novel .bluekeypad                   { background-color:rgba(84,137,184,0.9);
                                  -webkit-transition: background-color 1000ms ease-in;
                                  -moz-transition: background-color 1000ms ease-in;
                                  -o-transition: background-color 1000ms ease-in;
                                  -ms-transition: background-color 1000ms ease-in;
                                  transition: background-color 1000ms ease-in; }
.novel .bluekeypad.touch             { background-color:rgba(256,220,50,0.9);
                                  -webkit-transition: none;
                                  -moz-transition: none;
                                  -o-transition: none;
                                  -ms-transition: none;
                                  transition: none; }

