.novel                              { background-color:black;}

.novel div#nlboard #dialog            { position:absolute; top:70%; left:0; height:30%; width:100%; z-index:200;
                                      color:white; background-color:rgba(0,0,0,0.7); font-size:.5em; }
.novel div#nlboard #dialog .label     { margin-left:.5em; }
.novel div#nlboard #dialog .content   { margin: 0 1em; }

.novel div.nlboard                    { position:relative; width:16em; height:12em; }
.novel div.nlboard>div                { position: absolute; top:0; left:0; width:16em; height:12em; }

.novel div.nlboard .char                { width:16em; height:16em; top:10%; left:0; }
.novel div.nlboard .ppvc                { width:16em; height:16em; top:-2em; left:0; }
.novel div.nlboard .tinyppvc        { width:20em; height:20em; top:-6em; left:0; }
.novel div.nlboard .portrait        { width:11em; height:11em; top:1em; left:0; }
.novel div.nlboard .sprite            { width:1em; height:1em;  }
.novel div.nlboard .sprite.round      { border-radius:.5em;  }

.novel div#nlboard #menu              { position:absolute; width:auto; height:auto; z-index:201;
                             top:10%; left:60%; font-size:.5em; background-color:rgba(0,0,0,0.5); padding:.1em; }
.novel div#nlboard #menu.left     { left:5%; }
.novel div#nlboard #menu>div          { width:10em; padding:.1em .5em; margin:.1em; color:white; border:2px solid white;
                                      border-radius:.1em; cursor:pointer;}

.novel #devpanel                 { position:absolute; width:100%; height:100%; opacity:0.9; 
                            background-image:url("../../res/img/background/book01.svg"); background-repeat:repeat;
                            top:0; left:0; font-size:0.5em; display:none; z-index:300; }
.novel #devmenu                   { width:20%; height:100%; background-color:rgba(0,0,0,0.1); float:left; border:.1em solid white;
                          border-width:0 .1em 0 0; padding-top:1em; position:relative;}
.novel #devmenu>div             { margin-top:.2em; padding-left:.5em; cursor:pointer; }
.novel #devmenu>div.s          {background-color:black; color:white; }
.novel #devexport               { position:absolute; top:80%; left:5%; font-size:0.3em; border:.1em solid black; }
.novel .devpanel                { display:none; height:100%;}
.novel .devpanel>.content { overflow:auto; height:95%; }
.novel .devpanel  .elt         { clear:both; }
.novel .devpanel  .elt>*        { float:left; height:1.2em; margin:.1em; padding-left:.1em;  }
.novel .devpanel  .elt .label   { width:6em; background-color:rgba(0,200,255,0.9); color:white; font-size:1em; border:0; }
.novel .devpanel  .elt .type    { font-size:0.8em; height:1.5em; text-align:center; padding-top:.1em; width:6em; color:white;}
.novel .devpanel .elt .tboolean { background-color:rgba(220,200,0,0.9); }
.novel .devpanel .elt .tnumber { background-color:rgba(0,220,0,0.9); }
.novel .devpanel .elt .tstring { background-color:rgba(240,0,0,0.9); }
.novel .devpanel .elt .tobject { background-color:rgba(0,0,255,0.9); }
.novel .devpanel .elt .value { border:0; font-size:1em; height:1.2em; color:white; background-color:#444; padding-left:.5em; width:12em; }

.novel .devpanel  .elt .toggle  { clear:both; margin-left:0.9em; font-size:0.9em; display:none; }
.novel .devpanel .elt.s>.toggle { display:inherit; }
.novel .devpanel  .elt .toggle>* { padding:0 .3em 0 .2em;  }
.novel .devpanel  .toggle .label   { border:0; font-size:1em; width:10em; background-color:rgba(0,220,0,0.9); color:white; }

.novel .devpanel  .elt .eltattr>* { float:left; margin:0 .1em; }
.novel .devpanel  .elt .eltimg>* { float:left; margin:0 .1em; }
.novel .devpanel  .elt .eltimg .label   { background-color:rgba(0,220,0,0.9); }
.novel .devpanel  .elt .eltattr .label   { background-color:rgba(240,0,0,0.9); }
.novel .devpanel  .elt .icon   { background-color:#444; font-size:1.2em; border-radius:.5em; cursor:pointer; height:1em; width:1em; padding:0; }
.novel .devpanel  .elt #addimg.icon { background-color:rgba(0,220,0,0.9); }
.novel .devpanel  .elt #addattr.icon   { background-color:rgba(240,0,0,0.9); }

.novel .devpanel .menu { height:1.2em; color:white; background-color:#444;}
.novel .devpanel .menu>.icon    { font-size:1.2em; }
.novel .devpanel .menu>div      { margin:0 .5em; text-align:center; float:left; cursor:pointer; }
.novel .devpanel .menu>div.s    { background-color:red; }

.novel .devpanel  .elt .move { cursor:pointer; margin:.1em; padding:0; font-size:.8em;
                             color:#444; text-align:center; width:0.6em; height:1.4em; }


.novel  #devvarpanel select             { width:12.5em; }

.novel #devdefpanel .elt>.label { cursor:pointer; }

.novel #devstopanel .operation { border:0; font-size:0.5em; height:2.4em; color:white; background-color:rgba(0,220,0,0.9); padding-left:.5em; width:12em; }
.novel #devstopanel .eltaction { height:inherit; }
.novel #devstopanel .eltaction>.label { width:4em; }
.novel #devstopanel .eltaction>.eltattr { margin-left:2.6em; }
.novel #devstopanel .eltaction>.eltattr .label { width:4em; }
.novel #devstopanel .eltaction #dialogvalue { width:7.3em; }
.novel #devstopanel .eltaction #dialogtest { width:5.5em; }
.novel #devstopanel .substory { clear:both; font-size:0.9em; height:inherit !important; }
.novel #devstopanel #storyname { width:12em; background-color:rgba(0,200,255,0.9); color:white; font-size:1em; border:0; }
.novel #devstopanel #dupop	{ background-color:gray; }


.novel #devstopanel textarea     { font-size:0.7em; height:2.4em; width:32em; margin-top:.2em; }
.novel #devexppanel { overflow:hidden; }
.novel #devexppanel textarea     { font-size:0.4em; height:100%; width:100%; overflow:auto;}
.novel #devimppanel { overflow:hidden; }
.novel #devimppanel textarea     { font-size:0.4em; height:80%; width:100%; overflow:auto;}
.novel #devimppanel .menu       { cursor:pointer; }
.novel #devimppanel .menu>div { float:none; margin:0 auto; }
                                     
.novel .bluekeypad                   { background-color:rgba(84,137,184,0.9);
                                  -webkit-transition: background-color 1000ms ease-in;
                                  -moz-transition: background-color 1000ms ease-in;
                                  -o-transition: background-color 1000ms ease-in;
                                  -ms-transition: background-color 1000ms ease-in;
                                  transition: background-color 1000ms ease-in; }
.novel .bluekeypad.touch             { background-color:rgba(256,220,50,0.9);
                                  -webkit-transition: none;
                                  -moz-transition: none;
                                  -o-transition: none;
                                  -ms-transition: none;
                                  transition: none; }
                                  
.novel .pointer                { cursor:pointer; }

