.memory                                 { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.memory>div                             { width:100%; height:100%; }
.memory table                           { margin:0 auto; border:2px solid rgb(53,34,34); margin-top:2%; font-size:1.8em; }
.memory #myboard td                     { width:1.2em; height:1.2em; color:rgb(30,63,128); text-align:center; background-size: 100%; background-repeat:no-repeat; background-color:rgba(255,252,246,0.8); }
.memory #myboard td div                 { width:1.2em; height:1.2em; margin:0 auto; color: rgba(53,34,34,0.8);}
.memory #myboard td.active              { background-color:rgba(255,220,162,0.8); }
.memory #myboard td.false               { background-color:rgba(255,80,65,1.0); }
.memory #myboard td.good                { background-color:rgba(80,255,65,1.0); }
.memory.active #myboard td.active div   { cursor:pointer; }
.memory #g_splash                       { background-image:url("../../res/img/banners/memory.svg"); background-color:rgba(0,0,0,0.2); }
.memory #g_splash #explanation          { position:absolute; top:40%; left:69%; font-size:.6em; width:25%; font-style:italic; text-align:justify; }
.memory #g_splash table                 { margin-top:1em; font-size:.8em; border:0; background-color:none; }
.memory #g_splash #number_l             { width:14em; }
.memory #g_splash #number_v             { width:2em; }
