<!-- FIRST LINE -->
<div class="bg2" style="background-color:#567083;"></div>

<div class="icon" style="top:0.45em;left:0.1em;"><img src="res/img/ppvc/hammer/hole_bg11.svg" alt=""/></div>
<div class="icon" style="top:0.45em;left:1.1em;"><img src="res/img/ppvc/hammer/hole_bg12.svg" alt=""/></div>
<div class="icon" style="top:0.45em;left:2.1em;"><img src="res/img/ppvc/hammer/hole_bg13.svg" alt=""/></div>
<div class="icon" style="top:0.45em;left:3.1em;"><img src="res/img/ppvc/hammer/hole_bg14.svg" alt=""/></div>

<div id="p00" style="top:0.45em;left:0.1em;" class="elts"></div>
<div id="p10" style="top:0.45em;left:1.1em;" class="elts"></div>
<div id="p20" style="top:0.45em;left:2.1em;" class="elts"></div>
<div id="p30" style="top:0.45em;left:3.1em;" class="elts"></div>

<div class="icon touch" style="top:0.45em;left:0.1em;" id="bp00">
    <img src="res/img/ppvc/hammer/hole_fg11.svg" alt=""/>
</div>
<div class="icon touch" style="top:0.45em;left:1.1em;" id="bp10">
    <img src="res/img/ppvc/hammer/hole_fg12.svg" alt=""/>
</div>
<div class="icon touch" style="top:0.45em;left:2.1em;" id="bp20">
    <img src="res/img/ppvc/hammer/hole_fg15.svg" alt=""/>
</div>
<div class="icon touch" style="top:0.45em;left:3.1em;" id="bp30">
    <img src="res/img/ppvc/hammer/hole_fg14.svg" alt=""/>
</div>

<!-- SECOND LINE -->
            
<div class="icon" style="top:1.45em;left:0.1em;"><img src="res/img/ppvc/hammer/hole_bg11.svg" alt=""/></div>
<div class="icon" style="top:1.45em;left:1.1em;"><img src="res/img/ppvc/hammer/hole_bg13.svg" alt=""/></div>
<div class="icon" style="top:1.45em;left:2.1em;"><img src="res/img/ppvc/hammer/hole_bg15.svg" alt=""/></div>
<div class="icon" style="top:1.45em;left:3.1em;"><img src="res/img/ppvc/hammer/hole_bg12.svg" alt=""/></div>

<div id="p01" style="top:1.45em;left:0.1em;" class="elts"></div>
<div id="p11" style="top:1.45em;left:1.1em;" class="elts"></div>
<div id="p21" style="top:1.45em;left:2.1em;" class="elts"></div>
<div id="p31" style="top:1.45em;left:3.1em;" class="elts"></div>

<div class="icon touch" style="top:1.45em;left:0.1em;" id="bp01">
    <img src="res/img/ppvc/hammer/hole_fg15.svg" alt=""/>
</div>
<div class="icon touch" style="top:1.45em;left:1.1em;" id="bp11">
    <img src="res/img/ppvc/hammer/hole_fg11.svg" alt=""/>
</div>
<div class="icon touch" style="top:1.45em;left:2.1em;" id="bp21">
    <img src="res/img/ppvc/hammer/hole_fg12.svg" alt=""/>
</div>
<div class="icon touch" style="top:1.45em;left:3.1em;" id="bp31">
    <img src="res/img/ppvc/hammer/hole_fg14.svg" alt=""/>
</div>

<!-- THIRD LINE -->

<div class="icon" style="top:2.45em;left:0.1em;"><img src="res/img/ppvc/hammer/hole_bg15.svg" alt=""/></div>
<div class="icon" style="top:2.45em;left:1.1em;"><img src="res/img/ppvc/hammer/hole_bg13.svg" alt=""/></div>
<div class="icon" style="top:2.45em;left:2.1em;"><img src="res/img/ppvc/hammer/hole_bg14.svg" alt=""/></div>
<div class="icon" style="top:2.45em;left:3.1em;"><img src="res/img/ppvc/hammer/hole_bg11.svg" alt=""/></div>

<div id="p02" style="top:2.45em;left:0.1em;" class="elts"></div>
<div id="p12" style="top:2.45em;left:1.1em;" class="elts"></div>
<div id="p22" style="top:2.45em;left:2.1em;" class="elts"></div>
<div id="p32" style="top:2.45em;left:3.1em;" class="elts"></div>

<div class="icon touch" style="top:2.45em;left:0.1em;" id="bp02">
    <img src="res/img/ppvc/hammer/hole_fg14.svg" alt=""/>
</div>
<div class="icon touch" style="top:2.45em;left:1.1em;" id="bp12">
    <img src="res/img/ppvc/hammer/hole_fg12.svg" alt=""/>
</div>
<div class="icon touch" style="top:2.45em;left:2.1em;" id="bp22">
    <img src="res/img/ppvc/hammer/hole_fg11.svg" alt=""/>
</div>
<div class="icon touch" style="top:2.45em;left:3.1em;" id="bp32">
    <img src="res/img/ppvc/hammer/hole_fg13.svg" alt=""/>
</div>

<!-- FX -->


<div class="fx" style="top:0.45em;left:0.1em;" id="wp00"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/minus01.svg" alt=""/></div></div>
<div class="fx" style="top:0.45em;left:1.1em;" id="wp10"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/minus01.svg" alt=""/></div></div>
<div class="fx" style="top:0.45em;left:2.1em;" id="wp20"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/minus01.svg" alt=""/></div></div>
<div class="fx" style="top:0.45em;left:3.1em;" id="wp30"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/minus01.svg" alt=""/></div></div>
            
<div class="fx" style="top:1.45em;left:0.1em;" id="wp01"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/minus01.svg" alt=""/></div></div>
<div class="fx" style="top:1.45em;left:1.1em;" id="wp11"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/minus01.svg" alt=""/></div></div>
<div class="fx" style="top:1.45em;left:2.1em;" id="wp21"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/minus01.svg" alt=""/></div></div>
<div class="fx" style="top:1.45em;left:3.1em;" id="wp31"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/minus01.svg" alt=""/></div></div>
            
<div class="fx" style="top:2.45em;left:0.1em;" id="wp02"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/minus01.svg" alt=""/></div></div>
<div class="fx" style="top:2.45em;left:1.1em;" id="wp12"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/minus01.svg" alt=""/></div></div>
<div class="fx" style="top:2.45em;left:2.1em;" id="wp22"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/minus01.svg" alt=""/></div></div>
<div class="fx" style="top:2.45em;left:3.1em;" id="wp32"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/minus01.svg" alt=""/></div></div>


<div class="fx" style="top:0.45em;left:0.1em;" id="gp00"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/good01.svg" alt=""/></div></div>
<div class="fx" style="top:0.45em;left:1.1em;" id="gp10"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/good01.svg" alt=""/></div></div>
<div class="fx" style="top:0.45em;left:2.1em;" id="gp20"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/good01.svg" alt=""/></div></div>
<div class="fx" style="top:0.45em;left:3.1em;" id="gp30"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/good01.svg" alt=""/></div></div>
            
<div class="fx" style="top:1.45em;left:0.1em;" id="gp01"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/good01.svg" alt=""/></div></div>
<div class="fx" style="top:1.45em;left:1.1em;" id="gp11"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/good01.svg" alt=""/></div></div>
<div class="fx" style="top:1.45em;left:2.1em;" id="gp21"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/good01.svg" alt=""/></div></div>
<div class="fx" style="top:1.45em;left:3.1em;" id="gp31"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/good01.svg" alt=""/></div></div>
            
<div class="fx" style="top:2.45em;left:0.1em;" id="gp02"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/good01.svg" alt=""/></div></div>
<div class="fx" style="top:2.45em;left:1.1em;" id="gp12"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/good01.svg" alt=""/></div></div>
<div class="fx" style="top:2.45em;left:2.1em;" id="gp22"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/good01.svg" alt=""/></div></div>
<div class="fx" style="top:2.45em;left:3.1em;" id="gp32"><div class='icon' style='font-size:.6em'><img src="res/img/default/popup/good01.svg" alt=""/></div></div>