<div class="bg"><img src="res/img/background/game/it01.svg" alt=""/></div>

<div id="p0" style="top:22%;left:100%;font-size:.5em;" class="elts"></div>
<div id="p1" style="top:35%;left:100%;font-size:.5em;" class="elts"></div>
<div id="p2" style="top:50%;left:100%;font-size:.5em;" class="elts"></div>
<div id="p3" style="top:69%;left:100%;font-size:.5em;" class="elts"></div>


<div class="icon fx" style="top:25%;left:8%;font-size:1.5em" id="wp0"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:25%;left:8%;font-size:1.5em" id="wp1"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:25%;left:8%;font-size:1.5em" id="wp2"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:25%;left:8%;font-size:1.5em" id="wp3"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:25%;left:8%;font-size:1.5em" id="wp4"><img src="res/img/default/popup/minus01.svg" alt=""/></div>


<div class="icon fx" style="top:25%;left:8%;font-size:1.5em" id="gp0"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:25%;left:8%;font-size:1.5em" id="gp1"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:25%;left:8%;font-size:1.5em" id="gp2"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:25%;left:8%;font-size:1.5em" id="gp3"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:25%;left:8%;font-size:1.5em" id="gp4"><img src="res/img/default/popup/good01.svg" alt=""/></div>