<div class="icon" style="top:0.45em;left:0.3em;"><img src="res/img/asset/misc/hole01.svg" alt=""/></div>
<div class="icon" style="top:0.45em;left:1.3em;"><img src="res/img/asset/misc/hole01.svg" alt=""/></div>
<div class="icon" style="top:0.45em;left:2.3em;"><img src="res/img/asset/misc/hole01.svg" alt=""/></div>
<div class="icon" style="top:0.45em;left:3.3em;"><img src="res/img/asset/misc/hole01.svg" alt=""/></div>
            
<div class="icon" style="top:1.45em;left:0.3em;"><img src="res/img/asset/misc/hole01.svg" alt=""/></div>
<div class="icon" style="top:1.45em;left:1.3em;"><img src="res/img/asset/misc/hole01.svg" alt=""/></div>
<div class="icon" style="top:1.45em;left:2.3em;"><img src="res/img/asset/misc/hole01.svg" alt=""/></div>
<div class="icon" style="top:1.45em;left:3.3em;"><img src="res/img/asset/misc/hole01.svg" alt=""/></div>
            
<div class="icon" style="top:2.45em;left:0.3em;"><img src="res/img/asset/misc/hole01.svg" alt=""/></div>
<div class="icon" style="top:2.45em;left:1.3em;"><img src="res/img/asset/misc/hole01.svg" alt=""/></div>
<div class="icon" style="top:2.45em;left:2.3em;"><img src="res/img/asset/misc/hole01.svg" alt=""/></div>
<div class="icon" style="top:2.45em;left:3.3em;"><img src="res/img/asset/misc/hole01.svg" alt=""/></div>


<div id="p00" style="top:0.45em;left:0.3em;" class="elts"></div>
<div id="p10" style="top:0.45em;left:1.3em;" class="elts"></div>
<div id="p20" style="top:0.45em;left:2.3em;" class="elts"></div>
<div id="p30" style="top:0.45em;left:3.3em;" class="elts"></div>

<div id="p01" style="top:1.45em;left:0.3em;" class="elts"></div>
<div id="p11" style="top:1.45em;left:1.3em;" class="elts"></div>
<div id="p21" style="top:1.45em;left:2.3em;" class="elts"></div>
<div id="p31" style="top:1.45em;left:3.3em;" class="elts"></div>

<div id="p02" style="top:2.45em;left:0.3em;" class="elts"></div>
<div id="p12" style="top:2.45em;left:1.3em;" class="elts"></div>
<div id="p22" style="top:2.45em;left:2.3em;" class="elts"></div>
<div id="p32" style="top:2.45em;left:3.3em;" class="elts"></div>


<div class="icon touch" style="top:0.45em;left:0.3em;" id="bp00"></div>
<div class="icon touch" style="top:0.45em;left:1.3em;" id="bp10"></div>
<div class="icon touch" style="top:0.45em;left:2.3em;" id="bp20"></div>
<div class="icon touch" style="top:0.45em;left:3.3em;" id="bp30"></div>
            
<div class="icon touch" style="top:1.45em;left:0.3em;" id="bp01"></div>
<div class="icon touch" style="top:1.45em;left:1.3em;" id="bp11"></div>
<div class="icon touch" style="top:1.45em;left:2.3em;" id="bp21"></div>
<div class="icon touch" style="top:1.45em;left:3.3em;" id="bp31"></div>
            
<div class="icon touch" style="top:2.45em;left:0.3em;" id="bp02"></div>
<div class="icon touch" style="top:2.45em;left:1.3em;" id="bp12"></div>
<div class="icon touch" style="top:2.45em;left:2.3em;" id="bp22"></div>
<div class="icon touch" style="top:2.45em;left:3.3em;" id="bp32"></div>



<div class="icon fx" style="top:0.45em;left:0.3em;" id="wp00"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:0.45em;left:1.3em;" id="wp10"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:0.45em;left:2.3em;" id="wp20"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:0.45em;left:3.3em;" id="wp30"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
            
<div class="icon fx" style="top:1.45em;left:0.3em;" id="wp01"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:1.45em;left:1.3em;" id="wp11"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:1.45em;left:2.3em;" id="wp21"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:1.45em;left:3.3em;" id="wp31"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
            
<div class="icon fx" style="top:2.45em;left:0.3em;" id="wp02"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:2.45em;left:1.3em;" id="wp12"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:2.45em;left:2.3em;" id="wp22"><img src="res/img/default/popup/minus01.svg" alt=""/></div>
<div class="icon fx" style="top:2.45em;left:3.3em;" id="wp32"><img src="res/img/default/popup/minus01.svg" alt=""/></div>


<div class="icon fx" style="top:0.45em;left:0.3em;" id="gp00"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:0.45em;left:1.3em;" id="gp10"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:0.45em;left:2.3em;" id="gp20"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:0.45em;left:3.3em;" id="gp30"><img src="res/img/default/popup/good01.svg" alt=""/></div>
            
<div class="icon fx" style="top:1.45em;left:0.3em;" id="gp01"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:1.45em;left:1.3em;" id="gp11"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:1.45em;left:2.3em;" id="gp21"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:1.45em;left:3.3em;" id="gp31"><img src="res/img/default/popup/good01.svg" alt=""/></div>
            
<div class="icon fx" style="top:2.45em;left:0.3em;" id="gp02"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:2.45em;left:1.3em;" id="gp12"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:2.45em;left:2.3em;" id="gp22"><img src="res/img/default/popup/good01.svg" alt=""/></div>
<div class="icon fx" style="top:2.45em;left:3.3em;" id="gp32"><img src="res/img/default/popup/good01.svg" alt=""/></div>
