.toggleswitch div.icon                      { width:1em; height:1em; text-align:center; }
.toggleswitch div.dice                      { width:1em; height:1em;
                                              background-image:url("../../res/img/svginventoryicons/background/border/yellow01.svg");
                                              background-size:100%;}
.toggleswitch div.left                      { float:left; }
.toggleswitch div.center                    { margin:0 auto; }
.toggleswitch>div.main                      { background:url("../../res/img/default/pattern/line02.svg") repeat; }
.toggleswitch div#splashex                  { background-image:url("../../res/img/banners/toggleswitch.svg"); }
.toggleswitch div#splashex h1               { position:absolute; top:2%; left:5%; font-size:1.3em; color:white; width:90%;
                                              padding:.5em 1em; background-color:black; border-radius:.5em; }
.toggleswitch div#splashex .guide           { position:absolute; top:8%; left:65%; color:white; width:32%; font-size:.8em;
                                              text-align:justify; font-style:italic; }
.toggleswitch div#splashex #search          { display:none; }
.toggleswitch div#splashex #diff7           { display:none; }
.toggleswitch div#splashex #timeattack      { position:absolute; font-weight:bold; top:92%; left:70%; width:9em; text-align:right; color:white; display:none; }
.toggleswitch div#submit                    { font-size:1.5em; height:1em;width:1em; cursor:pointer; display:none;
                                              position:absolute; top:7em; left:0em; z-index:3; }
.toggleswitch div#submit>img                { display:none; }
.toggleswitch div#submit #subvalid          { display:inline; }
.toggleswitch div#submit.good #subvalid     { display:none; }
.toggleswitch div#submit.wrong #subvalid    { display:none; }
.toggleswitch div#submit.good #subgood      { display:inline; }
.toggleswitch div#submit.wrong #subwrong    { display:inline; }
.toggleswitch div#board                     { height:16em; }
.toggleswitch div#exercice                   {  position:absolute; width:28em; height:3em; top:21em; left:4em; border-radius:1em 0 0 0;
                               background-image:url("../../res/img/default/pattern/line01.svg"); background-repeat:repeat;
                               display:none; font-size:.5em; border:.3em solid white;}
.toggleswitch div#exercice #content          { margin:0 1em; text-align:justify; font-style:italic; }
.toggleswitch div#exercice #tag            { font-size:2em; float:right; width:2.0em; height:1.2em; font-weight:bold;
                                 color:white; background-color:black; border-radius:.2em; text-align:center;
                                 margin:0 .15em; display:none; }
								 
								 
.toggleswitch.automatic div#submit			{ display:none; }
.toggleswitch.automatic div#exercice        { width:32em; left:0; border-radius:0; }

.toggleswitch #illustration>div             { font-size:.5em;text-align:justify;margin:.2em .5em;}
.toggleswitch #illustration .a              { stroke-dasharray:8,8; }
.toggleswitch #illustration .l              { fill:none; stroke:black; stroke-width:4px; stroke-linecap:round; }
.toggleswitch #illustration .s              { fill:none; stroke:black; stroke-width:2px; stroke-linecap:round; }
.toggleswitch #illustration .p              { fill:black; stroke:none; }
.toggleswitch #illustration .d              { stroke:#dd8833 !important; }
.toggleswitch #illustration .p.d            { fill:#dd8833 !important; }
.toggleswitch #illustration text            { font-size:28px; }

.toggleswitch .a                            { cursor:pointer; }
.toggleswitch div#data                      { overflow:visible; position:absolute; width:16em; height:12em; top:0; }
.toggleswitch div#data>div                  { overflow:visible; }
.toggleswitch .icon                         { width:1em; height:1em; float:left; }
.toggleswitch .icon12                     { font-size:1.2em;width:1em; height:1em; float:left; }

.toggleswitch #effects                      { width:60%; height:60%; position:absolute; top:5%; left:60%; display:none; }
.toggleswitch #effects>div                  { font-size:6em; width:1em; height:1em; display:none; }

/* SPLASHEX ALTERNATIVES */
.toggleswitch.search div#splashex           { background-image:url("../../res/img/banners/search.svg"); }
.toggleswitch.search div#splashex #default  { display:none; }
.toggleswitch.search div#splashex #search   { display:inline; }

.toggleswitch.diff7 div#splashex            { background-image:url("../../res/img/banners/diff7.svg"); }
.toggleswitch.diff7 div#splashex #default   { display:none; }
.toggleswitch.diff7 div#splashex #diff7     { display:inline; }
.toggleswitch div#splashex #guide_diff7b    { position:absolute; top:30%; left:85%; color:white; width:14%; font-size:.5em;
                                              text-align:justify; font-style:italic; display:none; }
.toggleswitch.diff7.inv div#splashex #guide_diff7b  { display:inline; }

.toggleswitch.timeattack div#splashex #timeattack { display:inline; }

/* TEMPLATE ALTERNATIVES */
.toggleswitch.small .t                   { font-size:.6em; }
.toggleswitch.big .t                       { font-size:2em; }
.toggleswitch.center .t 				{ text-align:center; }

.toggleswitch .illustration #legend              { top:0; font-size:.4em; width:98%; text-align:justify; }

.toggleswitch #error                      { position:absolute; display:none; font-size:1.5em; width:1em; height:1em; top:0; left:0; margin-top:-.5em; margin-left:-.5em; }

.toggleswitch #timer    { position:absolute; border:2px solid white; background-color:black; color:white; top:0; left:50%; width:5em; margin-left:-2.5em; text-align:center; font-size:.5em; display:none; }
.toggleswitch #timer.s  { background-color:red; }
.toggleswitch #timer.s.err  { background-color:yellow; }
.toggleswitch.timeattack #timer { display:inline; }

