<div style="position:relative;font-size:2.5em;height:100%;">
    <div class='a overflow' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:5%;left:2%;text-align:center;'><div class='t'></div></div>
    <div class='a overflow' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:5%;left:35%;text-align:center;'><div class='t'></div></div>
    <div class='a overflow' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:5%;left:68%;text-align:center;'><div class='t'></div></div>
    <div class='a overflow' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:32%;left:2%;text-align:center;'><div class='t'></div></div>
    <div class='a overflow' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:32%;left:35%;text-align:center;'><div class='t'></div></div>
    <div class='a overflow' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:32%;left:68%;;text-align:center;'><div class='t'></div></div>
    <div class='a overflow' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:59%;left:2%;text-align:center;'><div class='t'></div></div>
    <div class='a overflow' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:59%;left:35%;text-align:center;'><div class='t'></div></div>
    <div class='a overflow' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:59%;left:68%;;text-align:center;'><div class='t'></div></div>
</div>
