<div style="position:relative;font-size:4em;" >
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:0.6em;left:0.5em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:0.6em;left:1.6em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:0.6em;left:2.7em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:1.7em;left:0.5em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:1.7em;left:1.6em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:1.7em;left:2.7em;text-align:center;'></div>
</div>
