<div style="position:relative;font-size:3em;">
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:0.2em;left:0.5em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:0.2em;left:1.6em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:0.2em;left:2.7em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:0.2em;left:3.8em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:1.3em;left:0.5em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:1.3em;left:1.6em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:1.3em;left:2.7em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:1.3em;left:3.8em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:2.4em;left:0.5em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:2.4em;left:1.6em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:2.4em;left:2.7em;text-align:center;'></div>
    <div class='t a' style='width:1em;height:1em;border-radius:.2em;position:absolute;top:2.4em;left:3.8em;text-align:center;'></div>
</div>
