<div style="position:relative;font-size:1em;" >
    <div class='a' style='width:7em;height:1.2em;border-radius:.2em;position:absolute;top:2em;left:0.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:7em;height:1.2em;border-radius:.2em;position:absolute;top:2em;left:8.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:7em;height:1.2em;border-radius:.2em;position:absolute;top:3.5em;left:0.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:7em;height:1.2em;border-radius:.2em;position:absolute;top:3.5em;left:8.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:7em;height:1.2em;border-radius:.2em;position:absolute;top:5em;left:0.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:7em;height:1.2em;border-radius:.2em;position:absolute;top:5em;left:8.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:7em;height:1.2em;border-radius:.2em;position:absolute;top:6.5em;left:0.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:7em;height:1.2em;border-radius:.2em;position:absolute;top:6.5em;left:8.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:7em;height:1.2em;border-radius:.2em;position:absolute;top:8em;left:0.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:7em;height:1.2em;border-radius:.2em;position:absolute;top:8em;left:8.5em;text-align:center;'><div class='t'></div></div>
</div>
