<div style="position:relative;font-size:4em;" >
    <div id="legend" style="padding:0 .5em;font-size:0.15em;position:absolute;top:0.1em;left:2em;width:23em;height:2.2em;background-color:rgba(255,255,255,0.7);"></div>
    <div class='a' style='border:.04em solid gray;width:1em;height:1em;position:absolute;top:0.4em;left:0.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='border:.04em solid gray;width:1em;height:1em;position:absolute;top:0.4em;left:1.6em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='border:.04em solid gray;width:1em;height:1em;position:absolute;top:0.4em;left:2.7em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='border:.04em solid gray;width:1em;height:1em;position:absolute;top:1.5em;left:0.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='border:.04em solid gray;width:1em;height:1em;position:absolute;top:1.5em;left:1.6em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='border:.04em solid gray;width:1em;height:1em;position:absolute;top:1.5em;left:2.7em;text-align:center;'><div class='t'></div></div>
</div>
