<div style="position:relative;font-size:2.75em;height:100%;">
    <div class='t a' style='overflow:visible;width:1.2em;height:1.2em;border-radius:.1em;position:absolute;top:1%;left:10%;text-align:center;'></div>
    <div class='t a' style='overflow:visible;width:1.2em;height:1.2em;border-radius:.1em;position:absolute;top:1%;left:32%;text-align:center;'></div>
    <div class='t a' style='overflow:visible;width:1.2em;height:1.2em;border-radius:.1em;position:absolute;top:1%;left:54%;text-align:center;'></div>
    <div class='t a' style='overflow:visible;width:1.2em;height:1.2em;border-radius:.1em;position:absolute;top:1%;left:76%;text-align:center;'></div>
    <div class='t a' style='overflow:visible;width:1.2em;height:1.2em;border-radius:.1em;position:absolute;top:30%;left:10%;text-align:center;'></div>
    <div class='t a' style='overflow:visible;width:1.2em;height:1.2em;border-radius:.1em;position:absolute;top:30%;left:32%;text-align:center;'></div>
    <div class='t a' style='overflow:visible;width:1.2em;height:1.2em;border-radius:.1em;position:absolute;top:30%;left:54%;text-align:center;'></div>
    <div class='t a' style='overflow:visible;width:1.2em;height:1.2em;border-radius:.1em;position:absolute;top:30%;left:76%;text-align:center;'></div>
    <div class='t a' style='overflow:visible;width:1.2em;height:1.2em;border-radius:.1em;position:absolute;top:59%;left:10%;text-align:center;'></div>
    <div class='t a' style='overflow:visible;width:1.2em;height:1.2em;border-radius:.1em;position:absolute;top:59%;left:32%;text-align:center;'></div>
    <div class='t a' style='overflow:visible;width:1.2em;height:1.2em;border-radius:.1em;position:absolute;top:59%;left:54%;text-align:center;'></div>
    <div class='t a' style='overflow:visible;width:1.2em;height:1.2em;border-radius:.1em;position:absolute;top:59%;left:76%;text-align:center;'></div>
</div>
