<div class="illustration" style="position:relative;font-size:0.75em;height:100%;">
    <div style='position:absolute;top:1.5em;left:0.2em;width:9em;height:12em;background-color:rgba(255,255,255,0.5);border-radius:.25em;border:.1em solid white;'>
        <div id="illustration"></div>
        <div id="legend" style="position:absolute;padding:.1em;"></div>
    </div>
    
    
    <div class="a t" style='text-align:center;font-size:2.5em;width:1.2em;height:1.2em;position:absolute;top:10%;left:45%;background-color:#FFE;padding:.1em;'></div>
    <div class="a t" style='text-align:center;font-size:2.5em;width:1.2em;height:1.2em;position:absolute;top:10%;left:63%;background-color:#FFE;padding:.1em;'></div>
    <div class="a t" style='text-align:center;font-size:2.5em;width:1.2em;height:1.2em;position:absolute;top:10%;left:81%;background-color:#FFE;padding:.1em;'></div>
    
    
    <div class="a t" style='text-align:center;font-size:2.5em;width:1.2em;height:1.2em;position:absolute;top:35%;left:45%;background-color:#FFE;padding:.1em;'></div>
    <div class="a t" style='text-align:center;font-size:2.5em;width:1.2em;height:1.2em;position:absolute;top:35%;left:63%;background-color:#FFE;padding:.1em;'></div>
    <div class="a t" style='text-align:center;font-size:2.5em;width:1.2em;height:1.2em;position:absolute;top:35%;left:81%;background-color:#FFE;padding:.1em;'></div>
    
    
    <div class="a t" style='text-align:center;font-size:2.5em;width:1.2em;height:1.2em;position:absolute;top:60%;left:45%;background-color:#FFE;padding:.1em;'></div>
    <div class="a t" style='text-align:center;font-size:2.5em;width:1.2em;height:1.2em;position:absolute;top:60%;left:63%;background-color:#FFE;padding:.1em;'></div>
    <div class="a t" style='text-align:center;font-size:2.5em;width:1.2em;height:1.2em;position:absolute;top:60%;left:81%;background-color:#FFE;padding:.1em;'></div>
    
</div>
