<div style="position:relative;font-size:1.8em;height:100%;" >
    <div class='t a' style='width:4.2em;height:1.2em;border-radius:.2em;position:absolute;top:5%;left:2%;text-align:center;'></div>
    <div class='t a' style='width:4.2em;height:1.2em;border-radius:.2em;position:absolute;top:5%;left:52%;text-align:center;'></div>
    <div class='t a' style='width:4.2em;height:1.2em;border-radius:.2em;position:absolute;top:25%;left:2%;text-align:center;'></div>
    <div class='t a' style='width:4.2em;height:1.2em;border-radius:.2em;position:absolute;top:25%;left:52%;text-align:center;'></div>
    <div class='t a' style='width:4.2em;height:1.2em;border-radius:.2em;position:absolute;top:45%;left:2%;text-align:center;'></div>
    <div class='t a' style='width:4.2em;height:1.2em;border-radius:.2em;position:absolute;top:45%;left:52%;text-align:center;'></div>
    <div class='t a' style='width:4.2em;height:1.2em;border-radius:.2em;position:absolute;top:65%;left:2%;text-align:center;'></div>
    <div class='t a' style='width:4.2em;height:1.2em;border-radius:.2em;position:absolute;top:65%;left:52%;text-align:center;'></div>

</div>
