<div style="position:relative;font-size:0.7em;" >
    <div class='a' style='width:22em;height:1.4em;border-radius:.2em;position:absolute;top:2em;left:0.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:22em;height:1.4em;border-radius:.2em;position:absolute;top:4em;left:0.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:22em;height:1.4em;border-radius:.2em;position:absolute;top:6em;left:0.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:22em;height:1.4em;border-radius:.2em;position:absolute;top:8em;left:0.5em;text-align:center;'><div class='t'></div></div>
    <div class='a' style='width:22em;height:1.4em;border-radius:.2em;position:absolute;top:10em;left:0.5em;text-align:center;'><div class='t'></div></div>
</div>
