<div style="position:relative;font-size:2.3em;">
    <div class='t a' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:0.8em;left:0.5em;text-align:center;'></div>
    <div class='t a' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:0.8em;left:2.6em;text-align:center;'></div>
    <div class='t a' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:0.8em;left:4.7em;text-align:center;'></div>
    <div class='t a' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:2.1em;left:0.5em;text-align:center;'></div>
    <div class='t a' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:2.1em;left:2.6em;text-align:center;'></div>
    <div class='t a' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:2.1em;left:4.7em;text-align:center;'></div>
    <div class='t a' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:3.4em;left:0.5em;text-align:center;'></div>
    <div class='t a' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:3.4em;left:2.6em;text-align:center;'></div>
    <div class='t a' style='width:2em;height:1.2em;border-radius:.2em;position:absolute;top:3.4em;left:4.7em;text-align:center;'></div>
</div>
