<div class="illustration" style="position:relative;height:100%;">
    <div style='font-size:0.8em;position:absolute;top:5%;left:1%;width:9em;height:12em;background-color:rgba(255,255,255,0.5);border-radius:.25em;border:.1em solid white;'>
        <div id="illustration"></div>
        <div id="legend" style="position:absolute;padding:.1em;"></div>
    </div>

    <div style="font-size:1.3em;">
        <div style="text-align:center;width:1.2em;height:1.2em;position:absolute;top:5%;left:58%;background-color:#AA8;"><div class="t"></div></div>
        <div style="text-align:center;width:1.2em;height:1.2em;position:absolute;top:5%;left:68%;background-color:#AA8;"><div class="t"></div></div>
        <div style="text-align:center;width:1.2em;height:1.2em;position:absolute;top:5%;left:78%;background-color:#AA8;"><div class="t"></div></div>
        <div style="text-align:center;width:1.2em;height:1.2em;position:absolute;top:5%;left:88%;background-color:#AA8;"><div class="t"></div></div>
        <div style="text-align:center;width:1.2em;height:1.2em;position:absolute;top:18.5%;left:48%;background-color:#AA8;"><div class="t"></div></div>
        <div style="text-align:center;width:1.2em;height:1.2em;position:absolute;top:32%;left:48%;background-color:#AA8;"><div class="t"></div></div>
        <div style="text-align:center;width:1.2em;height:1.2em;position:absolute;top:45.5%;left:48%;background-color:#AA8;"><div class="t"></div></div>
        <div style="text-align:center;width:1.2em;height:1.2em;position:absolute;top:59%;left:48%;background-color:#AA8;"><div class="t"></div></div>
        <div style="text-align:center;width:1.2em;height:1.2em;position:absolute;top:72.5%;left:48%;background-color:#AA8;"><div class="t"></div></div>

        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:18.5%;left:58%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:18.5%;left:68%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:18.5%;left:78%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:18.5%;left:88%;background-color:white;"></div>

        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:32%;left:58%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:32%;left:68%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:32%;left:78%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:32%;left:88%;background-color:white;"></div>

        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:45.5%;left:58%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:45.5%;left:68%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:45.5%;left:78%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:45.5%;left:88%;background-color:white;"></div>

        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:59%;left:58%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:59%;left:68%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:59%;left:78%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:59%;left:88%;background-color:white;"></div>

        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:72.5%;left:58%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:72.5%;left:68%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:72.5%;left:78%;background-color:white;"></div>
        <div class="a" style="width:1.2em;height:1.2em;position:absolute;top:72.5%;left:88%;background-color:white;"></div>
    </div>

</div>
