<div class="illustration" style="position:relative;font-size:0.75em;">
    <div style='position:absolute;top:1.5em;left:0.2em;width:9em;height:12em;background-color:rgba(255,255,255,0.5);border-radius:.25em;border:.1em solid white;'>
        <div id="illustration"></div>
        <div id="legend" style="position:absolute;padding:.1em;"></div>
    </div>
    <div style='position:absolute;left:46%;top:1.2em;width:54%;font-size:1.5em;'>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>a</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>b</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>c</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>d</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>e</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>f</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>g</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>h</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>i</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>j</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>k</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>l</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>m</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>n</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>o</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>p</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>q</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>r</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>s</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>t</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>u</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>v</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>w</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>x</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>y</div>
		<div class='a' style='width:1em;height:1.2em;margin:.1em;border-radius:.1em;text-align:center;float:left;'>z</div>
	</div>
</div>
