<div style="position:relative;font-size:2em;height:100%;" >
    <div class='t' style='width:6em;height:1.2em;border-radius:.2em 0 0 .2em;position:absolute;top:2%;left:5%;text-align:center;background-color:#5599FF;'></div>
    <div class='t' style='width:6em;height:1.2em;border-radius:.2em 0 0 .2em;position:absolute;top:23%;left:5%;text-align:center;background-color:#99DDFF;'></div>
    <div class='t' style='width:6em;height:1.2em;border-radius:.2em 0 0 .2em;position:absolute;top:44%;left:5%;text-align:center;background-color:#5599FF;'></div>
    <div class='t' style='width:6em;height:1.2em;border-radius:.2em 0 0 .2em;position:absolute;top:65%;left:5%;text-align:center;background-color:#99DDFF;'></div>
    <div class='a' style='width:1.2em;height:1.2em;border-radius:0 .2em .2em 0;position:absolute;top:2%;left:80%;text-align:center;'></div>
    <div class='a' style='width:1.2em;height:1.2em;border-radius:0 .2em .2em 0;position:absolute;top:23%;left:80%;text-align:center;'></div>
    <div class='a' style='width:1.2em;height:1.2em;border-radius:0 .2em .2em 0;position:absolute;top:44%;left:80%;text-align:center;'></div>
    <div class='a' style='width:1.2em;height:1.2em;border-radius:0 .2em .2em 0;position:absolute;top:65%;left:80%;text-align:center;'></div>
</div>
