<div style="position:relative;font-size:2.1em;" >
    <div class='a' style='width:1.9em;height:1.2em;border-radius:.2em 0 0 .2em;position:absolute;top:0.1em;left:0.8em;text-align:right;background-color:#BBB;padding-right:0.1em;'></div>
    <div class='a' style='width:1.9em;height:1.2em;border-radius:.2em 0 0 .2em;position:absolute;top:1.3em;left:0.8em;text-align:right;background-color:#BBB;padding-right:0.1em;'></div>
    <div class='a' style='width:1.9em;height:1.2em;border-radius:.2em 0 0 .2em;position:absolute;top:2.5em;left:0.8em;text-align:right;background-color:#BBB;padding-right:0.1em;'></div>
    <div class='a' style='width:1.9em;height:1.2em;border-radius:.2em 0 0 .2em;position:absolute;top:3.7em;left:0.8em;text-align:right;background-color:#BBB;padding-right:0.1em;'></div>
    <div class='t' style='width:4.7em;height:1.2em;border-radius:0 .2em .2em 0;position:absolute;top:0.1em;left:2.8em;background-color:white;padding-left:0.1em;'></div>
    <div class='t' style='width:4.7em;height:1.2em;border-radius:0 .2em .2em 0;position:absolute;top:1.3em;left:2.8em;background-color:white;padding-left:0.1em;'></div>
    <div class='t' style='width:4.7em;height:1.2em;border-radius:0 .2em .2em 0;position:absolute;top:2.5em;left:2.8em;background-color:white;padding-left:0.1em;'></div>
    <div class='t' style='width:4.7em;height:1.2em;border-radius:0 .2em .2em 0;position:absolute;top:3.7em;left:2.8em;background-color:white;padding-left:0.1em;'></div>
</div>
