<div style="position:relative;font-size:3em;" >
    <div class='t' style='width:3em;height:1em;border-radius:.2em 0 0 .2em;position:absolute;top:0.6em;left:1em;text-align:center;background-color:#5599FF;'></div>
    <div class='t' style='width:3em;height:1em;border-radius:.2em 0 0 .2em;position:absolute;top:1.7em;left:1em;text-align:center;background-color:#99DDFF;'></div>
    <div class='t' style='width:3em;height:1em;border-radius:.2em 0 0 .2em;position:absolute;top:2.8em;left:1em;text-align:center;background-color:#5599FF;'></div>
    <div class='a' style='width:1em;height:1em;border-radius:0 .2em .2em 0;position:absolute;top:0.6em;left:4em;text-align:center;'></div>
    <div class='a' style='width:1em;height:1em;border-radius:0 .2em .2em 0;position:absolute;top:1.7em;left:4em;text-align:center;'></div>
    <div class='a' style='width:1em;height:1em;border-radius:0 .2em .2em 0;position:absolute;top:2.8em;left:4em;text-align:center;'></div>
</div>
