<div class='abs f30'>
    <div class='rl data h10 w50 blue' style='top:14%; left:8%;'></div>
    <div class='t rr icon' style='top:14%; left:78%;'></div>
    <div class='rl data h10 w50 lightblue' style='top:33%; left:8%;'></div>
    <div class='t rr icon' style='top:33%; left:78%;'></div>
    <div class='rl data h10 w50 blue' style='top:52%; left:8%;'></div>
    <div class='t rr icon' style='top:52%; left:78%;'></div>
    <div class='rl data h10 w50 lightblue' style='top:71%; left:8%;'></div>
    <div class='t rr icon' style='top:71%; left:78%;'></div>
</div> 
