<div style="position:relative;font-size:2.3em;" >
    <div class='t' style='width:5em;height:1em;border-radius:.2em 0 0 .2em;position:absolute;top:0.8em;left:0.8em;text-align:center;background-color:#5599FF;'></div>
    <div class='t' style='width:5em;height:1em;border-radius:.2em 0 0 .2em;position:absolute;top:1.9em;left:0.8em;text-align:center;background-color:#99DDFF;'></div>
    <div class='t' style='width:5em;height:1em;border-radius:.2em 0 0 .2em;position:absolute;top:3.0em;left:0.8em;text-align:center;background-color:#5599FF;'></div>
    <div class='t' style='width:5em;height:1em;border-radius:.2em 0 0 .2em;position:absolute;top:4.1em;left:0.8em;text-align:center;background-color:#99DDFF;'></div>
    <div class='a' style='width:1em;height:1em;border-radius:0 .2em .2em 0;position:absolute;top:0.8em;left:5.8em;text-align:center;'></div>
    <div class='a' style='width:1em;height:1em;border-radius:0 .2em .2em 0;position:absolute;top:1.9em;left:5.8em;text-align:center;'></div>
    <div class='a' style='width:1em;height:1em;border-radius:0 .2em .2em 0;position:absolute;top:3.0em;left:5.8em;text-align:center;'></div>
    <div class='a' style='width:1em;height:1em;border-radius:0 .2em .2em 0;position:absolute;top:4.1em;left:5.8em;text-align:center;'></div>
</div>
