.marker                             { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.marker #g_splash                   { background-image:url("../../res/img/banners/marker.svg"); }
.marker #mrboard                    { margin-top:.5em; height:12em; }
.marker #mrdata                     { width:19em; height:10.5em; overflow:hidden; background-repeat:repeat; font-size:0.8em; border:1px solid black; border-width:1px 0 1px 0; padding:0.1em 0.5em 0.1em 0.5em; background-image:url("../../res/img/default/pattern/line01.svg"); font-style:italic; }
.marker #mrdata>div                 { text-align:justify; line-height:1.1em; }
.marker #mrdata p                   { margin:.2em 0; overflow:visible; }
.marker #mrdata p span              { display:inline-block; overflow:visible; }
.marker #mrdata p span.wrong        { color:white; background-color:red !important;}
.marker #mrdata p span.s0           { color:blue; background-color:#5577FF;}
.marker #mrdata p span.s1           { color:#660000; background-color:#DD5555;}
.marker #mrdata p span.s2           { color:#004400; background-color:#44BB66;}
.marker #mrdata p span.c1           { border-radius:.25em 0 0 .25em; }
.marker #mrdata p span.c2           { border-radius:0 .25em .25em 0; }
.marker #mrdata p span.c3           { border-radius:.25em; }
.marker #mrmenu                     { width:12em; height:3.8em; background-color:white; border-radius:.5em 0 0 .5em;margin-top:.25em; margin-left:15%; font-size:.7em; float:left;}
.marker #mrmenu>div                 { height:1.2em; background-color:white; padding:.05em 0; clear:both; cursor:pointer;}
.marker #mrmenu>div.odd             { background-color:#DDD; }
.marker #mrmenu .color              { padding:.1em; border-radius:.25em; float:left; margin-left:.5em;}
.marker #mrmenu .color.s            { background-color:black; }
.marker #mrmenu .color>div          { width:0.9em; height:0.9em; border-radius:.25em;  }
.marker #mrmenu #c1 .color>div      { background-color:blue;  }
.marker #mrmenu #c2 .color>div      { background-color:red;}
.marker #mrmenu #c3 .color>div      { background-color:green; }
.marker #mrmenu .legend             { margin-left:.25em; float:left;  }
.marker.e05 #mrmenu .legend         { margin-left:.5em; font-size:.5em; }
.marker #exercice                   { width:7em; height:3.8em; background-color:#333; border-radius:0 .5em .5em 0; margin-top:.25em; font-size:.7em; float:left;}
.marker #exercice>div               { margin:0.5em; color:white; font-size:.5em; text-align:justify; }

/*============ EDITOR PANEL =============*/

.marker_editor #e_editor>div			{ height:94%; }
.marker_editor #e_editor textarea		{ font-size:0.5em; background-color:white; color:#444; height:10%; margin-top:1%; border:0; width:93%; padding-left:5%; }
.marker_editor #e_editor textarea#eph_exercice	{ background-color:#333; color:white; }
.marker_editor #e_editor select.e_sep  { font-size:1em; margin:0 0 0 .5em; border:0; width:1.8em; height:1.5em; text-align:center; float:left;  color:white; }
.marker_editor #e_editor .blue select.e_sep { background-color:rgba(84,137,184,0.9); }
.marker_editor #e_editor .red select.e_sep { background-color:rgba(184,84,84,0.9); }
.marker_editor #e_editor .green select.e_sep { background-color:rgba(84,184,137,0.9); }
.marker_editor #e_editor input.e_label { font-size:1em;  height:1.5em; border:0; margin:0; padding-left:.5em; width:80%; }
.marker_editor #e_editor #eph_size { border: 0; width: 100%; height: 3.2em; font-size: 0.5em; text-align: center; margin-top: 1%; background-color:#FEC; }
.marker_editor #e_editor textarea.e_line { height:60%; }
.marker_editor #e_control 				{ display:none; }

