.crossword                                { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat; }
.crossword>div                            { width:16.2em;}
.crossword div#splashex                   { background-color:rgba(0,0,0,0.3); background-image:url("../../res/img/banners/crossword.svg");
                                             }
.crossword div#splashex  h1               { position:absolute; top:78%; left:0; font-size:2em; background-color:rgba(70,40,20,0.8);
                                            width:100%; color:white; text-align:center;  text-transform:uppercase;
                                            border:.5em solid white; border-width:.2em 0;}
.crossword div#splashex #guide            { position:absolute; font-size:0.7em; top:3%; left:2%; width:40%;text-align:justify;
                                            border:.5em solid white; padding:.5em;
                                            background-image:url("../../res/img/default/pattern/line01.svg"); background-repeat:repeat; }
.crossword div#splashex #guiguide         { position:absolute; font-size:.7em; font-style:italic; border:.5em solid white;                                                             text-align:justify;
                                            background-color:rgba(255,255,255,0.8); padding:.5em; top:30%; left:2%; width:40%; }
.crossword div#splashex #guiguide #illus  { font-size:4em; float:left; }
.crossword div#splashex #guiguide .icon   { border-radius:.2em; margin:.1em; }
.crossword div#splashex #guiguide .hide   { border:2px solid white; opacity:0.6; }
.crossword div#splashex #guiguide .show   { border:2px solid black; }

.crossword div#submit                     { font-size:1.5em; height:1em;width:1em; cursor:pointer;
                                            position:absolute; top:7em; left:0em; z-index:3; }
.crossword div#board                      { width:12em; float:left; height:12em; }
.crossword div#board>table                { background-color:rgb(53,34,34); border: .2em solid rgb(53,34,34);
                                            border-spacing:0; }
.crossword div#board div.bg               { background-color:rgb(255,252,246); color:rgb(53,34,34); height:1em; width:1em;
                                            cursor:pointer; }
.crossword div#board div.bg.horiz         { margin:.1em 0; }
.crossword div#board div.bg.wrong         { background-color:rgb(200,100,100); color:red; }
.crossword div#board div.l1               { background-color:rgb(255,231,184); }
.crossword.nol1 div#board div.l1          { background-color:rgb(255,252,246); }
.crossword div#board div.l2               { background-color:rgb(255,210,140); }
.crossword div#board div.fixed            { color:black; cursor:auto; }
.crossword.fixed div#board div.fixed      { background-color:rgb(53,34,34); color:rgb(255,252,246); }
.crossword div#board div.bg0              { background-color:rgb(53,34,34); height:1em; width:1em; cursor:auto; }
.crossword div#board div.bg1              { background-image:url("../../res/img/svginventoryicons/background/border/square01.svg"); }
.crossword div#board div.bg2              { background-image:url("../../res/img/svginventoryicons/background/border/square02.svg"); }
.crossword div#board div.v                { width:1em; height:1em; text-align:center; margin-top:-.1em; overflow:visible; }
.crossword div#board table.hint           { font-size:0.31em; }
.crossword div#board table.hint div       { width:1em; height:1em; text-align:center; border-radius:0.25em; }
.crossword div#board table.hint div.s     { background-color:rgba(53,34,34,0.2); }

.crossword div#menu                       { width:3.9em; float:left; background-color:rgba(255,255,255,0.8); border-radius:0.2em;
                                            margin-top:0.2em; height:11.6em; }
.crossword div#menu>div                   { clear:both; }
.crossword div#menu #title                { font-size:0.8em; text-align:center; height:1.2em; }
.crossword div#menu #exercice             { font-size:0.3em; text-align:justify; padding:.1em .5em; height:10%;
                                            background-image:url("../../res/img/default/pattern/line01.svg"); background-repeat:repeat; }
.crossword div#definition                 { font-size:.4em; padding:0 .2em; height:18%; background-color:white;  }
.crossword div#definition div             { text-align:justify;  }
.crossword div#definition.center div        { text-align:center; }


.crossword.nodef div#definition           { display:none; }
.crossword.noex div#menu #exercice        { display:none; }
.crossword.nohint div#buttons			  { display:none; }


.crossword div#buttons                    { width:4.2em; }
.crossword div#buttons .bg                   { float:left; font-size:1.5em; border-radius:.3em; margin:.05em .1em; padding:.05em; opacity:0.6; }
.crossword div#buttons .bg.s                 { background-color:black; opacity:1; }
.crossword div#buttons .icon                 { background-color:white; border-radius:.25em; cursor:pointer; }

.crossword div#menu #input                { border:0; }
.crossword div#menu .num                  { font-size:1em; margin:.1em 0 .1em .1em; display:none; }
.crossword div#menu .num table div        { width:1.2em; height:1.2em; cursor:pointer; text-align:center; font-weight:bold;
                                          
                                          color:rgb(220,231,241); border-radius:.25em; }

.crossword div#menu .abc                  { font-size:.7em; margin:.12em 0 .12em .1em; }
.crossword div#menu .abc table div        { width:1em; height:1.2em; cursor:pointer; text-align:center; font-weight:bold;
                                          
                                          color:rgb(220,231,241); border-radius:.25em; }
.crossword div#menu .input                { display:none; }


.crossword .bluekeypad                { background-color:rgba(84,137,184,0.9);
                                   -webkit-transition: background-color 1000ms ease-in;
                                   -moz-transition: background-color 1000ms ease-in;
                                   -o-transition: background-color 1000ms ease-in;
                                   -ms-transition: background-color 1000ms ease-in;
                                   transition: background-color 1000ms ease-in; }
.crossword .bluekeypad.touch          { background-color:rgba(256,220,50,0.9);
                                   -webkit-transition: none;
                                   -moz-transition: none;
                                   -o-transition: none;
                                   -ms-transition: none;
                                   transition: none; }

.crossword div#valid                      { font-size:1.6em; position:absolute; background-color:rgba(255,255,255,0.8);
                                            display:none; top:1em; left:3em;  border-radius:.25em; }
.crossword div#valid div.button           { width:1.8em; height:1.8em; margin:.1em; cursor:pointer; }

.crossword #effects                       { width:50%; height:50%; position:absolute; top:5%; left:60%; display:none; }
.crossword #effects>div                   { font-size:6em; width:1em; height:1em; display:none; }


.crossword #exercice .strong        { color:red; font-weight:bold; border: 1px solid red; border-width:1px 0; text-align:center;}

