.draw                           { }
.draw #g_splash                 { background-image:url("../../res/img/background/banners/geometry.svg"); }
.draw #dwboard                  { width:100%; height:100%; }
.draw #dwmenu                   { position:absolute; top:90%; width:100%; height:10%; font-size:0.4em; }
.draw #dwmenu .icon             { border-radius:.2em; cursor:pointer; background-color:rgba(200,150,0,0.5); float:left; margin:.1em .1em 0 0; border:.1em solid rgba(255,255,255,0.5);}
.draw #dwmenu .icon.s           { border-color:red; }
.draw #dwmenu .dwpanel          { margin-left:.2em; }
.draw #dwmenu .dwcolumn         { float:left; }
.draw #dwmenu .dwcolumn.right	{ float:right; }
.draw #dwmenu .icon.a           { width:1.2em; height:1.2em; font-size:1.95em; border-width:.05em; margin:.05em .05em 0 0; font-weight:bold; text-align:center; }
.draw #dwmenu .icon.a.s         { border:.05em solid rgba(255,255,255,0.5); }
.draw #dwmenu .icon.d           { opacity:0.5; }
.draw #dwmenu .icon.r           { float:right; }
