.draw                           { }
.draw div#splashex              { background-image:url("../../res/img/banners/geometry.svg"); }
.draw div#splashex h1           { position:absolute; top:30%; left:10%; font-size:3em; }
.draw div#splashex #guide       { position:absolute; top:52%; left:45%; font-size:.75em; width:48%; text-align:justify; }

.draw div#board                 { width:100%; height:100%; }
