.ttext                { background-image:url("../../res/img/default/pattern/line02.svg");  background-repeat:repeat; }
.ttext #g_splash      { background-image:url("../../res/img/banners/impress.svg"); }
.ttext #ttboard       { height:100%; height:12em; }
