.memory3                            { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.memory3>div                        { width:100%; height:100%; }
.memory3 #effects                   { position:absolute; z-index:500; font-size:6em; top:2%; left:60%;}
.memory3 #effects>div               { width:1em; height:1em; display:none;}
.memory3 #board                     { width:16.2em; }
.memory3 .anim12.card               { cursor:auto; background-image:none; top:0;left:0;margin-top:-.04em;margin-left:-.05em;
                                      font-size:4em !important;}
.memory3.nb6 .anim12.card           { font-size:6em !important; margin-top:-.1em;margin-left:-.09em;}
.memory3.nb16 .anim12.card          { font-size:3em !important; margin-left:-.02em;}
.memory3.nb20 .anim12.card          { font-size:3em !important; margin-left:-.02em;}
.memory3 .card                      { width:1em; height:1em; margin:.02em;
                                      background-image:url("../../res/img/svginventoryicons/background/border/card01.svg");
                                      cursor:pointer; float:left; }
.memory3 .card .content             { width:1em; height:1em; display:none; text-align:center; color:#885533;border-radius:.14em;
                                      background-image:url("../../res/img/svginventoryicons/background/noborder/star01.svg");
                                      position:relative; }
.memory3 .card .content>*           { position:absolute; top:0; }
.memory3.nb6 .card                  { font-size:5em; }
.memory3.nb6 #board                 { padding-left:.2em; padding-top:.6em; }
.memory3.nb8 .card                  { font-size:3.7em; }
.memory3.nb8 #board                 { padding-left:.3em; padding-top:1.2em; }
.memory3.nb12 .card                 { font-size:3.7em; }
.memory3.nb12 #board                { padding-left:.3em; padding-top:0.2em; }
.memory3.nb16 .card                 { font-size:2.8em; }
.memory3.nb16 #board                { padding-left:2em; padding-top:0.05em; width:12em;}
.memory3.nb20 .card                 { font-size:2.8em; }
.memory3.nb20 #board                { padding-left:.4em; padding-top:0.05em; }

.memory3 div#splashex               { background-image:url("../../res/img/banners/memory.svg"); background-color:rgba(0,0,0,0.2); }
.memory3 div#splashex h1            { position:absolute; top:11%; left:66%; text-align:center; width:30%;
                                      font-size:1.1em; color:#310; }
.memory3 div#splashex #guide        { position:absolute; top:20%; left:69%; font-size:.8em; width:25%; font-style:italic;
                                      text-align:justify; }
.memory3 div#splashex #exercice     { position:absolute; top:52%; left:69%; font-size:.7em; width:25%; display:none;
                                      text-align:justify; color:red; font-weight:bold; border:1px solid red; border-width:1px 0;}
