.calc                            { background-image:url("../../res/img/background/book04.svg"); background-repeat:repeat; position:relative;}
.calc div#splashex               { background-image:url("../../res/img/banners/sorting.svg"); background-color:rgba(0,0,0,0.5); }
.calc div#splashex h1            { position:absolute; top:45%; left:80%; font-size:2em; }
.calc div#splashex #guide        { position:absolute; top:55%; left:30%; font-size:1.5em; width:60%;
                                          text-align:justify; }
.calc div#exercice               { width:90%; margin-left:10%; height:1.7em; background-repeat:repeat; border-radius:.5em 0 0 0;
                                   background-image:url("../../res/img/background/book02.svg"); text-align:justify; }
.calc div#exercice>div          { font-size:.4em;  margin-left:1em; margin-right:0.5em;}
.calc div#exercice .strong       { color:red; font-weight:bold; border: 1px solid red; border-width:1px 0; }


.calc div#board                 { margin-top:0.5em; height:12.5em; font-size:0.8em; padding:0.02em 0 0 0.02em;}
.calc div#board>div             { position:relative; height:120%; width:120%; }
.calc div#board .cell           { position:absolute; background-color:white;
                                   text-align:center; cursor:pointer; }
.calc div#board .cell.left      { text-align:left; }
.calc div#board .cell.left>span { margin-left:.1em; }
.calc div#board .cell.fixed     { cursor:auto; }
.calc div#board .cell.wrong     { background-color:#A00 !important; color:red !important;}
.calc div#board .cell.empty     { background-color:#FF0 !important; }
.calc div#board .cell.g         { background-color:#888; color:#444;cursor:auto; }

.calc div#panel                 { position:absolute; top:10%; left:60%; width:6em; height:8em;
                                  border:0.15em solid white; border-radius:.2em; overflow:visible;display:none; }
.calc.leftpanel div#panel       { left:5%; }
.calc div#panel #ppanel         { width:6em; height:7em; background-color:rgba(255,255,255,0.8); }
.calc div#panel #ppanel>div     { display:none; }
.calc div#panel #phandle        { background-color: rgba(100,100,100,0.8); cursor:move; }
.calc #phandle #pcancel       { float:right; cursor:pointer;}
.calc #phandle #pvalid      { float:left; cursor:pointer; }
.calc #phandle #edscreen        { float:left; width:3.8em; height:1em; color:white; margin-left:0.1em; }
.calc div#pmenu                  { position:absolute; left:-1em; top:0; }
.calc div#pmenu>div              { background-color:white; border-radius:0.5em; background-image:url("../../res/img/icon/tab00.svg");
                                  cursor:pointer; overflow:visible;display:none; }
.calc div#pmenu>div.s            { background-color:red; }


.calc #pimg                     { font-size:2em; }
.calc #pimg .icon               { float:left; border-radius:.5em; overflow:visible; cursor:pointer;}
.calc #pimg .icon.s             { background-color:rgba(84,137,184,0.9); }
.calc table                 { border-spacing: 0; }
.calc #screen       { font-size:1.5em; width:4em;
                                   text-align:center; color:#0F0; font-weight:bold;
                                   background-color:#030;
                                   background-image:url("../../res/img/background/book05.svg"); background-repeat:repeat;}
.calc .graykeypad               { background-color:rgba(128,128,128,0.9) !important;} 
.calc .bluekeypad                { background-color:rgba(84,137,184,0.9); color:white; text-align:center; font-size:1.15em; cursor:pointer;
                                   border:1px solid white; 
                                   -webkit-transition: background-color 1000ms ease-in;
                                   -moz-transition: background-color 1000ms ease-in;
                                   -o-transition: background-color 1000ms ease-in;
                                   -ms-transition: background-color 1000ms ease-in;
                                   transition: background-color 1000ms ease-in; }
.calc .bluekeypad.touch          { background-color:rgba(256,220,50,0.9);
                                   -webkit-transition: none;
                                   -moz-transition: none;
                                   -o-transition: none;
                                   -ms-transition: none;
                                   transition: none; }

.calc #target                   { position:absolute; width:1em;height:1em;top:0;left:0; border:2px solid blue;
                                  overflow:visible;display:none; padding:2px; }
.calc #target>div               { width:20px;height:20px;margin-top:-15px;margin-left:-15px;
                                  position:absolute;top:100%;left:100%;background-color:blue; }

.calc div#submit                     { font-size:1.5em; height:1em;width:1em; cursor:pointer;
                                            position:absolute; top:7em; left:0em; z-index:3; }
.calc div#submit>img                 { display:none; }
.calc div#submit #subvalid           { display:inline; }
.calc div#submit.good #subvalid      { display:none; }
.calc div#submit.wrong #subvalid     { display:none; }
.calc div#submit.good #subgood       { display:inline; }
.calc div#submit.wrong #subwrong     { display:inline; }


.calc #escreen                  { height:1em; color:white; }

#esource                      { width:6em; height:2em; background-color:rgba(84,137,184,0.9); }
.editor                       { width:6em; height:5em; background-color:#030; background-repeat:repeat;
                                background-image:url("../../res/img/background/book06.svg"); position:relative; }
.editor>div                     { position:absolute;overflow:visible;}
.ebutton                      { color:lime; font-size:.2em; cursor:pointer; border:1px solid lime; display:none;
                                width:10em; text-align:center; background-color:rgba(100,255,100,0.1); position:absolute; }
.ea                           { width:1em;height:1em;text-align:center; cursor:move;
                                color:#352222; border-radius:.2em; z-index:3;
                                background-image:url("../../res/img/action/nothing.svg"); }
.ea>span                      { position:relative; }

.ea.op                          { background-image:url("../../res/img/action/nothing2.svg"); }

.editor .ed           { width:1.2em;height:1.2em; background-color:rgba(0,32,0,0.5); border-radius:.1em;
                                              border:.1em solid #106410; position:absolute; z-index:2;
                                            }
.editor .ed.over      { border:.1em solid #20AA20; background-color:rgba(50,128,50,0.5); }
.editor .ed>.ea        { margin:.1em; }

.editor .el           { position:absolute; height:0.3em; border:1em solid #106410; z-index:1;
                                              border-width:.05em 0 0 .05em; border-radius:.15em 0 0 0;
                                              }
.editor .el.el0        {  border-width:0 0 0 .05em; height:0.22em; border-radius:0; }
.editor .el.el1        {  border-width:0 0 0 .05em; border-radius:0; }
.editor .el.el2        {  border-width:.05em .05em 0 0; border-radius:0 .15em 0 0; }

math {  display: block; font-style: normal; }

#esource>div                  { float:left; font-size:.6em; margin:.05em; }
#esource #echange             { width:1em; height:1em; background-color:#e4e4e4; color:black; text-align:center; border-radius:.2em; }
#esource #echange.s           { background-color:#A00; color:red;}
.calc #eclear                 { top:33em; left:19em;  }
