.calc                            { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat; position:relative;}
.calc div#splashex               { background-image:url("../../res/img/banners/sorting.svg"); background-color:rgba(0,0,0,0.5); }
.calc div#splashex h1            { position:absolute; top:47%; left:75%; font-size:2em; }
.calc div#splashex #guide        { position:absolute; top:57%; left:30%; font-size:0.8em; width:60%; text-align:justify; }
.calc.devmode div#exercice { display:none; }
.calc div#exercice               { width:90%; margin-left:10%; height:5em; font-size:0.4em; background-repeat:repeat; border-radius:1em 0 0 0;
                                   background-image:url("../../res/img/default/pattern/line01.svg"); text-align:justify; }
.calc div#exercice>div          { margin-left:1em; margin-right:0.5em;}
.calc div#exercice .strong       { color:red; font-weight:bold; border: 1px solid red; border-width:1px 0; }

.calc.devmode div#detail { display:inherit; }
.calc div#detail               { width:90%; margin-left:10%; height:5em; font-size:0.4em; background-repeat:repeat; border-radius:1em 0 0 0;
                        background-image:url("../../res/img/default/pattern/line01.svg"); text-align:justify; display:none; }
.calc div#detail>div          { margin-left:1em; margin-right:0.5em;}
.calc div#detail .detdiv    { display:none; }
.calc div#detail #valid     { float:right; background-color:gray; border-radius:.5em; cursor:pointer; font-size:3em; margin:.2em; }

.calc div#detail .settings     { font-size:.8em; background-color:gray; color:white; margin:.1em; padding:.1em .5em; width:15em; float:left; }
.calc div#detail .settings.small { width: 2em; }
.calc div#detail .settings.small .label { width:1em; }
.calc div#detail .settings.small input { border:0; font-size:1em; width:0.5em; }
.calc div#detail .label     { width:3em; float:left; overflow:visible; white-space:nowrap; }
.calc div#detail input          { width:11em; border:0; background-color:rgba(0,0,0,0.2); color:white; padding:0 .5em; }

.calc.devmode div#locale { display:inherit; }
.calc div#locale { position:absolute; top:1%; left:96%; background-color:gray; border-radius:0.5em; font-size:0.5em; cursor:pointer; display:none; }

.calc div#board                 { margin-top:0.5em; height:12.5em; font-size:0.8em; padding:0.02em 0 0 0.02em;}
.calc div#board>div             { position:relative; height:120%; width:120%; }
.calc div#board .cell           { position:absolute; background-color:white; background-size:100%;
                                   text-align:center; cursor:pointer; }
.calc div#board .cell.graph>div { width:100%; height:100%; }
.calc div#board .cell.left      { text-align:left; }
.calc div#board .cell.left>div  { margin-left:.1em; }
.calc div#board .cell.f2>div   { font-size:2em; }
.calc div#board .cell.f15>div   { font-size:1.5em; }
.calc div#board .cell.f14>div   { font-size:1.4em; }
.calc div#board .cell.f12>div   { font-size:1.2em; }
.calc div#board .cell.f08>div   { font-size:0.8em; }
.calc div#board .cell.f05>div   { font-size:0.5em; }
.calc div#board .cell.f04>div   { font-size:0.4em; }
.calc div#board .cell.f03>div   { font-size:0.3em; }
.calc div#board .cell.f025>div  { font-size:0.25em; }
.calc div#board .cell.f015>div  { font-size:0.15em; }
.calc div#board .cell.vm02>div    { margin-top:0.2em; }
.calc div#board .cell.vm05>div    { margin-top:0.5em; }
.calc div#board .cell.vm08>div    { margin-top:0.8em; }
.calc div#board .cell.vm1>div    { margin-top:1em; }
.calc div#board .cell.vm12>div    { margin-top:1.2em; }
.calc div#board .cell.vm2>div    { margin-top:2em; }

.calc div#board .cell.fixed     { cursor:auto; }
.calc div#board .cell.wrong     { background-color:#A00 !important; color:red !important;}
.calc div#board .cell.empty     { background-color:#FF0 !important; }
.calc div#board .cell.g         { background-color:#888; color:#444;cursor:auto; }

.calc div#board .cell.fixed .img       { border:1px solid black; border-width:1px 0 1px 0; margin-top:.5em; }
.calc div#board .cell.fixed .icon      { font-size:3em; margin:0 auto;}
.calc div#board .cell.fixed .image  { width:100%; }
.calc div#board .cell.fixed>div { line-height:1.2em; }

.calc div#panel                 { position:absolute; top:5%; left:60%; width:6em; height:8em;
                                  border:0.15em solid white; border-radius:.2em; overflow:visible;display:none; }
.calc.leftpanel div#panel       { left:5%; }
.calc.smallpanel div#panel		{ font-size:.6em; left:65%; }
.calc div#panel #ppanel         { width:6em; height:7em; background-color:rgba(255,255,255,0.8); }
.calc div#panel #ppanel>div     { display:none; }
.calc div#panel #phandle        { background-image:url("../../res/img/background/asset/move01.svg"); cursor:move; }
.calc #phandle #pcancel       { float:right; cursor:pointer;}
.calc #phandle #pvalid      { float:left; cursor:pointer; }
.calc #phandle #edscreen        { float:left; width:3.8em; height:1em; color:white; margin-left:0.1em; }
.calc div#pmenu                  { position:absolute; left:-1em; top:0; }
.calc div#pmenu>div              { background-color:white; border-radius:0.5em; background-image:url("../../res/img/icon/tab/tab00.svg");
                                  cursor:pointer; overflow:visible;display:none; }
.calc div#pmenu>div.s            { background-color:red; }

.calc .alert					{ display:none; position:absolute; font-size:6em; width:1em; height:1em; top:2%; left:60%; }


.calc #pimg                     { font-size:2em; }
.calc #pimg .icon               { float:left; border-radius:.5em; overflow:visible; cursor:pointer;}
.calc #pimg .icon.s             { background-color:rgba(84,137,184,0.9); }
.calc.horizimg #pimg .icon      { width:4em; height:3em; font-size:.35em; border-radius:0; }
.calc.borderimg #pimg .icon     { border:.1em solid gray; margin:.02em; }
.calc.borderimg #pimg .icon.s   { background-color:inherit; border:.1em solid red; }
.calc #ptxt>div			{ background-color:rgba(84,137,184,0.9); margin:.1em; color:white; cursor:pointer; }
.calc #ptxt>div.small       { font-size:0.8em; }
.calc #ptxt>div.inline      { width:auto; min-width:1em; float:left; text-align:center; }
.calc #ptxt>div.s				{ background-color:rgba(256,220,50,0.9); }

.calc #pgraph #graphmenu         { width:6em; height:3em; background-color:rgba(84,137,184,0.9); }
.calc #pgraph #graphmenu>div     { border:.1em solid white; margin:.1em; float:left; background-color:rgba(255,255,255,0.8); cursor:pointer; }
.calc #pgraph #graphmenu>div.s  { border:.1em solid red; }
.calc #pgraph .line             { font-size:.8em; margin:.1em; background-color:#030; display:none;}
.calc #pgraph .line>div         { float:left; margin:.1em; }
.calc #pgraph .line .label      { width:2em; height:1em; margin-right:.4em; text-align:center; background-color:rgba(200,255,210,0.8); color:#030; }
.calc #pgraph .line .ref        { width:2em; height:1em; text-align:center; background-color:rgba(255,255,255,0.9); cursor:pointer; }
.calc #pgraph .line .ref.s      { background-color:red; }

.calc table                 { border-spacing: 0; }
.calc #pcalc td>div  { height:1.25em; }
.calc #pcalc td>#screen       { font-size:1.2em; width:5em; height:1.3em; cursor:crosshair;
                                   text-align:center; color:#0F0; font-weight:bold;
                                   background-color:#030;
                                   background-image:url("../../res/img/default/pattern/line03.svg"); background-repeat:repeat;}
.calc.smallscreen #pcalc td>#screen>div { font-size:0.8em; margin-top:.15em; }
.calc .graykeypad               { background-color:rgba(128,128,128,0.9) !important;} 
.calc .bluekeypad                { color:white; text-align:center; font-size:1em; cursor:pointer; border:.05em solid white; }

.calc #target                   { position:absolute; width:1em;height:1em;top:0;left:0; border:2px solid blue;
                                  overflow:visible;display:none; padding:2px; }
.calc #target>div               { width:20px;height:20px;margin-top:-15px;margin-left:-15px; cursor:move;
                                  position:absolute;top:100%;left:100%;background-color:blue; display:none; }
.calc.auto #target>div          { display:inherit; }
.calc #target.s                 { border:2px solid red; }
.calc #target.s>div             { background-color:red; }

.calc div#submit                     { font-size:1.5em; height:1em;width:1em; cursor:pointer;
                                            position:absolute; top:7em; left:0em; z-index:3; }
.calc div#submit>img                 { display:none; }
.calc div#submit #subvalid           { display:inline; }
.calc div#submit.good #subvalid      { display:none; }
.calc div#submit.wrong #subvalid     { display:none; }
.calc div#submit.good #subgood       { display:inline; }
.calc div#submit.wrong #subwrong     { display:inline; }



.calc.devmode div#panel		{ font-size:.6em; left:65%; }
.calc .mask { position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.4); z-index:200; display:none; }
.calc .mask>div { background-color:rgba(255,255,255,0.8); width:90%; height:90%; margin:5%; }
.calc .mask .icon { cursor:pointer; }
.calc #mask textarea { border:0; font-size:.25em; margin:0 2%; width:95%; height:70%; }
.calc #mask #import { background-color:gray; width:100%; cursor:pointer; }
.calc #mask #import .icon { margin:0 auto; }

.calc #glossary .elt { float:left; font-size:.4em; width:16.5em; height:1.3em; background-color:gray; margin:.1em; padding:.1em 0; display:none; }
.calc #glossary  input { margin-left:.2em; width:12em; border:0; font-size:1em; background-color:rgba(0,0,0,0.4); color:white; padding:0 .4em; float:left; }
.calc #glossary  input.label { width:2em; }

.calc #glossary #gadd { float:right; background-color:gray; border-radius:.5em; }

.calc #escreen                  { height:1em; color:white; }

#esource                      { width:6em; height:2em; background-color:rgba(84,137,184,0.9); }


#esource>div                  { float:left; font-size:.7em; margin:.02em; }
#esource #echange             { width:1em; height:1em; background-color:#e4e4e4; color:black; text-align:center; border-radius:.2em; }
#esource #echange.s           { background-color:#A00; color:red;}
.calc #eclear                 { top:33em; left:19em;  }

.calc #tip                  { position:absolute; top:1%; left:93%; cursor:help; width:1em; height:1em; display:none; }
