.jewel                              { background-image:url("../../res/img/background/landscape/a_country01.svg"); }
.jewel #jlboard                     { height:12em; float:left; width:12em; background-color:rgba(0,0,0,0.2); }
.jewel #jlboard>div                 { position:relative; height:12em; width:12em;  }
.jewel #jlboard .bg                 { background-color:rgba(255,255,255,0.7); position:absolute; width:1em; height:1em; z-index:1; }
.jewel #jlboard .cell               { position:absolute; width:1em; height:1em; z-index:2; }
.jewel #jlboard .cell>div           { width:1em; height:1em; position:absolute; top:0; cursor:move; }
.jewel #jlboard .fx                 { position:absolute; background-color:rgba(255,255,0,0.5); z-index:4; border-radius:.2em; }
.jewel #jlleftmenu                  { height:12em; float:left; width:1em; }
.jewel #jlrightmenu                 { height:12em; float:left; width:3em; }
.jewel #jlboard .score              { position:absolute; z-index:4; text-align:center; font-weight:bold; color:yellow; }
.jewel #jlboard .score.line>div     { color:orange; font-size:.5em; }
.jewel #jlscore                     { color:white; text-align:center; font-size:.4em; margin-top:1em; background-color:rgba(0,0,0,0.9);  }
.jewel #g_splash                    { background-image:url("../../res/img/background/banners/jewel.svg"); background-color:rgba(0,0,0,0.4); }
.jewel #g_splash #goals             { position:absolute; top:60%; left:55%; width:40%; background-color:white; padding:.5em; overflow:visible; border:.1em solid black;  height:7em; display:none;}
.jewel #g_splash #goallabel         { position:absolute; top:-1em; left:-1em; padding:.2em .5em; background-color:#F56; color:white; border-radius:.2em; border:.1em solid black; -ms-transform: rotate(-10deg); -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
.jewel #g_splash #withtime          { display:none; position:absolute; top:80%; left:70%; padding:.2em .5em; background-color:#F56; color:white; border-radius:.2em; border:.1em solid black; -ms-transform: rotate(-10deg); -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
.jewel #g_splash ul                 { margin-top:0.8em; font-size:0.8em; font-style:italic; }
.jewel #g_splash li                 { margin-bottom:0.2em; }
.jewel #g_splash .jll               { background-color:red; color:white; padding:0 0.5em; border-radius:.5em; }
.jewel .alert					    { z-index:4; display:none; position:absolute; font-size:6em; width:1em; height:1em; top:2%; left:60%; }
.jewel #jlscorepanel                { cursor:help; }
.jewel #jlpoints                    { background-color:orange; color:white; position:relative; font-size:.6em; opacity:0.9; width:5em; height:1.2em; font-weight:bold;  }
.jewel #jlpoints.s #jlslide         { background-color:green; }
.jewel #jlpoints>div                { position:absolute; top:0; text-align:center; width:100%;}
.jewel #jlpoints #jlslide           { background-color:red; height:1.2em; }
.jewel #jlcounter                   { margin-top:.2em;font-size:.6em; opacity:0.9; font-weight:bold; text-align:center;  height:1.2em; background-color:green; color:white; display:none; cursor:help; }
.jewel #jlcounter.s                 { background-color:red; }
.jewel #jltime                      { display:none; margin-top:.2em;font-size:.6em; opacity:0.9; font-weight:bold; text-align:center;  height:1.2em; background-color:gray;  }
.jewel #jltime>div	                { height:1.2em; background-color:red; width:0; }
.jewel #jlgoal					    { z-index:101; display:none; position:absolute; font-size:6em; width:1em; height:1em; top:45%; left:-2%; }

/*============ EDITOR PANEL =============*/

.jewel_editor #e_editor>div			{ height:94%; }
.jewel_editor #e_editor #e_board	{ font-size:0.5em; background-color:white; color:#444; height:50%; margin-top:1%; border:0; width:40%; padding:0 5%; margin-bottom:1%; float:left; }
.jewel_editor #e_editor #e_help	{ color:white; font-size:0.4em; width:45%; margin-left:2%; float:left;}
.jewel_editor .e_select			{ width:47%; margin-left:1%; margin-top:3%; float:left; }
.jewel_editor .e_select .icon		{ font-size:1.2em; float:left; margin:1%; cursor:pointer; border:.2em solid black; border-radius:.2em; }
.jewel_editor .e_select .icon.s		{ border:.2em solid #F55; }
.jewel_editor #e_bonus .icon		{ width:1.2em; height:1.2em; font-size:1em; text-align:center; border-width:.24em}

.jewel_editor #e_editor .eph_value { border: 0; width: 98%; height: 3.2em; font-size: 0.5em; text-align: center; margin-top: 1%; background-color:#FEC; }
.jewel_editor #eph_goal { border: 0; width: 70%; height: 3.2em; font-size: 0.5em; text-align: center; margin-top: 1%; background-color:#CEF;float:left; }
.jewel_editor #eph_value.eph_value { width:28%;  }
.jewel_editor #e_editor .e_goalex.eph_value	 { clear:both; height:1.2em; margin-left:1%; width:45%; padding:0.3em; cursor:pointer; border:.4em solid black; }
.jewel_editor #e_editor .e_goalex.eph_value.s { border:.4em solid #F55; }
.jewel_editor #e_control 				{ display:none; }
