.quizz                            { background-image:url("../../res/img/background/landscape/landscape02.svg"); background-repeat:repeat;}
.quizz div#splashex            { background-image:url("../../res/img/banners/quizz.svg"); }
.quizz div#splashex  h1                 { position:absolute; top:15%; left:55%; font-size:1.5em; background-color:red;
                                          width:55%; color:white; text-align:center; border-radius:0 .5em .5em 0;
                                          border:.3em solid white;
                                          -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.quizz div#board                  { height:12em; width:102%; }
.quizz div#grid					{ height:100%; width:70%; float:left; }
.quizz div#hints				{ height:100%; width:30%; float:left; background-color:rgba(255,255,255,0.5); }
.quizz div#hintlist				{ height:90%; width:90%; margin:.5em 0; background-color:rgba(150,220,240,0.9); border:.1em solid white;}
