.path                            { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}

.path div#splashex          { background-image:url("../../res/img/banners/dots.svg"); }
.path  div#splashex h1      { position:absolute; top:75%; left:0; font-size:2em; background-color:rgba(70,40,20,0.8);
                                   width:100%; color:white; text-align:center;  text-transform:uppercase;
                                   border:.5em solid white; border-width:.2em 0;}
.path  div#splashex #guide  { position:absolute; font-size:0.8em; top:2%; left:2%; width:35%;text-align:justify;
                                   border:.5em solid white; padding:.5em; font-style: italic;
                                   background-image:url("../../res/img/default/pattern/line01.svg"); background-repeat:repeat; }

.path div#exercice               { position:absolute;width:12em;height:16em;top:40%;left:1%;background-repeat:repeat; font-size:.4em;
                                   background-image:url("../../res/img/default/pattern/line01.svg"); text-align:justify; padding:.2em;
                                    border:1px solid black; display:none; opacity:0.8; }
.path div#exercice .strong       { clear:both; color:red; font-weight:bold; border: 1px solid red; border-width:1px 0; }
.path div#exercice .h1          { clear:both; font-weight:bold; font-size:2em; text-align:center; }
.path div#exercice .small          { clear:both; font-style:italic; font-size:0.8em;  }
.path div#board                  { height:70%; font-size:.6em; }

.path div#effects               { position:absolute; top:0%; left:47%; width:1em; height:1em; font-size:5em; display:none;}
.path div#goal                  { position:absolute; top:2%; left:60%; width:1em; height:1em; font-size:7em; display:none;}
