.trafficjam     { font-family:"Century Gothic", sans-serif; }
.trafficjam>div                     { height:100%; background-image:url("../../res/img/background/book04.svg"); background-repeat:repeat; }
.trafficjam div#splashex            { background-image:url("../../res/img/banners/trafficjam.svg"); color:white;}
.trafficjam div#splashex h1         { position:absolute; top:51%; left:10%; font-size:1.5em; }
.trafficjam div#splashex #guide     { position:absolute; top:62%; left:10%; font-size:.7em; width:25%; font-style:italic; text-align:justify; }

.trafficjam div#board               { width:12em; height:12em; float:left; cursor:move; }
.trafficjam div#board .r            { position:absolute; background-image:url("../../res/img/tileset/ortho/traffic/road01.svg");
                                      width:1em; height:1em; }
.trafficjam div#board .b            { position:absolute; width:1em; height:1.67em; }
.trafficjam div#board .s           { background-image:url("../../res/img/tileset/ortho/traffic/s01.svg"); }
.trafficjam div#board .sw          { background-image:url("../../res/img/tileset/ortho/traffic/sw01.svg"); }
.trafficjam div#board .se          { background-image:url("../../res/img/tileset/ortho/traffic/se01.svg"); }
.trafficjam div#board .se2          { background-image:url("../../res/img/tileset/ortho/traffic/se02.svg"); }
.trafficjam div#board .e          { background-image:url("../../res/img/tileset/ortho/traffic/e01.svg"); }
.trafficjam div#board .e2          { background-image:url("../../res/img/tileset/ortho/traffic/e02.svg"); }
.trafficjam div#board .e3          { background-image:url("../../res/img/tileset/ortho/traffic/e03.svg"); }
.trafficjam div#board .w          { background-image:url("../../res/img/tileset/ortho/traffic/w01.svg"); }
.trafficjam div#board .ne          { background-image:url("../../res/img/tileset/ortho/traffic/ne01.svg"); }
.trafficjam div#board .nw          { background-image:url("../../res/img/tileset/ortho/traffic/nw01.svg"); }

.trafficjam div#board .n            { position:absolute; width:2em; height:2em;}
.trafficjam div#board .n1          { background-image:url("../../res/img/tileset/ortho/traffic/n01.svg"); }

.trafficjam div#board .c            { position:absolute; }
.trafficjam div#board .c.h2         { width:2em; height:1.67em; }
.trafficjam div#board .c.h3         { width:3em; height:1.67em; }
.trafficjam div#board .c.v2         { width:1em; height:2.67em; }
.trafficjam div#board .c.v3         { width:1em; height:3.67em; }
.trafficjam div#menu                { width:3.9em; height:12em;
                                      background-image:url("../../res/img/background/book02.svg"); background-repeat:repeat;
                                     border:.1em solid black; border-width:0 0 0 .1em;}
.trafficjam div#buttons             { font-size:.5em; }
.trafficjam div#buttons>div         { width:7em; height:1em; overflow:visible; margin:.8em .5em;
                                      background-color:rgba(100,200,255,0.8); border-radius:.25em;
                                      border:.1em solid rgb(50,100,128); }
.trafficjam div#buttons #back       { cursor:pointer; }
.trafficjam div#buttons .label       { margin-left:.5em; float:left; width:5.8em; font-size:.7em; color:rgb(20,80,100);}
.trafficjam div#buttons .value      { position:relative; font-size:1.5em; top:-.2em; left:.4em; background-color:rgb(50,100,128);
                                      border-radius:.25em; width:1.2em; height:1em; }
.trafficjam div#buttons .value>div  { position:relative; font-weight:bold; width:1.4em; font-size:0.9em; text-align:center; top:-.1em; color:rgb(200,240,255); }


.trafficjam div#buttons>div.wrong .value { background-color:rgb(128,50,50); }
.trafficjam div#buttons>div.wrong .value>div { color:rgb(255,200,200); }

.trafficjam div#pressure            { position:absolute; z-index:100; width:1em; height:1em; top:1.9em; left:2.8em; font-size:4em; }

.trafficjam .alert					{ z-index:4; display:none; position:absolute; font-size:6em; width:1em; height:1em; top:2%; left:60%; }
