.shop                            { background-image:url("../../res/img/background/shop01.svg");}
.shop div#splashex               { background-image:url("../../res/img/banners/operation.svg"); background-color:rgba(0,0,0,0.7); }
.shop div#splashex h1            { position:absolute; top:15%; left:68%; font-size:1.1em; color:#222;}
.shop div#splashex #guide        { position:absolute; top:22%; left:65%; font-size:.7em; width:30%; text-align:justify; font-style:italic; }

.shop div#board                  { height:20em; font-size:.6em; }

.shop #people                     { position:absolute; overflow:visible;font-size:6.2em; }
.shop #people>div                 { width:1em; height:1em; position:absolute; top:0.6em; display:none; }

.shop .cell                         { width:5em; height:1.2em; border:1px solid #600; text-align:center; font-weight:bold; color:#600;
                                    float:right; margin-right:0.2em; background-color:rgba(255,255,255,0.2); }

.shop #pbill                       { position:absolute; width:9em; height:4em; background-color:white; border:.05em solid black;
                                     display:none; top:2%; left:2%; }
.shop #pbill>div                    { font-size:.4em; }
.shop #pbill .header                { color:#004; text-align:right; margin-right:0.5em; }
.shop #pbill .title                 { font-size:2em; padding-left:10%; }
.shop #pbill .date                  { font-size:0.8em; padding-left:10%; border:1px solid black; border-width:0 0 0.1em 0; margin-bottom:1em; }
.shop #pbill .topay                 { float:left; margin-left:1em; font-size:1.5em; color:red; }
.shop #pbill #billval               { font-size:2em;   }
.shop #pbill .footer                { padding:1em 0 0 1em; clear:both; font-size:.8em; color:#004; }

.shop #pbill.bill2                  { background-color:#99CCDD; }
.shop #pbill.bill2 .header          { color:white; font-style:italic; }
.shop #pbill.bill2 .title           { font-size:1.5em; text-align:right; padding-right:5%; }
.shop #pbill.bill2 .date            { color:#444; text-align:right; padding-right:5%; }
.shop #pbill.bill2 .topay           { color:#600; }


.shop .panel                      { display:none; background-color:rgba(0,0,0,0.8); border:.1em solid black;
                                    border-radius:.25em; overflow:visible; width:8em; height:8em; padding:.06em;}
.shop .wallet>div                 { overflow:visible;  width:8em; height:8em; background-color:rgba(255,200,100,0.4); border-radius:.25em; }
.shop .wallet.over                { background-color:rgba(255,255,0,0.8); }

.shop #pmoney                     { position:absolute; top:2%; left:38%;  }
.shop #pmoney #pvalid             { position:absolute; top:3.5em; left:3.5em; font-size:2em; width:1em; height:1em;
                                    background-color:rgba(255,255,255,0.8); border-radius:0.5em; cursor:pointer;}
.shop .wallet.good                { background-color:rgba(0,255,0,0.8); }
.shop .wallet.wrong               { background-color:rgba(255,0,0,0.8); }
.shop #pchange                    { position:absolute; top:45%; left:38%; }
.shop #pchange>div                { background-image:url("../../res/img/background/shop/change.svg"); }
.shop #pchange #pmask             { position:absolute; width:8em; height:8em; background-color:green; border-radius:.25em;
                                    z-index:100;display:none;}

.shop #pwallet                    { position:absolute; top:45%; left:5%;  }
.shop #pwallet>div                { background-image:url("../../res/img/background/book05.svg"); }
.shop .coin                       { cursor:move; top:0; left:0; position:absolute;overflow:visible;}
.shop .bill                       { cursor:move; top:0; left:0; position:absolute;overflow:visible; }
.shop .coin>div                       { width:1em; height:1em; cursor:move; top:0; left:0; }
.shop .bill>div                       { width:2em; height:1em; cursor:move; top:0; left:0; font-size:1.5em; }
.shop .coin.v0>div                    { font-size:1em; }
.shop .coin.v1>div                    { font-size:1.2em; }
.shop .coin.v2>div                    { font-size:1.4em; }
.shop .coin.v3>div                    { font-size:1.2em; }
.shop .coin.v4>div                    { font-size:1.6em; }
.shop .coin.v5>div                    { font-size:2em; }
.shop .coin.v6>div                    { font-size:1.8em; }
.shop .coin.v7>div                    { font-size:2em; }


.shop #pcalculator                { position:absolute; top:2%; left:5%; width:5.2em; height:8.2em; padding:0; }
.shop #pcalculator td             { width:1.2em; overflow:hidden; cursor:pointer; text-align:center; font-weight:bold;
                                          font-family: "Courier New" Courier monospace;
                                          color:rgb(220,231,241); border-radius:.25em; }

.shop #menu                             { font-size:2em; position:absolute; left:5%; top:88%; }
.shop #menu>*                           { width:1em; height:1em; float:left; margin-left:.1em; }
.shop #menu .tab                        { background-image:url("../../res/img/icon/tab00.svg");
                                    background-color:rgba(0,0,0,0.8); cursor:pointer; border-radius:.5em ; overflow:visible;}
.shop #menu .tab.s                      { background-color:rgba(255,0,0,0.8); }
.shop #menu #target                     { position:absolute; left:0; }


.shop #pcalculator #screen             { font-size:1.5em; width:3em; border-radius:.25em; cursor:move;
                                    text-align:center; color:#0F0; font-weight:bold;
                                      padding:.2em; background-color:#030;
                                      background-image:url("../../res/img/background/book05.svg"); background-repeat:repeat;}
.shop .bluekeypad                { background-color:rgba(84,137,184,0.9);
                                  -webkit-transition: background-color 1000ms ease-in;
                                  -moz-transition: background-color 1000ms ease-in;
                                  -o-transition: background-color 1000ms ease-in;
                                  -ms-transition: background-color 1000ms ease-in;
                                  transition: background-color 1000ms ease-in; }
.shop .bluekeypad.touch          { background-color:rgba(256,220,50,0.9);
                                  -webkit-transition: none;
                                  -moz-transition: none;
                                  -o-transition: none;
                                  -ms-transition: none;
                                  transition: none; }

.shop #bubbles                        { position:absolute; top:0; left:0%; width:30em; height:20em; color:#530;  display:none;}
.shop #bubbles .talk                  { position:absolute; border-radius: .5em; background: #FE7; opacity:0.9; display:none;
                                  border:.1em solid #530; padding:.2em .5em; font-size:.6em; overflow:visible; cursor:pointer; }
.shop #bubbles .talk:before           { content:""; display : block; position:absolute; font-size:.5em; background: #FE7; border:.2em solid #530; }
.shop #bubbles .talk .content         { font-size:.8em; }
.shop #bubbles #owner                { width:40%; height:15%; left:40%; top:5%; }
.shop #bubbles #owner:before          {  width:2em; height:1em;  border-radius:.5em 0 0 .5em;  left:-2em; top:8em;
                                border-width:.2em 0 .2em .2em; }

.shop #bubbles #client                { width:20%; height:12%; left:1%; top:7%; }
.shop #bubbles #client:before          {  width:1em; height:1.5em;  border-radius:0 0 .5em .5em;  left:6em; top:8.7em;
                                border-width:0 .2em .2em .2em; }


