.wordmix                            { background-image:url("../../res/img/background/book04.svg"); background-repeat:repeat;}
.wordmix div#splashex                 { background-color:rgba(0,0,0,0.3); background-image:url("../../res/img/banners/crossword.svg");
                                       }
.wordmix div#splashex  h1             { position:absolute; top:75%; left:0; font-size:3em; background-color:rgba(70,40,20,0.8);
                                      width:100%; color:white; text-align:center;  text-transform:uppercase;
                                      border:.5em solid white; border-width:.2em 0;}

.wordmix div#splashex #guide          { position:absolute; font-size:1em; top:2%; left:2%; width:35%;text-align:justify;
                                       border:.5em solid white; padding:.5em;
                                    background-image:url("../../res/img/background/book02.svg"); background-repeat:repeat; }

.wordmix div#exercice .strong       { color:red; font-weight:bold; border: 1px solid red; border-width:1px 0; }
.wordmix div#board                  { float:left; width:12em; height:12em;  }
.wordmix div#board>div              { width:11em; height:11em; margin:.5em .2em .5em .8em; cursor:pointer; }
.wordmix div#legend                 { float:left; width:4em; height:12em; background-color:gray;
                                      background-image:url("../../res/img/background/book06.svg"); background-repeat:repeat; }


.wordmix div#exercice               { width:96%; height:20%; background-repeat:repeat; font-size:.3em; padding:.3em;
                                      background-image:url("../../res/img/background/book02.svg"); text-align:justify;
                                      display:none; }

.wordmix div#values                 { font-size:0.95em; }
.wordmix div#values>div         { overflow:visible; }
.wordmix div#values>div.s       { background-color:rgba(160,160,160,0.9) !important;}
.wordmix div#values>div.txt             { float:left; font-size:.5em; background-color:rgba(255,255,255,0.9); border-radius:.4em;
                                      width:7.8em; height:1.2em; margin:.1em .1em; padding-left:.4em; }
.wordmix div#values>div.txt.s       { text-decoration:line-through; }

.wordmix div#values>div.icon         { float:left; font-size:1.6em; background-color:rgba(255,255,255,0.9); border-radius:.1em;
                                      margin:.05em .05em; }



.wordmix.small div#values>div.txt   { font-size:.25em; }
.wordmix.small div#values>div.icon  { font-size:1.2em; }
.wordmix.tiny div#values>div.icon  { font-size:0.8em; }
.wordmix.tiny div#values>div.txt   { font-size:.2em; width:9.7em; }

