.ana                            { background-image:url("../../res/img/background/landscape/c_blue01.svg"); }
.ana>div						{ position:relative; }
.ana div#g_splash               { background-image:url("../../res/img/background/banners/ana.svg"); }
.ana #aaboard                   { height:12em; width:70%; position:relative; }
.ana #aaboard .icon			    { position:absolute; overflow:visible; background-image:url("../../res/img/svginventoryicons/background/border/simple01.svg");}
.ana #aaboard .icon>div		    { font-size:0.8em; text-align:center; color:#444; font-weight:bold; }
.ana #aaboard .icon .g_anim12		{ position:absolute; top:0; left:0; z-index:2; margin-top:-.15em; margin-left:-.2em; font-size:1.5em; }
.ana #aaheader					{ height:0.9em; background-color:rgba(0,0,0,0.6); }
.ana #aanav                  	{ position:absolute; top:0; left:70%; height:12em; width:31%; background-color:rgba(255,255,255,0.7); overflow:visible; }
.ana #aamenu					{ padding-left:.1em; width:1.2em; float:left; height:3.4em;  background-color:rgba(0,0,0,0.2); }
.ana #aamenu .icon				{ background-image:url("../../res/img/default/icon/menu02bg.svg"); background-repeat:no-repeat; cursor:pointer; margin:.05em; float:left; border-radius:.2em;  }
.ana #aamenu .icon.s			{  background-color:red;  }
.ana #aasnap					{ font-size:3.4em;  }
.ana #aaword					{ font-size:0.8em; background-color:rgba(0,0,0,0.6); color:white; text-align:center; height:1.2em; }
.ana #aakeypad					{ position:absolute; font-size:6em; top:46%; left:-26%;  background-image:url("../../res/img/icon/tab/tab00.svg"); background-color:rgba(255,255,255,0.7);  border-radius:.5em; overflow:visible; }
.ana #aamask                    { display:none; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.1); }
.ana #aamask>div                { font-size:0.5em; background-color:rgba(255,255,255,0.9); border:3px solid white; border-width:1px 0 1px 0; width:80%; padding:.2em 10%; height:35%; margin:20% auto; }
.ana #aamask .icon              { font-size:4em; float:left; margin:.2em .5em; cursor:pointer;  }
.ana #aamask #aaillus           { position:absolute; top:40%; left:70%; font-size:8em; width:1em; height:1em; }
.ana #aafx						{ top:-5%; left:70%; font-size:6em; }
								  
/*============ EDITOR PANEL =============*/

.ana_editor #e_editor>div			{ height:94%; }
.ana_editor #e_editor textarea		{ font-size:0.5em; background-color:white; color:#444; height:30%;
									  margin-top:1%; border:0; width:93%; padding-left:5%; }
.ana_editor #e_editor textarea#e_glossary	{ height:40%; }
.ana_editor #e_control 				{ display:none; }