body>div        { background-color:white; display:inherit; }
#aamenu         { font-size:1.3em; width:60%; height:9.2em; background-color:gray;}
#aacontent      { font-size:.5em; width:40%; height:24em; float:left;}
#aatemplate     { height:82%; }
#aanav          { background-color:gray; font-size:3em; }
#aanav>div      { width:1em; height:1em; cursor:pointer; float:left; border-radius:.5em; margin:.1em .2em; }
