.genius #map                      { background-color:#241f1c; width:16em; height:12em; position:relative;}
.genius #map #svg                 { position:absolute; width:16em; height:12em; }

.genius>#nav                      { position:absolute; font-size:.5em; width:4em; left:.5em; top:19em; }
.genius>#nav>div                  { background-color:rgba(128,200,255,0.5); }
.genius>#nav .slider              { width:1em; height:1em; background-color:#AAEEFF; border-radius:.5em; cursor:move;}
.genius>#nav>#header              { height:0.5em; }
.genius>#nav>#header>div          { font-size:0.4em; color:#AAEEFF; margin-left:1em;}
.genius>#nav>#move                { height:3em; }
.genius>#nav>#move .slider        { width:4em; height:3em; border-radius:0; }
.genius>#nav>#zoom                { height:1em; }

.theme2 .genius>#nav              { left:.2em; border:.1em solid black; }
.theme2 .genius>#nav>div          {  background-color:rgba(255,255,255,0.75); }
.theme2 .genius>#nav .slider      { background-color:rgba(0,0,0,0.5); }
.theme2 .genius #map              { background-image:url("../../res/img/background/book02.svg"); background-repeat:repeat; }
.theme2 .genius>#node             { background-color:rgba(255,255,255,0.2); }
.theme2 .genius>#node #content #nav { background-color:rgba(0,0,0,0.5); }
.theme2 .genius>#node #header h1  { color:black; border:.05em solid black; background-color:rgba(255,255,255,0.8);}
.theme2 .genius>#node #menu       { background-image:url("../../res/img/background/book01.svg");
                                    background-color:rgba(255,255,255,0.8); border-radius:0; border:.05em solid black; }
.theme2 .genius>#node #content #nav { border-radius:0; background-color:rgba(255,255,255,0.8); color:black; border:.1em solid black;
                                    background-image:url("../../res/img/background/book01.svg"); }
.theme2 .genius>#node #content #subject     {  background-color:rgba(255,0,0,0.9);}

.genius>#node                     { position:absolute; top:0; left:0; width:16em; height:12em;
                                    display:none; background-color:rgba(0,0,0,0.8);}
.genius>#node #header             { width:16em; height:1.1em; position:relative;}
.genius>#node #header #quit       { position:absolute; top:0; left:0; width:1em; height:1em; cursor:pointer; font-size:1.1em;}
.genius>#node #header h1          { color:white; font-size:0.7em;
                                    width:20.7em; text-align:center; margin-top:.1em; float:left; margin-left:1.7em; }
.genius>#node #content            { width:16em; height:8.4em; position:relative; }
.genius>#node #content #nav       { position:absolute; width:8em; height:16.6em; font-size:0.5em; top:0; left:.4em;
                                    background-color:rgba(255,255,255,0.2); color:white; border-radius:.5em;
                                    background-image:url("../../res/img/background/book06.svg"); background-repeat:repeat; }
.genius>#node #content #nav .links div   { margin:.2em .5em; background-color:black; font-size:.8em; text-align:center;}
.genius>#node #content #abstract    { font-size:.5em; font-style:italic; margin:.7em; text-align:justify; height:22em; }
.genius>#node #content #abstract p  { margin-bottom:.4em; }
.genius>#node #content #subject     { font-size:0.6em; text-align:right; color:gold;
                                      width:100%; height:6em; background-color:rgba(255,0,0,0.5);}
.genius>#node #content #subject>ul  { margin-right:.5em; list-style-type: none; }
.genius>#node #menu                 { position:absolute; top:0; left:4.5em; width:11.2em; height:8.3em;
                                      background-color:rgba(255,255,255,0.1); border-radius:.2em;}

.genius #menu .slider               { background-color:rgba(255,255,255,0.2); }

.genius>#finish                     { position:absolute;  top:0; left:0; width:16em; height:12em;
                                      background-color:rgba(0,0,0,0.8); display:none;}
.genius>#finish>div                 { width:12em; height:9em; margin:1em 2em; border-radius:.25em; overflow:visible;
                                      background-image:url("../../res/img/background/complete.svg"); position:relative; }
.genius>#finish>div #next           { font-size:2em; top:3.5em; left:5em; cursor:pointer; position:absolute;}
.genius>#finish>div #newreward      { font-size:3em; left:-.5em; top:2.2em; position:absolute; display:none; }
.genius>#finish>div #label          { font-size:.6em; background-color:rgba(0,0,0,0.5); color:#fda; top:0.5em; position:absolute;
                                      width:100%; }

.theme2 .genius>#finish             { background-color:rgba(0,0,0,0); }
.theme2 .genius>#finish>div         { border-radius:0; border:.05em solid black; }
.theme2 .genius>#finish>div #label  { color:white; }