.where     { font-family:"Century Gothic", sans-serif; }
.where.active                       { cursor:none; }
.where>div                          { height:100%; }
.where div#splashex                       { background-image:url("../../res/img/banners/where.svg"); }
.where div#splashex h1                    { position:absolute; top:83%; left:2%; text-align:center; width:8em;
                                          font-size:1.5em; color:black; }
.where div#splashex #guide                { position:absolute; top:70%; left:40%; font-size:.9em; width:58%; font-style:italic;
                                          text-align:justify; }
.where                              { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;
                       position:relative;}
.where #keypad #svg                 { width:100%; height:100%; position:absolute; top:0; left:0; }
.where #board                       { width:100%; height:1.4em; font-size:.5em; overflow:hidden; }
.where #values                      { text-align:center; font-family: "Courier New" Courier monospace; overflow:hidden;
                                      width:100%; height:1.2em; }
.where #values ul                   { list-style-type:none; position:relative; top:0; left:0; padding:0;
                                      -webkit-margin-before: 0em; background-image:url("../../res/img/default/pattern/line01.svg");
                                      background-repeat:repeat; opacity:.9;}
.where #values li                   { height:1.2em; overflow:visible; white-space:nowrap; color:rgb(53,34,34); cursor:pointer; }
.where #comment                     { font-size:.4em; background-color:rgba(255,255,255,0.9);
                           position:relative; top:0; left:0; z-index:200; text-align:center; width:100%; }
.where #effects                     { position:absolute; z-index:500; font-size:4em; top:2%; left:75%;}
.where #effects>div                 { width:1em; height:1em; display:none; }


.where.h17 #values                  { height:1.7em; }
.where.h17 #values li               { height:1.7em; }

.where div#submit                   { font-size:1.5em; height:1em;width:1em; cursor:pointer;
                                      position:absolute; top:7em; left:0em; z-index:3; }
.where div#submit>img               { display:none; }
.where div#submit #subvalid         { display:inline; }

.where #values.s5 li                { background-color:limegreen; color:white;}
.where #values.s4 li                { background-color:greenyellow; color:white;}
.where #values.s3 li                { background-color:yellow; color:white;}
.where #values.s2 li                { background-color:orange; color:white;}
.where #values.s1 li                { background-color:red; color:white;}
.where #values.s0 li                { background-color:purple; color:white;}
