.where                                      { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat; position:relative;}
.where.active                               { cursor:none; }
.where>div                                  { height:100%; }
.where div#g_splash                         { background-image:url("../../res/img/background/banners/where.svg"); }
.where div#g_splash #guide_number:before    { content:"×" }
.where div#g_splash #guide_number           { position:absolute; top:25%; left:42%; font-size:4em; color:red; font-weight:bold; width:1.5em; overflow:visible; text-align:center; }
.where #wekeypad #svg                       { width:100%; height:100%; position:absolute; top:0; left:0; }
.where.novalues #wevalues                   { display:none; }
.where #wevalues                            { text-align:center; overflow:hidden; width:100%; height:1.2em; }
.where #wevalues ul                         { list-style-type:none; position:relative; top:0; left:0; padding:0; -webkit-margin-before: 0em; background-image:url("../../res/img/default/pattern/line01.svg"); background-repeat:repeat; opacity:.9;}
.where #wevalues li                         { height:1.2em; overflow:visible; white-space:nowrap; color:rgb(53,34,34); cursor:pointer; }
.where #wecomment                           { font-size:.4em; background-color:rgba(255,255,255,0.9); position:relative; top:0; left:0; z-index:200; text-align:center; width:100%; }
.where.h17 #wevalues                        { height:1.7em; }
.where.h17 #wevalues li                     { height:1.7em; }
.where #wevalues.s5 li                      { background-color:limegreen; color:white;}
.where #wevalues.s4 li                      { background-color:greenyellow; color:white;}
.where #wevalues.s3 li                      { background-color:yellow; color:white;}
.where #wevalues.s2 li                      { background-color:orange; color:white;}
.where #wevalues.s1 li                      { background-color:red; color:white;}
.where #wevalues.s0 li                      { background-color:purple; color:white;}
.where #g_effects                             { z-index:500; }
