.stories                            { background-image:url("../../res/img/default/pattern/line02.svg"); background-repeat:repeat;}
.stories>div						{ width:16em; height:12em; }
.stories div#g_splash               { background-image:url("../../res/img/background/banners/stories.svg"); }
.stories div#g_splash  h1                 { position:absolute; top:15%; left:55%; font-size:1.4em; background-color:red;
                                          width:55%; color:white; text-align:center; border-radius:0 .5em .5em 0;
                                          border:.3em solid white;
                                          -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.stories div#map					{ margin:.5em; height:11em; width:10em; border:.2em solid white; }
.stories div#board                  { font-size:1em; height:10em; width:10em; background-color:black; position:relative; }
.stories .map						{ position:absolute; }
.stories .map .elt					{ position:absolute; }

.stories .map .people .elt			{ z-index:5; }
.stories .map .people .elt.active	{ background-image:url("../../res/img/asset/fx/target01.svg"); cursor:pointer; }
.stories .map .fog .elt				{ width:1em; height:1em; background-color:rgba(200,200,200,0.8);  }
.stories .map .moves .elt			{ width:1em; height:1em; display:none; opacity:0.8; background-repeat:no-repeat; }
.stories .map .moves .elt.s			{ background-color:rgba(0,0,0,0.5); }
.stories .map .moves .elt.c			{ background-color:rgba(255,255,0,0.3); }
.stories .map .moves .elt.d.e		{ background-image:url("../../res/img/asset/fx/target03.svg"); }
.stories .map .moves .elt.d			{ background-color:rgba(255,0,0,0.5) !important; }
.stories .map .moves .elt.s.c		{ background-color:rgba(50,50,0,0.5); }
.stories .map .moves .elt.a09		{ background-image:url("../../res/img/tileset/ortho/arrows/r01.svg");  }
.stories .map .moves .elt.a19		{ background-image:url("../../res/img/tileset/ortho/arrows/r02.svg");  }
.stories .map .moves .elt.a29		{ background-image:url("../../res/img/tileset/ortho/arrows/r03.svg");  }
.stories .map .moves .elt.a39		{ background-image:url("../../res/img/tileset/ortho/arrows/r04.svg");  }
.stories .map .moves .elt.a00		{ background-image:url("../../res/img/tileset/ortho/arrows/r05.svg");  }
.stories .map .moves .elt.a11		{ background-image:url("../../res/img/tileset/ortho/arrows/r05.svg");  }
.stories .map .moves .elt.a22		{ background-image:url("../../res/img/tileset/ortho/arrows/r06.svg");  }
.stories .map .moves .elt.a33		{ background-image:url("../../res/img/tileset/ortho/arrows/r06.svg");  }
.stories .map .moves .elt.a02		{ background-image:url("../../res/img/tileset/ortho/arrows/r09.svg");  }
.stories .map .moves .elt.a03		{ background-image:url("../../res/img/tileset/ortho/arrows/r07.svg");  }
.stories .map .moves .elt.a12		{ background-image:url("../../res/img/tileset/ortho/arrows/r10.svg");  }
.stories .map .moves .elt.a13		{ background-image:url("../../res/img/tileset/ortho/arrows/r08.svg");  }
.stories .map .moves .elt.a20		{ background-image:url("../../res/img/tileset/ortho/arrows/r08.svg");  }
.stories .map .moves .elt.a21		{ background-image:url("../../res/img/tileset/ortho/arrows/r07.svg");  }
.stories .map .moves .elt.a30		{ background-image:url("../../res/img/tileset/ortho/arrows/r10.svg");  }
.stories .map .moves .elt.a31		{ background-image:url("../../res/img/tileset/ortho/arrows/r09.svg");  }
.stories .map .moves .elt.a90		{ background-image:url("../../res/img/tileset/ortho/arrows/r12.svg");  }
.stories .map .moves .elt.a91		{ background-image:url("../../res/img/tileset/ortho/arrows/r11.svg");  }
.stories .map .moves .elt.a92		{ background-image:url("../../res/img/tileset/ortho/arrows/r14.svg");  }
.stories .map .moves .elt.a93		{ background-image:url("../../res/img/tileset/ortho/arrows/r13.svg");  }


.stories .map .state				{ display:none; }
.stories .map .right .state.right	{ display:inherit; }
.stories .map .left .state.left		{ display:inherit; }
.stories .map .uright .state.uright	{ display:inherit; }
.stories .map .uleft .state.uleft	{ display:inherit; }

.stories #board .border           { background-color:rgba(255,255,255,0.5); position:absolute; top:0; left:0; display:none; z-index:32; }
.stories #board #eleft            { width:0.4em; height:11em; }
.stories #board #eright           { width:0.4em; height:11em; left:9.6em;}
.stories #board #etop             { width:11em; height:0.4em; }
.stories #board #ebottom          { width:11em; height:0.4em; top:9.6em;}

.stories #stop					{ position:absolute; font-size:5em; top:1%; left:52%; display:none; z-index:100; }
.stories #end                   { position:absolute; width:12em; height:4em;  z-index:100;top:2%; left:25%; display:none; }
.stories #endtxt                  { position:absolute; width:8em; height:1.2em; z-index:100;top:30%; left:58%; background-color:#0A0; color:white; text-align:center; border-radius:.3em; border:.1em solid white; font-size:.8em;  -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); transform: rotate(-5deg); display:none; }

.stories div#zoom					{ font-size:1em; height:1em; width:10em; background-color:gray; }
.stories div#zoom #cursor			{ height:1em; width:50%; background-color:white; cursor:move; }
.stories div#zoom #cursor.ui-draggable-dragging	{ background-color: red; }

.stories div#control				{ position:absolute; top:70%; left:66.8%; font-size:1em; width:30.5%; background-color:gray; border-radius:0 1.2em 1.2em 0; border:.2em solid white; }
.stories div#control .icon			{ cursor:pointer; border-radius:.5em; background-image:url("../../res/img/icon/tab/tab00.svg"); background-color:gray; margin:.1em; float:left; }
.stories div#control .icon.s		{ background-color:red; }
.stories div#control #endturn		{ float:right; font-size:2em; }
.stories div#control #turnid		{ position:absolute; top:65%; left:50%; font-size:.5em; background-color:gray; border:.2em solid white; color:white; width:1.2em; height:1.2em; border-radius:.6em; text-align:center; }

.stories .mask						{ position:absolute;top:0;left:0;width:16em;height:12em; background-color:rgba(0,0,0,0.8); z-index:100; display:none; }
.stories .mask>div { font-size:.5em; width:80%; height:80%; margin:5% 8%; background-image:url("../../res/img/default/pattern/line01.svg"); border:.5em solid white; overflow:visible; }
.stories .mask .quit			{ font-size:3em; position:absolute; top:2%; left:85%; cursor:pointer; border-radius:.5em; background-image:url("../../res/img/icon/tab/tab00.svg"); background-color:white; }

.stories #story #stotab				{ width:90%; height:85%; margin:0 1em;}
.stories #story #stotab>div			{ display:none; }
.stories #story #stotab .first		{ margin-top:-.2em;height:1em;font-weight:bold;float:left;font-size:4em;overflow:visible }
.stories #story #stotab .vr			{ float:right; width:24%; }

.stories #story #stonav				{ width:100%; height:1em; font-size:3em; margin-left:8%; }
.stories #story #stonav>div			{ float:left; }
.stories #story #stonav>.icon		{ cursor:pointer; }
.stories #story #stonav>.icon.d		{ opacity:0.2; }
.stories #story #stopages			{ width:60%; }
.stories #story #stopages>div		{ font-size:.5em; margin:.4em 1em; }
.stories #story #stopages .page		{ width:1em; height:1em; float:left; margin:0 .2em; background-color:#888; border-radius:.5em; border:.14em solid #444 }
.stories #story #stopages .page.s	{ background-color:#6e85fd; border:.14em solid #1f296b }

.stories #help #helpcontrol .c		{ font-size:0.9em; width:48%; height:3em; border:.1em solid black; margin:.1em; float:left; }
.stories #help #helpcontrol .icon	{ font-size:3em; border-radius:.5em; background-image:url("../../res/img/icon/tab/tab00.svg"); background-color:gray; float:left; }
.stories #help #helpcontrol .label	{ font-size:.5em; width:70%; height:6em; padding-left:.5em; }

.stories #objectives #objtitle		{ font-size:1.2em; text-align:center; border:1px solid black; border-width:0 0 .1em 0; }
.stories #objectives #objelts .elt	{ margin:.2em; border:.05em solid black; height:3em; background-color:white;}
.stories #objectives #objelts .icon { font-size:3em; float:left; }
.stories #objectives #objelts .label	{ float:left; margin-left:.5em; width:70%;height:3em;  }
.stories #objectives #objelts .elt>div	{ width:106%; }